Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, User Profile Service, Client Account Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, User Profile Deploy, Client Account Deploy, Frontend Build and Deploy

Test build Frontend:
  image: node:alpine
  services:
  - docker
  caches:
  - node
  script:
  - export IMAGE_NAME=${AWS_ECR_NAME}/${FRONTEND_IMAGE}:${BITBUCKET_COMMIT}
  - cd ${FRONTEND_SRC}
  - yarn install
  - yarn test
  - yarn lint
  - yarn build
  - yarn build-storybook

Deploy Graphologi Webhook:
  image: gioatsomoglobal/devopstools:0.2.0
  caches:
  - node
  script:
  - cd services/graphologi-integration
  - npm install
  - serverless deploy

User Profile Service:
  image: gioatsomoglobal/devopstools:0.4.3
  caches:
  - node
  script:
  - ./what2build.sh
  - cd services/userProfile
  - npm install
  - export SERVERLESS_STAGE=dev
  - ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test
  - NODE_ENV=test npm run test:coverage

Client Account Service:
  image: gioatsomoglobal/nodejs-builder:0.1
  caches:
  - node
  script:
  - ./what2build.sh
  - cd services/client-account
  - npm install
  - export SERVERLESS_STAGE=dev
  - ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test:coverage

Validate OpenAPI definitions:
  image: openapitools/openapi-generator-cli:v5.2.1
  script:
  - cd api
  - for i in *.yml; do; openapi-generator-cli validate $i; done

Deploy Scrapping Lambdas:
  image: gioatsomoglobal/devopstools:0.4.2
  services:
  - docker
  caches:
  - node
  script:
  - cd scrapping
  - npm install
  - ./scrapping_deploy.sh

Auth-Authz Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.3
  script:
  - cd services/dods-iam
  - npm install
  - NODE_ENV=test npm run test
  - NODE_ENV=test npm run test:coverage
  - serverless deploy --stage dev

User Profile Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.3
  script:
  - ./what2build.sh
  - cd services/userProfile
  - npm install
  - export SERVERLESS_STAGE=dev
  - ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test
  - NODE_ENV=test npm run test:coverage
  - serverless deploy --stage dev

Client Account Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.3
  script:
  - ./what2build.sh
  - cd services/client-account
  - npm install
  - export SERVERLESS_STAGE=dev
  - ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test
  - NODE_ENV=test npm run test:coverage
  - serverless deploy --stage dev

Frontend Build and Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.3
  deployment: Test
  services:
  - docker
  caches:
  - node
  script:
  - export IMAGE_NAME=${AWS_ECR_NAME}/${FRONTEND_IMAGE}:${BITBUCKET_COMMIT}
  - cd ${FRONTEND_SRC}
  - yarn install
  - yarn lint
  - yarn build-storybook
  - yarn test
  ...

is active in searchUsers
  services/user-profile/src/domain/interfaces/UserProfilePersisterV2.ts
  services/user-profile/src/openApi.yml
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
  services/user-profile/tests/unitTests/repositories/UserProfileRepositoryV2.test.ts
Due: none

bug(DOD-1190): account selectable on edit
  frontend/dods_pip/src/pages/account-management/add-user-form.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-1048): fix created client users appearing in team search
  frontend/dods_pip/src/pages/account-management/add-client/team.tsx
  frontend/dods_pip/src/pages/account-management/users.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-1193): missing client name in account users
  frontend/dods_pip/src/pages/accounts/users.tsx
Due: Test build Frontend, Frontend Build and Deploy

fix: consultant and admin do not count as occupied seats
  services/client-account/package-lock.json
  services/client-account/src/domain/interfaces/ClientAccountPersister.ts
  services/client-account/src/handlers/addTeamMemberToClientAccount/addTeamMemberToClientAccount.ts
  services/client-account/src/handlers/createTeamMember/createTeamMember.ts
  services/client-account/src/handlers/getRemainingSeats/getRemainingSeats.ts
  services/client-account/src/repositories/ClientAccountRepository.ts
  services/client-account/tests/unitTests/handlers/addTeamMemberToClientAccount.test.ts
  services/client-account/tests/unitTests/handlers/getRemainingSeats.test.ts
  services/client-account/tests/unitTests/repositories/ClientAccountRepository.test.ts
Due: Client Account Service, Client Account Deploy

bug(DOD-1194): missing created user chip name
  frontend/dods_pip/src/lib/useTeamMembers.tsx
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
  frontend/dods_pip/src/pages/account-management/add-client/team.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/team.tsx
  frontend/dods_pip/src/pages/account-management/add-client/type.tsx
  frontend/dods_pip/src/pages/account-management/users.page.tsx
  frontend/dods_pip/src/pages/accounts/summary.tsx
  frontend/dods_pip/src/pages/accounts/users.tsx
  frontend/dods_pip/src/pages/users/[id].page.tsx
  frontend/dods_pip/src/utils/string.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-1190): SearchDropDown bug
  frontend/dods_pip/src/components/_form/SearchDropdown/index.tsx
  frontend/dods_pip/src/pages/account-management/add-user-form.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-1197): fix client created as consultant
  frontend/dods_pip/src/pages/account-management/add-user.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-1196): edit user fix
  frontend/dods_pip/src/pages/api/users/[uuid]/index.page.tsx
  frontend/dods_pip/src/pages/users/[id].page.tsx
Due: Test build Frontend, Frontend Build and Deploy

validate occupied seats before updating clientAccount
  services/client-account/src/handlers/updateClientAccount/updateClientAccount.ts
Due: Client Account Service, Client Account Deploy

DOD-1149 Complete remove tooltips anchor tags from content
  scrapping/contentMigration/stage1/serverless.yml
  scrapping/contentMigration/stage2/handler.py
  scrapping/contentMigration/stage2/serverless.yml
Due: Deploy Scrapping Lambdas

bug(DOD-878): fix reset email bug
  frontend/dods_pip/src/pages/api/forgotPassword.page.tsx
  frontend/dods_pip/src/pages/users/[id].page.tsx
Due: Test build Frontend, Frontend Build and Deploy

Converting the response of forgot password into an object.
  services/dods-iam/src/handlers/http/forgotPassword/forgotPassword.ts
Due: Auth-Authz Deploy

errorMessage was changed to error object.
  services/dods-iam/src/handlers/http/forgotPassword/forgotPassword.ts
Due: Auth-Authz Deploy

bug(DOD-1191): missing create user redirect
  frontend/dods_pip/src/pages/account-management/add-user.page.tsx
  frontend/dods_pip/src/pages/account-management/users.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

It is not allowed to save the user multiple times
  services/client-account/src/handlers/addTeamMemberToClientAccount/addTeamMemberToClientAccount.ts
Due: Client Account Service, Client Account Deploy

bug(DOD-1209): fix inactive users can log in
  frontend/dods_pip/src/lib/fetchJson.tsx
  frontend/dods_pip/src/pages/index.page.tsx
  frontend/dods_pip/src/pages/users/[id].page.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-1214): refetch users seats after subscription edit
  frontend/dods_pip/src/pages/accounts/summary.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-1214): improvement on refetch seats
  frontend/dods_pip/src/pages/accounts/[id].page.tsx
  frontend/dods_pip/src/pages/accounts/summary.tsx
  frontend/dods_pip/src/pages/accounts/users.tsx
Due: Test build Frontend, Frontend Build and Deploy

added package lock
  services/taxonomy-service/package-lock.json
  services/taxonomy-service/src/repositories/Taxonomy.ts
  services/taxonomy-service/src/repositories/TaxonomyRepository.ts
Due: none

Added FR and DE search
  services/taxonomy-service/src/repositories/TaxonomyRepository.ts
Due: none

DOD-1082 - Modified Debates HOL UK scraper to the new data model
  scrapping/contentMigration/stage1/handler.py
  scrapping/debates-hol-uk/handler.py
  scrapping/debates-hol-uk/inner_utils.py
  scrapping/debates-hol-uk/package-lock.json
Due: Deploy Scrapping Lambdas

dod-1217: isActive field is added in error case
  services/dods-iam/src/domain/interfaces/UserProfile.ts
  services/dods-iam/src/handlers/http/signIn/signIn.ts
Due: Auth-Authz Deploy

Fix frontend deployment pipeline for production environment
  bitbucket-pipelines.yml
Due: none

Frontend deployment pipeline for production environment needed more resources
  bitbucket-pipelines.yml
Due: none

Frontend service takes too long to drain old tasks
  bitbucket-pipelines.yml
Due: none

Cognito configuration for using SES for email notification
  services/dods-iam/serverless.yml
Due: Auth-Authz Deploy

adjusted debounce function
  frontend/dods_pip/src/pages/account-management/add-client/team.tsx
Due: Test build Frontend, Frontend Build and Deploy

Increased timeout for lambdas
  services/client-account/serverless.yml
  services/documents/serverless.yml
  services/editorial-workflow/serverless.yml
  services/graphologi-integration/serverless.yml
  services/search-service/serverless.yml
  services/taxonomy-service/serverless.yml
  services/user-profile/serverless.yml
Due: Deploy Graphologi Webhook, Client Account Service, Client Account Deploy

bug(DOD-1172): fix jumping chips
  frontend/dods_pip/src/components/Chips/Chips.styles.tsx
  frontend/dods_pip/src/components/Chips/Chips.test.tsx
  frontend/dods_pip/src/components/Chips/index.tsx
  frontend/dods_pip/src/components/Text/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

fixed a typo
  frontend/dods_pip/src/pages/account-management/add-client/team.tsx
Due: Test build Frontend, Frontend Build and Deploy

Added wildcard search
  services/taxonomy-service/src/repositories/TaxonomyRepository.ts
  services/taxonomy-service/tests/unitTests/repositories/TaxonomyRepository.test.ts
Due: none

security validation flag is added
  dods-lambda/src/index.ts
  dods-lambda/src/middlewares/corsMiddleware.ts
  dods-lambda/src/middlewares/errorMiddleware.ts
  dods-lambda/src/middlewares/openApiValidatorMiddleware.ts
  dods-lambda/src/validation/GenericOpenApiValidator.ts
  services/boilerplate/src/handlers/getFullName/index.ts
  services/boilerplate/src/handlers/health/index.ts
  services/boilerplate/src/handlers/sayEnglishHello/index.ts
  services/boilerplate/src/handlers/sayHello/index.ts
  services/boilerplate/src/handlers/sayTurkishHello/index.ts
Due: none

added taxonomy service module with s3 bucket
  infrastructure-terraform/environments/deployment/main.tf
  infrastructure-terraform/environments/deployment/services/taxonomy/main.tf
  infrastructure-terraform/environments/deployment/services/taxonomy/modules/s3/main.tf
  infrastructure-terraform/environments/deployment/services/taxonomy/modules/s3/templates/bucket-policy.tpl
  infrastructure-terraform/environments/deployment/services/taxonomy/modules/s3/variables.tf
  infrastructure-terraform/environments/deployment/services/taxonomy/output.tf
  infrastructure-terraform/environments/deployment/services/taxonomy/variables.tf
Due: none

fix(DOD-1208): adds user level restrictions to accounts page
  frontend/dods_pip/src/pages/accounts/[id].page.tsx
  frontend/dods_pip/src/pages/accounts/collections.tsx
  frontend/dods_pip/src/pages/accounts/users.tsx
Due: Test build Frontend, Frontend Build and Deploy

fixed missing account and email
  frontend/dods_pip/src/pages/account-management/users.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

Added ancestor terms
  services/graphologi-integration/handler.js
  services/graphologi-integration/index.js
  services/graphologi-integration/package.json
  services/graphologi-integration/taxonomyImport.py
Due: Deploy Graphologi Webhook

Updated queries
  services/taxonomy-service/src/domain/interfaces/index.ts
  services/taxonomy-service/src/repositories/TaxonomyRepository.ts
Due: none

Point dev environment to right ALB [skip ci]
  infrastructure-terraform/env-config.dev.js
Due: none

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  User Profile Service: any of: services/userProfile/**
  Client Account Service: any of: services/client-account/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  User Profile Deploy: any of: services/userProfile/**
  Client Account Deploy: any of: services/client-account/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**
