Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, User Profile Service, Client Account Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, User Profile Deploy, Client Account Deploy, Frontend Build and Deploy

Test build Frontend:
  image: node:alpine
  services:
  - docker
  caches:
  - node
  script:
  - export IMAGE_NAME=${AWS_ECR_NAME}/${FRONTEND_IMAGE}:${BITBUCKET_COMMIT}
  - cd ${FRONTEND_SRC}
  - yarn install
  - yarn test
  - yarn lint
  - yarn build
  - yarn build-storybook

Deploy Graphologi Webhook:
  image: gioatsomoglobal/devopstools:0.2.0
  caches:
  - node
  script:
  - cd services/graphologi-integration
  - npm install
  - serverless deploy

User Profile Service:
  image: gioatsomoglobal/devopstools:0.4.3
  caches:
  - node
  script:
  - ./what2build.sh
  - cd services/userProfile
  - npm install
  - export SERVERLESS_STAGE=dev
  - ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test
  - NODE_ENV=test npm run test:coverage

Client Account Service:
  image: gioatsomoglobal/nodejs-builder:0.1
  caches:
  - node
  script:
  - ./what2build.sh
  - cd services/client-account
  - npm install
  - export SERVERLESS_STAGE=dev
  - ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test:coverage

Validate OpenAPI definitions:
  image: openapitools/openapi-generator-cli:v5.2.1
  script:
  - cd api
  - for i in *.yml; do; openapi-generator-cli validate $i; done

Deploy Scrapping Lambdas:
  image: gioatsomoglobal/devopstools:0.4.2
  services:
  - docker
  caches:
  - node
  script:
  - cd scrapping
  - npm install
  - ./scrapping_deploy.sh

Auth-Authz Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.3
  script:
  - cd services/dods-iam
  - npm install
  - NODE_ENV=test npm run test
  - NODE_ENV=test npm run test:coverage
  - serverless deploy --stage dev

User Profile Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.3
  script:
  - ./what2build.sh
  - cd services/userProfile
  - npm install
  - export SERVERLESS_STAGE=dev
  - ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test
  - NODE_ENV=test npm run test:coverage
  - serverless deploy --stage dev

Client Account Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.3
  script:
  - ./what2build.sh
  - cd services/client-account
  - npm install
  - export SERVERLESS_STAGE=dev
  - ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test
  - NODE_ENV=test npm run test:coverage
  - serverless deploy --stage dev

Frontend Build and Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.3
  deployment: Test
  services:
  - docker
  caches:
  - node
  script:
  - export IMAGE_NAME=${AWS_ECR_NAME}/${FRONTEND_IMAGE}:${BITBUCKET_COMMIT}
  - cd ${FRONTEND_SRC}
  - yarn install
  - yarn lint
  - yarn build-storybook
  - yarn test
  ...

DOD-616 Add taxonomy terms into documents
  scrapping/contentMigration/stage1/handler.py
Due: Deploy Scrapping Lambdas

Fix Create Client (accountId)
  frontend/dods_pip/src/pages/account-management/add-client/index.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

DOD-917 - Modal Edit dods team settings
  frontend/dods_pip/src/components/Modal/Modal.styles.tsx
  frontend/dods_pip/src/components/SectionAccordion/index.tsx
  frontend/dods_pip/src/pages/account-management/add-client/account-info.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/account-info.tsx
  frontend/dods_pip/src/pages/account-management/add-client/add-client.tsx
  frontend/dods_pip/src/pages/account-management/add-client/subscription.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/subscription.tsx
  frontend/dods_pip/src/pages/account-management/add-client/team.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/team.tsx
  frontend/dods_pip/src/pages/accounts/[id].page.tsx
  frontend/dods_pip/src/pages/accounts/summary.test.tsx
  frontend/dods_pip/src/pages/accounts/summary.tsx
Due: Test build Frontend, Frontend Build and Deploy

minor css padding update
  frontend/dods_pip/src/pages/accounts/index.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

Add organisation endpoint
  services/taxonomy-service/serverless.yml
  services/taxonomy-service/src/handlers/taxonomyOrganisationsTree/index.ts
  services/taxonomy-service/src/handlers/taxonomyOrganisationsTree/taxonomyTree.ts
  services/taxonomy-service/src/handlers/taxonomyTopicsTree/index.ts
  services/taxonomy-service/src/handlers/taxonomyTopicsTree/taxonomyTree.ts
  services/taxonomy-service/src/repositories/Taxonomy.ts
  services/taxonomy-service/src/repositories/TaxonomyRepository.ts
Due: none

feat(DOD-591): adds editorial page
  frontend/dods_pip/.husky/pre-commit
  frontend/dods_pip/src/components/Modal/index.tsx
  frontend/dods_pip/src/globals/media.tsx
  frontend/dods_pip/src/pages/account-management/accounts.test.tsx
  frontend/dods_pip/src/pages/api/content-sources.page.tsx
  frontend/dods_pip/src/pages/api/editorial-record-status.page.tsx
  frontend/dods_pip/src/pages/api/editorial-record.page.tsx
  frontend/dods_pip/src/pages/api/information-types.page.tsx
  frontend/dods_pip/src/pages/editorial.page.styles.tsx
  frontend/dods_pip/src/pages/editorial.page.test.tsx
  frontend/dods_pip/src/pages/editorial.page.tsx
  frontend/dods_pip/src/utils/api.tsx
Due: Test build Frontend, Frontend Build and Deploy

DOD-917 - Fix logic for showToggle
  frontend/dods_pip/src/pages/account-management/add-client/team.tsx
Due: Test build Frontend, Frontend Build and Deploy

fix(DOD-973): fixes search box width expanding
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
  frontend/dods_pip/src/pages/account-management/accounts.styles.tsx
  frontend/dods_pip/src/pages/editorial.page.styles.tsx
  frontend/dods_pip/src/pages/editorial.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

seed data for client account, subscriptions and roles local env
  dods-model/src/db/models/ClientAccount.ts
  dods-model/src/db/seeders/20211133000004-seed-dods_subscriptions.ts
  dods-model/src/db/seeders/20211133000005-seed-dods-client-account.ts
Due: none

DOD-1038 Improvement - FE - Team - Error message after adding more team members that the ones available is not clear.
  frontend/dods_pip/src/lib/fetchJson.tsx
Due: Test build Frontend, Frontend Build and Deploy

DOD-1056 Fix for consultantHours when null or not a number
  frontend/dods_pip/src/pages/accounts/summary.tsx
Due: Test build Frontend, Frontend Build and Deploy

status sort by status name
  services/editorial-workflow/src/repositories/EditorialRecordRepository.ts
Due: none

feat(DOD-587): progress
  frontend/dods_pip/src/components/ContentTagger/ContentTagger.styles.tsx
  frontend/dods_pip/src/components/ContentTagger/index.tsx
  frontend/dods_pip/src/components/_form/Checkbox/index.tsx
  frontend/dods_pip/src/components/_form/Toggle/Toggle.styles.tsx
  frontend/dods_pip/src/components/_form/Toggle/index.tsx
  frontend/dods_pip/src/mocks/data/tagging.json
  frontend/dods_pip/src/pages/tagger.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

Configure services to use new API Gateway
  bitbucket-pipelines.yml
  frontend/dods_pip/.noop
  infra/copilot/frontend-dods-pip/manifest.yml
  infrastructure-terraform/env-config.dev.js
  infrastructure-terraform/env-config.production.js
  infrastructure-terraform/env-config.qa.js
  infrastructure-terraform/env-config.test.js
  services/apig.dev.yml
  services/apig.qa.yml
  services/client-account/package-lock.json
  services/client-account/serverless.yml
  services/documents/package-lock.json
  services/documents/serverless.yml
  services/editorial-workflow/serverless.yml
  services/taxonomy-service/serverless.yml
  services/user-profile/serverless.yml
Due: Test build Frontend, Client Account Service, Client Account Deploy, Frontend Build and Deploy

Disabled test on Document service
  bitbucket-pipelines.yml
Due: none

Enable private NPM pull for taxonomy-service
  services/taxonomy-service/.npmrc
Due: none

initial commit
  frontend/dods_pip/src/pages/account-management/users.test.tsx
Due: Test build Frontend, Frontend Build and Deploy

initial commit
  frontend/dods_pip/src/pages/account-management/users.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

added ui
  frontend/dods_pip/src/pages/account-management/users.page.tsx
  frontend/dods_pip/src/pages/account-management/users.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

initial commit
  frontend/dods_pip/src/pages/account-management/users.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

initial commit
  frontend/dods_pip/src/mocks/data/users-accounts.json
Due: Test build Frontend, Frontend Build and Deploy

mock user data
  frontend/dods_pip/src/mocks/data/users-accounts.json
Due: Test build Frontend, Frontend Build and Deploy

minor update
  frontend/dods_pip/src/pages/account-management/users.page.tsx
  frontend/dods_pip/src/pages/account-management/users.test.tsx
Due: Test build Frontend, Frontend Build and Deploy

removed console log and unused variable
  frontend/dods_pip/src/pages/account-management/users.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

button in header fix
  frontend/dods_pip/src/components/SectionAccordion/SectionAccordion.test.tsx
  frontend/dods_pip/src/components/SectionAccordion/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

adding debates title in output
  scrapping/debates-hoc-uk/handler.py
Due: Deploy Scrapping Lambdas

DOD-916 Fixes consultantHours + Summay end date type text
  frontend/dods_pip/src/pages/account-management/add-client/add-client.tsx
  frontend/dods_pip/src/pages/accounts/summary.tsx
Due: Test build Frontend, Frontend Build and Deploy

made query string optional
  frontend/dods_pip/src/pages/api/users.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

searchUser bugfix and dods-model is updated and published new version
  dods-model/package-lock.json
  dods-model/package.json
  dods-model/src/db/models/User.ts
  services/user-profile/package-lock.json
  services/user-profile/package.json
  services/user-profile/serverless.yml
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
Due: none

bug(DOD-789): improve email validation
  frontend/dods_pip/src/utils/validation.test.tsx
  frontend/dods_pip/src/utils/validation.tsx
Due: Test build Frontend, Frontend Build and Deploy

Test fixes
  services/taxonomy-service/tests/unitTests/handlers/taxonomyTree.test.ts
  services/taxonomy-service/tests/unitTests/repositories/TaxonomyRepository.test.ts
Due: none

Disabled unit testing for user-profile deployment
  bitbucket-pipelines.yml
Due: none

API Gateway environment variables to ECS Task Definition
  infrastructure-terraform/environments/deployment/env_configs.tf
  infrastructure-terraform/environments/deployment/main.tf
  infrastructure-terraform/environments/deployment/output.tf
  infrastructure-terraform/environments/deployment/services/api-gateway/output.tf
  infrastructure-terraform/environments/deployment/services/client-profile-database/output.tf
  infrastructure-terraform/environments/deployment/services/pip-network/main.tf
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/main.tf
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/templates/app.json.tpl
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/templates/fargate_app.json.tpl
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/variables.tf
  infrastructure-terraform/environments/deployment/services/pip-network/variables.tf
  infrastructure-terraform/output.tf
  infrastructure-terraform/templates/env-config.js.tpl
Due: none

restored file
  frontend/dods_pip/src/components/SectionAccordion/SectionAccordion.test.tsx
  frontend/dods_pip/src/components/SectionAccordion/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

moved stopPropagation to button
  frontend/dods_pip/src/pages/accounts/collections.tsx
  frontend/dods_pip/src/pages/accounts/users.tsx
Due: Test build Frontend, Frontend Build and Deploy

bugfix: name is included in sql query
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
Due: none

refactored to use api
  frontend/dods_pip/src/pages/account-management/users.page.tsx
  frontend/dods_pip/src/pages/api/users.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

added mock data
  frontend/dods_pip/src/pages/account-management/mockUsersData.tsx
Due: Test build Frontend, Frontend Build and Deploy

updated test
  frontend/dods_pip/src/pages/account-management/mockUsersData.tsx
  frontend/dods_pip/src/pages/account-management/users.page.tsx
  frontend/dods_pip/src/pages/account-management/users.test.tsx
Due: Test build Frontend, Frontend Build and Deploy

Updated terraform configuration [skip-ci]
  infrastructure-terraform/env-config.dev.js
  infrastructure-terraform/env-config.production.js
  infrastructure-terraform/env-config.qa.js
  infrastructure-terraform/env-config.test.js
Due: none

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  User Profile Service: any of: services/userProfile/**
  Client Account Service: any of: services/client-account/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  User Profile Deploy: any of: services/userProfile/**
  Client Account Deploy: any of: services/client-account/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**
