Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, User Profile Service, Client Account Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, User Profile Deploy, Client Account Deploy, Frontend Build and Deploy

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  User Profile Service: any of: services/userProfile/**
  Client Account Service: any of: services/client-account/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  User Profile Deploy: any of: services/userProfile/**
  Client Account Deploy: any of: services/client-account/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**

Throwing file not found error
  services/editorial-workflow/.gitignore
  services/editorial-workflow/.npmignore
  services/editorial-workflow/README.md
  services/editorial-workflow/index.ts
  services/editorial-workflow/package-lock.json
  services/editorial-workflow/package.json
  services/editorial-workflow/serverless.yml
  services/editorial-workflow/src/domain/config/index.ts
  services/editorial-workflow/src/domain/error/EventBridgeError.ts
  services/editorial-workflow/src/domain/error/HttpError.ts
  services/editorial-workflow/src/domain/error/index.ts
  services/editorial-workflow/src/domain/http/HttpResponse.ts
  services/editorial-workflow/src/domain/http/HttpStatusCode.ts
  services/editorial-workflow/src/domain/http/index.ts
  services/editorial-workflow/src/domain/index.ts
  services/editorial-workflow/src/handlers/createEditorialWorkflow/createEditorialWorkflow.ts
  services/editorial-workflow/src/handlers/createEditorialWorkflow/index.ts
  services/editorial-workflow/src/index.ts
  services/editorial-workflow/src/middlewares/errorMiddleware.ts
  services/editorial-workflow/src/middlewares/eventLogerMiddleware.ts
  services/editorial-workflow/src/middlewares/httpLogerMiddleware.ts
  services/editorial-workflow/src/middlewares/index.ts
  services/editorial-workflow/src/middlewares/openApiValidatorMiddleware.ts
  services/editorial-workflow/src/utility/EventBus.ts
  services/editorial-workflow/src/utility/Logger.ts
  services/editorial-workflow/src/utility/index.ts
  services/editorial-workflow/src/utility/stage.ts
  services/editorial-workflow/src/validation/GenericOpenApiValidator.ts
  services/editorial-workflow/src/validation/HttpRequest.ts
  services/editorial-workflow/src/validation/OpenApiAdaptedRequest.ts
  services/editorial-workflow/src/validation/awsOpenApiRequestAdapter.ts
  services/editorial-workflow/src/validation/index.ts
  services/editorial-workflow/tsconfig.json
  services/editorial-workflow/webpack.config.js
Due: none

VPC configuration for Lambda
  services/client-account/serverless.yml
Due: Client Account Service, Client Account Deploy

Update pipeline to support folder rename for user profile services
  bitbucket-pipelines.yml
Due: none

(dod-519) init perfection
  infrastructure-terraform/README.md
  infrastructure-terraform/environments/deployment/main.tf
  infrastructure-terraform/environments/deployment/services/client-profile-database/main.tf
  infrastructure-terraform/environments/deployment/services/client-profile-database/modules/rds/main.tf
  infrastructure-terraform/environments/deployment/services/client-profile-database/modules/rds/variables.tf
  infrastructure-terraform/environments/deployment/services/client-profile-database/variables.tf
  infrastructure-terraform/environments/deployment/services/devtools/main.tf
  infrastructure-terraform/environments/deployment/services/devtools/variables.tf
  infrastructure-terraform/environments/deployment/services/editorial/main.tf
  infrastructure-terraform/environments/deployment/services/editorial/modules/dynamodb/main.tf
  infrastructure-terraform/environments/deployment/services/editorial/modules/dynamodb/variables.tf
  infrastructure-terraform/environments/deployment/services/editorial/variables.tf
  infrastructure-terraform/environments/deployment/services/pip-network/main.tf
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/main.tf
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/templates/app.json.tpl
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/templates/fargate_app.json.tpl
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/variables.tf
  infrastructure-terraform/environments/deployment/services/pip-network/variables.tf
  infrastructure-terraform/environments/deployment/services/vpc/main.tf
  infrastructure-terraform/environments/deployment/services/vpc/output.tf
  infrastructure-terraform/environments/deployment/variables.tf
  infrastructure-terraform/main.tf
  infrastructure-terraform/provider.tf
  infrastructure-terraform/variables.tf
Due: none

(dod-519) fixed table name
  infrastructure-terraform/environments/deployment/services/editorial/modules/dynamodb/main.tf
Due: none

Added outputs and SSM parameters to hook with Serverless Framework
  infrastructure-terraform/.terraform.lock.hcl
  infrastructure-terraform/README.md
  infrastructure-terraform/env_configs.tf
  infrastructure-terraform/environments/deployment/env_configs.tf.DNU
  infrastructure-terraform/environments/deployment/output.tf
  infrastructure-terraform/environments/deployment/parameters.tf
  infrastructure-terraform/environments/deployment/services/client-profile-database/modules/rds/main.tf
  infrastructure-terraform/environments/deployment/services/client-profile-database/output.tf
  infrastructure-terraform/environments/deployment/services/vpc/main.tf
  infrastructure-terraform/main.tf
  infrastructure-terraform/output.tf
  infrastructure-terraform/templates/vpc.js.tpl
  infrastructure-terraform/vpc.dev.js
  infrastructure-terraform/vpc.qa.js
Due: none

DOD-334 scrapping code
  scrapping/debates-hoc-uk/handler.py
  scrapping/debates-hoc-uk/inner_utils.py
  scrapping/debates-hoc-uk/requirements.txt
Due: Deploy Scrapping Lambdas

DOD 335 scrapping code
  scrapping/debates-hol-uk/handler.py
  scrapping/debates-hol-uk/inner_utils.py
  scrapping/debates-hol-uk/requirements.txt
  scrapping/debates-hol-uk/serverless.yml
Due: Deploy Scrapping Lambdas

Update serverless file
  scrapping/debates-hoc-uk/serverless.yml
Due: Deploy Scrapping Lambdas

create editorial workflow record
  api/EditorialWorkflow.yml
  services/editorial-workflow/setenv.sh
  services/editorial-workflow/src/dynamodb/index.ts
  services/editorial-workflow/src/handlers/createEditorialRecord/createEditorialRecord.ts
  services/editorial-workflow/src/handlers/createEditorialRecord/index.ts
  services/editorial-workflow/src/repositories/EditorialRecordRepository.ts
  services/editorial-workflow/src/repositories/EditorialRepository.ts
  services/editorial-workflow/tests/integrationTests/features/createEditorialRecord.feature
  services/editorial-workflow/tests/integrationTests/step-definitions/createEditorialRecordSteps.ts
  services/editorial-workflow/tests/unitTests/handlers/createEditorialRecord.test.ts
  services/editorial-workflow/tests/unitTests/repositories/editorialRecordRepository.test.ts
Due: Validate OpenAPI definitions

create editorial workflow record
  services/editorial-workflow/package-lock.json
  services/editorial-workflow/package.json
  services/editorial-workflow/serverless.yml
  services/editorial-workflow/setenv.sh
  services/editorial-workflow/src/domain/interfaces/index.ts
  services/editorial-workflow/src/handlers/createEditorialRecord/createEditorialRecord.ts
  services/editorial-workflow/src/handlers/createEditorialWorkflow/createEditorialWorkflow.ts
  services/editorial-workflow/src/handlers/createEditorialWorkflow/index.ts
  services/editorial-workflow/src/openApi.yml
  services/editorial-workflow/src/repositories/EditorialRecordRepository.ts
  services/editorial-workflow/tests/integrationTests/downstreamDefinitions/GetFullNameService.yml
  services/editorial-workflow/tests/integrationTests/downstreamDefinitions/GreetingEnglishService.yml
  services/editorial-workflow/tests/integrationTests/downstreamDefinitions/GreetingTurkishService.yml
  services/editorial-workflow/tests/integrationTests/features/greeting.feature
  services/editorial-workflow/tests/integrationTests/step-definitions/commonSteps.ts
  services/editorial-workflow/tests/integrationTests/step-definitions/greetingSteps.ts
  services/editorial-workflow/tests/unitTests/repositories/editorialRecordRepository.test.ts
  services/editorial-workflow/tsconfig.json
Due: none

feat(DODS-382): notifications
  frontend/dods_pip/jest.config.js
  frontend/dods_pip/src/components/Icon/assets/icon-alert.svg
  frontend/dods_pip/src/components/Icon/assets/icon-info.svg
  frontend/dods_pip/src/components/Icon/assets/icon-issue.svg
  frontend/dods_pip/src/components/Icon/assets/index.tsx
  frontend/dods_pip/src/components/Notification/Notification.stories.tsx
  frontend/dods_pip/src/components/Notification/Notification.styles.tsx
  frontend/dods_pip/src/components/Notification/Notification.test.tsx
  frontend/dods_pip/src/components/Notification/index.tsx
  frontend/dods_pip/src/globals/elevation.tsx
  frontend/dods_pip/src/hoc/LoadingHOC/LoadingHOC.styles.tsx
  frontend/dods_pip/src/hoc/LoadingHOC/LoadingHOC.test.tsx
  frontend/dods_pip/src/hoc/LoadingHOC/index.tsx
  frontend/dods_pip/src/pages/account-management/accounts.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/index.test.tsx
  frontend/dods_pip/src/pages/dashboard.test.tsx
  frontend/dods_pip/src/pages/notifications.page.tsx
  frontend/dods_pip/src/pages/password-reset.test.tsx
  frontend/dods_pip/src/pages/reset-password.test.tsx
  frontend/dods_pip/src/utils/array.test.tsx
  frontend/dods_pip/src/utils/array.tsx
Due: Test build Frontend, Frontend Build and Deploy

Tidbits to get this service to build on the pipeline
  services/editorial-workflow/.npmrc
  services/editorial-workflow/package-lock.json
  services/editorial-workflow/serverless.yml
Due: none

fix environments
  infrastructure-terraform/main.tf
  infrastructure-terraform/provider.tf
  infrastructure-terraform/variables.tf
Due: none

added password to bitbucket
  bitbucket-pipelines.yml
  infrastructure-terraform/.terraform.lock.hcl
Due: none

fix update update client account in db
  services/client-account/package-lock.json
  services/client-account/src/db/models/ClientAccount.ts
  services/client-account/src/repositories/ClientAccountRepository.ts
  services/client-account/tests/unitTests/repositories/ClientAccountRepository.test.ts
Due: Client Account Service, Client Account Deploy

fix: correctly set role for user
  services/user-profile/src/db/models/UserProfile.ts
  services/user-profile/src/repositories/UserProfileRepository.ts
  services/user-profile/tests/unitTests/repositories/UserProfileRepository.test.ts
Due: none

Added jump box and Fixed security group configurations
  infrastructure-terraform/env_configs.tf.DNU
  infrastructure-terraform/environments/deployment/env_configs.tf
  infrastructure-terraform/environments/deployment/output.tf
  infrastructure-terraform/environments/deployment/parameters.tf
  infrastructure-terraform/environments/deployment/services/client-profile-database/modules/rds/main.tf
  infrastructure-terraform/environments/deployment/services/client-profile-database/modules/rds/variables.tf
  infrastructure-terraform/environments/deployment/services/client-profile-database/output.tf
  infrastructure-terraform/environments/deployment/services/vpc/main.tf
  infrastructure-terraform/output.tf
  infrastructure-terraform/vpc.dev.js
  infrastructure-terraform/vpc.production.js
  infrastructure-terraform/vpc.qa.js
  infrastructure-terraform/vpc.test.js
Due: none

Configuration for TF -> serverless
  infrastructure-terraform/vpc.dev.js
  infrastructure-terraform/vpc.qa.js
  services/client-account/mariadb/sql/dods-db.sql
  services/client-account/serverless.yml
  services/client-account/src/handlers/createClientAccount/index.ts
  services/client-account/src/handlers/getClientAccount/index.ts
Due: Client Account Service, Client Account Deploy

healthcheck test
  services/client-account/src/handlers/health/health.ts
Due: Client Account Service, Client Account Deploy

chore(DOD-487): add bold chevron variants
  frontend/dods_pip/src/components/Icon/assets/icon-chevronDown.svg
  frontend/dods_pip/src/components/Icon/assets/icon-chevronDownBold.svg
  frontend/dods_pip/src/components/Icon/assets/icon-chevronLeft.svg
  frontend/dods_pip/src/components/Icon/assets/icon-chevronLeftBold.svg
  frontend/dods_pip/src/components/Icon/assets/icon-chevronRight.svg
  frontend/dods_pip/src/components/Icon/assets/icon-chevronRightBold.svg
  frontend/dods_pip/src/components/Icon/assets/icon-chevronUp.svg
  frontend/dods_pip/src/components/Icon/assets/icon-chevronUpBold.svg
  frontend/dods_pip/src/components/Icon/assets/index.tsx
  frontend/dods_pip/src/components/Pagination/index.tsx
  frontend/dods_pip/src/components/_form/Select/Select.test.tsx
  frontend/dods_pip/src/components/_form/Select/index.tsx
  frontend/dods_pip/src/components/_form/SelectMulti/SelectMulti.test.tsx
  frontend/dods_pip/src/components/_form/SelectMulti/index.tsx
  frontend/dods_pip/src/components/_layout/PageActions/index.tsx
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
  frontend/dods_pip/src/pages/account-management/accounts.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/account-info.tsx
  frontend/dods_pip/src/pages/account-management/add-client/subscription.tsx
  frontend/dods_pip/src/pages/account-management/add-client/team.tsx
Due: Test build Frontend, Frontend Build and Deploy

feat(DOD-487): accordion improvements and add to team page
  frontend/dods_pip/src/components/SectionAccordion/SectionAccordion.stories.tsx
  frontend/dods_pip/src/components/SectionAccordion/SectionAccordion.styles.tsx
  frontend/dods_pip/src/components/SectionAccordion/SectionAccordion.test.tsx
  frontend/dods_pip/src/components/SectionAccordion/index.tsx
  frontend/dods_pip/src/pages/account-management/add-client/team.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/team.tsx
Due: Test build Frontend, Frontend Build and Deploy

Add db-test lambda function to try direct and loggable connections to the DB
  infrastructure-terraform/vpc.dev.js
  infrastructure-terraform/vpc.production.js
  infrastructure-terraform/vpc.test.js
  services/db-test/.gitignore
  services/db-test/handler.js
  services/db-test/helpers.js
  services/db-test/package-lock.json
  services/db-test/package.json
  services/db-test/serverless.yml
  services/vpc.dev.js
  services/vpc.qa.js
Due: none

DOD-452 - Add date parameter into hash's method
  scrapping/debates-hoc-uk/handler.py
  scrapping/debates-hol-uk/handler.py
  scrapping/debates-nir/handler.py
  scrapping/oral-questions-hoc-uk/handler.py
  scrapping/oral-questions-hol-uk/handler.py
  scrapping/writtenQuestions-hoc-uk/handler.py
  scrapping/writtenQuestions-hol-uk/handler.py
Due: Deploy Scrapping Lambdas

DOD-452 - Add Content Jurisdiction to the Metadata
  scrapping/debates-hoc-uk/handler.py
  scrapping/debates-hol-uk/handler.py
  scrapping/debates-nir/handler.py
  scrapping/oral-questions-hoc-uk/handler.py
  scrapping/oral-questions-hol-uk/handler.py
  scrapping/writtenQuestions-hoc-uk/handler.py
  scrapping/writtenQuestions-hol-uk/handler.py
Due: Deploy Scrapping Lambdas

bug(DOD-563): picker auto length
  frontend/dods_pip/src/components/_form/InputBase/index.tsx
  frontend/dods_pip/src/components/_form/SelectMulti/SelectMulti.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-563): picker length
  frontend/dods_pip/src/components/_form/InputBase/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

Fix security group for lamdbas exported as js files
  infrastructure-terraform/environments/deployment/env_configs.tf
  infrastructure-terraform/environments/deployment/services/client-profile-database/modules/rds/main.tf
  infrastructure-terraform/environments/deployment/services/vpc/main.tf
  infrastructure-terraform/vpc.dev.js
  infrastructure-terraform/vpc.production.js
  infrastructure-terraform/vpc.qa.js
  infrastructure-terraform/vpc.test.js
Due: none

Clean up
  infrastructure-terraform/vpc.dev.js
  infrastructure-terraform/vpc.production.js
  infrastructure-terraform/vpc.qa.js
  infrastructure-terraform/vpc.test.js
  services/db-test/.gitignore
  services/db-test/handler.js
  services/db-test/helpers.js
  services/db-test/package-lock.json
  services/db-test/package.json
  services/db-test/serverless.yml
Due: none

Less crazy husky pre-commit script
  services/client-account/.husky/pre-commit
  services/client-account/dev.env
  services/client-account/src/handlers/health/health.ts
  services/vpc.production.js
  services/vpc.test.js
Due: Client Account Service, Client Account Deploy

Give more juice to frontend builder step
  bitbucket-pipelines.yml
Due: none

Touch to trigger redeploy
  frontend/dods_pip/README.md
Due: Test build Frontend, Frontend Build and Deploy

I guess 3x is not allowed on current plan
  bitbucket-pipelines.yml
Due: none

Extra memory to the docker service
  bitbucket-pipelines.yml
Due: none

Touch to deploy
  frontend/dods_pip/README.md
Due: Test build Frontend, Frontend Build and Deploy

Bump build time limit to 45m
  bitbucket-pipelines.yml
  frontend/dods_pip/BUILD.bzl
Due: Test build Frontend, Frontend Build and Deploy

Added '--verbose --detectOpenHandles' to jest
  frontend/dods_pip/package.json
Due: Test build Frontend, Frontend Build and Deploy

Build storybook after deploying Frontend
  bitbucket-pipelines.yml
  frontend/dods_pip/BUILD.bzl
Due: Test build Frontend, Frontend Build and Deploy

Resources to the max for frontend builds
  bitbucket-pipelines.yml
  frontend/dods_pip/BUILD.bzl
Due: Test build Frontend, Frontend Build and Deploy
