Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, User Profile Service, Client Account Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, User Profile Deploy, Client Account Deploy, Frontend Build and Deploy

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  User Profile Service: any of: services/userProfile/**
  Client Account Service: any of: services/client-account/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  User Profile Deploy: any of: services/userProfile/**
  Client Account Deploy: any of: services/client-account/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**

DOD-635 remove sls debug key
  scrapping/contentMigration/serverless.yml
Due: Deploy Scrapping Lambdas

DOD-635 change something regarding root_path which populated by AWS batch
  scrapping/contentMigration/handler.py
  scrapping/contentMigration/serverless.yml
  scrapping/contentMigration/stage1/handler.py
  scrapping/lib/validation.py
Due: Deploy Scrapping Lambdas

DOD-635 Complete step1 for migration content pipeline
  scrapping/contentMigration/.gitignore
  scrapping/contentMigration/README.md
  scrapping/contentMigration/config.ini
  scrapping/contentMigration/dependencies.txt
  scrapping/contentMigration/handler.py
  scrapping/contentMigration/lib
  scrapping/contentMigration/package-lock.json
  scrapping/contentMigration/package.json
  scrapping/contentMigration/requirements.txt
  scrapping/contentMigration/serverless.yml
  scrapping/contentMigration/templates
  scrapping/lib/validation.py
Due: Deploy Scrapping Lambdas

DOD-635 move all codes to stage1 folder
  scrapping/contentMigration/lib
  scrapping/contentMigration/stage1/.gitignore
  scrapping/contentMigration/stage1/README.md
  scrapping/contentMigration/stage1/config.ini
  scrapping/contentMigration/stage1/dependencies.txt
  scrapping/contentMigration/stage1/lib
  scrapping/contentMigration/stage1/package-lock.json
  scrapping/contentMigration/stage1/package.json
  scrapping/contentMigration/stage1/requirements.txt
  scrapping/contentMigration/stage1/serverless.yml
  scrapping/contentMigration/stage1/templates
  scrapping/contentMigration/templates
Due: Deploy Scrapping Lambdas

update header not allow mandatory empty and test
  services/client-account/package-lock.json
  services/client-account/src/handlers/updateClientAccountHeader/updateClientAccountHeader.ts
  services/client-account/tests/unitTests/handlers/updateClientAccountHeader.test.ts
Due: Client Account Service, Client Account Deploy

bugfix in client-account - NODE_ENV is set to development by default
  services/client-account/src/domain/config/index.ts
Due: Client Account Service, Client Account Deploy

Added taxonomy tree to endpoints
  services/taxonomy-service/serverless.yml
  services/taxonomy-service/src/domain/interfaces/index.ts
  services/taxonomy-service/src/handlers/taxonomyTree/index.ts
  services/taxonomy-service/src/handlers/taxonomyTree/taxonomyTree.ts
  services/taxonomy-service/src/repositories/Taxonomy.ts
  services/taxonomy-service/src/repositories/TaxonomyRepository.ts
  services/taxonomy-service/tests/unitTests/handlers/taxonomyTree.test.ts
  services/taxonomy-service/tests/unitTests/repositories/TaxonomyRepository.test.ts
Due: none

feat(DODS-591): adds editoral repository page UI controls
  frontend/dods_pip/src/components/DataCount/data-count.stories.tsx
  frontend/dods_pip/src/components/DataCount/data-count.styles.tsx
  frontend/dods_pip/src/components/DataCount/data-count.test.tsx
  frontend/dods_pip/src/components/DataCount/index.tsx
  frontend/dods_pip/src/components/_form/NumberPicker/index.tsx
  frontend/dods_pip/src/components/_layout/Box/Box.styles.tsx
  frontend/dods_pip/src/components/_layout/Box/index.tsx
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
  frontend/dods_pip/src/pages/account-management/accounts.styles.tsx
  frontend/dods_pip/src/pages/account-management/add-client/index.page.tsx
  frontend/dods_pip/src/pages/editorial.page.styles.tsx
  frontend/dods_pip/src/pages/editorial.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

FIX DOD-955 - Account name field issue on PUT
  frontend/dods_pip/src/pages/account-management/add-client/account-info.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/account-info.tsx
  frontend/dods_pip/src/pages/account-management/add-client/index.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

valdate request from openAPI
  services/client-account/src/handlers/updateClientAccountHeader/index.ts
  services/client-account/src/handlers/updateClientAccountHeader/updateClientAccountHeader.ts
  services/client-account/src/openApi.yml
  services/client-account/tests/unitTests/handlers/updateClientAccountHeader.test.ts
Due: Client Account Service, Client Account Deploy

validate OpenAPI
  services/client-account/src/handlers/updateClientAccountHeader/updateClientAccountHeader.ts
  services/client-account/src/openApi.yml
  services/client-account/tests/unitTests/handlers/updateClientAccountHeader.test.ts
Due: Client Account Service, Client Account Deploy

GET, PUT, POST documents endpoints
  services/documents/package-lock.json
  services/documents/package.json
  services/documents/serverless.yml
  services/documents/src/domain/config/index.ts
  services/documents/src/domain/interfaces/index.ts
  services/documents/src/handlers/createDocument/createDocument.ts
  services/documents/src/handlers/createDocument/index.ts
  services/documents/src/handlers/getDocument/getDocument.ts
  services/documents/src/handlers/getDocument/index.ts
  services/documents/src/handlers/getFullName/getFullName.ts
  services/documents/src/handlers/getFullName/index.ts
  services/documents/src/handlers/sayEnglishHello/index.ts
  services/documents/src/handlers/sayEnglishHello/sayEnglishHello.ts
  services/documents/src/handlers/sayHello/index.ts
  services/documents/src/handlers/sayHello/sayHello.ts
  services/documents/src/handlers/sayTurkishHello/index.ts
  services/documents/src/handlers/sayTurkishHello/sayTurkishHello.ts
  services/documents/src/handlers/updateDocument/index.ts
  services/documents/src/handlers/updateDocument/updateDocument.ts
  services/documents/src/openApi.yml
  services/documents/src/repositories/GreetingRepository.ts
  services/documents/src/templates/index.ts
  services/documents/src/utility/aws/index.ts
  services/documents/tsconfig.json
Due: none

update step 2 just when uncompleted
  services/client-account/src/repositories/ClientAccountRepository.ts
Due: Client Account Service, Client Account Deploy

DOD-541 Add Client Step 3 - New Client user (only)
  frontend/dods_pip/src/lib/fetchJson.tsx
  frontend/dods_pip/src/lib/useSubscriptionTypes.tsx
  frontend/dods_pip/src/lib/useTeamMembers.tsx
  frontend/dods_pip/src/pages/account-management/add-client/account-info.tsx
  frontend/dods_pip/src/pages/account-management/add-client/index.page.tsx
  frontend/dods_pip/src/pages/account-management/add-client/team.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/team.tsx
  frontend/dods_pip/src/pages/api/clientaccount/[uuid]/[...slug].page.tsx
  frontend/dods_pip/src/pages/api/clientaccount/[uuid]/teammember/new.page.tsx
  frontend/dods_pip/src/utils/api.tsx
  frontend/dods_pip/src/utils/type.tsx
Due: Test build Frontend, Frontend Build and Deploy

DOD-957 - Fix startDate being empty when API sends null + DOD-953 Fix default value
  frontend/dods_pip/src/pages/account-management/add-client/index.page.tsx
  frontend/dods_pip/src/pages/account-management/add-client/subscription.tsx
Due: Test build Frontend, Frontend Build and Deploy

feat(DOD-946): Inverse SearchDropdown
  frontend/dods_pip/src/components/_form/InputSearch/index.tsx
  frontend/dods_pip/src/components/_form/SearchDropdown/SearchDropdown.styles.tsx
  frontend/dods_pip/src/components/_form/SearchDropdown/SearchDropdown.test.tsx
  frontend/dods_pip/src/components/_form/SearchDropdown/index.tsx
  frontend/dods_pip/src/components/_form/Select/Select.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

Added isCompleted filter and OpenApi specification
  services/client-account/src/domain/interfaces/ClientAccount.ts
  services/client-account/src/openApi.yml
  services/client-account/src/repositories/ClientAccountRepository.ts
Due: Client Account Service, Client Account Deploy

added editorial records migrations, seeders, and models
  dods-model/.prettierrc
  dods-model/package-lock.json
  dods-model/package.json
  dods-model/src/db/index.ts
  dods-model/src/db/migrations/20211012000012-create-dods_editorial_record_statuses.ts
  dods-model/src/db/migrations/20211012000013-create-dods_editorial_records.ts
  dods-model/src/db/models/EditorialRecord.ts
  dods-model/src/db/models/EditorialRecordStatus.ts
  dods-model/src/db/models/index.ts
  dods-model/src/db/seeders/20211103000001-seed-dods_editorial_record_statuses.ts
Due: none

added create editorial record
  api/EditorialWorkflow.yml
  dods-model/package-lock.json
  services/editorial-workflow/.gitignore
  services/editorial-workflow/.prettierrc
  services/editorial-workflow/package-lock.json
  services/editorial-workflow/package.json
  services/editorial-workflow/serverless.yml
  services/editorial-workflow/src/domain/interfaces/EditorialRecord.ts
  services/editorial-workflow/src/domain/interfaces/EditorialRecordPersister.ts
  services/editorial-workflow/src/domain/interfaces/index.ts
  services/editorial-workflow/src/dynamodb/index.ts
  services/editorial-workflow/src/handlers/createEditorialRecord/createEditorialRecord.ts
  services/editorial-workflow/src/handlers/createEditorialRecord/index.ts
  services/editorial-workflow/src/handlers/createEditorialWorkflow/createEditorialWorkflow.ts
  services/editorial-workflow/src/handlers/createEditorialWorkflow/index.ts
  services/editorial-workflow/src/openApi.yml
  services/editorial-workflow/src/repositories/EditorialRecordRepository.ts
  services/editorial-workflow/src/repositories/EditorialRepository.ts
  services/editorial-workflow/tests/integrationTests/step-definitions/createEditorialRecordSteps.ts
  services/editorial-workflow/tests/unitTests/handlers/createEditorialRecord.test.ts
  services/editorial-workflow/tests/unitTests/repositories/editorialRecordRepository.test.ts
  services/editorial-workflow/tsconfig.json
  services/editorial-workflow/webpack.config.js
Due: Validate OpenAPI definitions

Added openapi specs for content sources, information types and editorial record status listing endpoints.
  services/editorial-workflow/src/openApi.yml
Due: none

DOD-538 Accounts page (update links)
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
  frontend/dods_pip/src/pages/accounts/[id].page.tsx
Due: Test build Frontend, Frontend Build and Deploy

DOD-955 Fix scenario 2
  frontend/dods_pip/src/pages/account-management/add-client/account-info.tsx
Due: Test build Frontend, Frontend Build and Deploy

Change endpoint URL
  services/taxonomy-service/serverless.yml
Due: none

s3 and sqs for stage 3
  infrastructure-terraform/environments/deployment/services/migration/main.tf
  infrastructure-terraform/vpc.dev.js
  infrastructure-terraform/vpc.qa.js
Due: none

add env variables to pipeline
  services/editorial-workflow/serverless.yml
Due: none

feat(DOD-215): adds modal component
  frontend/dods_pip/src/components/Button/Button.styles.tsx
  frontend/dods_pip/src/components/Button/index.tsx
  frontend/dods_pip/src/components/Modal/Modal.stories.tsx
  frontend/dods_pip/src/components/Modal/Modal.styles.tsx
  frontend/dods_pip/src/components/Modal/Modal.test.tsx
  frontend/dods_pip/src/components/Modal/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

Fix for run service in local enviroment
  services/editorial-workflow/package.json
  services/editorial-workflow/src/domain/config/index.ts
Due: none

Sorting client Accounts by name subs and direction open API added
  services/client-account/src/domain/interfaces/ClientAccount.ts
  services/client-account/src/openApi.yml
  services/client-account/src/repositories/ClientAccountRepository.ts
Due: Client Account Service, Client Account Deploy

bugfix(DODS-215): corrects xlarge sizing
  frontend/dods_pip/src/components/Modal/Modal.styles.tsx
  frontend/dods_pip/src/components/Modal/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

bugfix(DOD-973): fixes width jump
  frontend/dods_pip/src/components/_form/InputSearch/InputSearch.styles.tsx
  frontend/dods_pip/src/components/_form/InputSearch/InputSearch.test.tsx
  frontend/dods_pip/src/components/_form/InputSearch/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

updated letter colour to dark grey
  frontend/dods_pip/src/components/AZFilter/AZFilter.test.tsx
  frontend/dods_pip/src/components/AZFilter/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

Increase the taxonomy tree timeout
  services/taxonomy-service/serverless.yml
Due: none

Update the endpoint
  services/graphologi-integration/taxonomyImport.py
Due: Deploy Graphologi Webhook

dod-637 sqs queue
  infrastructure-terraform/environments/deployment/services/migration/main.tf
Due: none

Revert "Update the endpoint"
  services/graphologi-integration/taxonomyImport.py
Due: Deploy Graphologi Webhook

Update the endpoint
  services/taxonomy-service/serverless.yml
Due: none

removed ternary from color
  frontend/dods_pip/src/components/AZFilter/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

sortBy and sortDirection case insensitive
  services/client-account/src/repositories/ClientAccountRepository.ts
Due: Client Account Service, Client Account Deploy
