Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, User Profile Service, Client Account Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, User Profile Deploy, Client Account Deploy, Frontend Build and Deploy

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  User Profile Service: any of: services/userProfile/**
  Client Account Service: any of: services/client-account/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  User Profile Deploy: any of: services/userProfile/**
  Client Account Deploy: any of: services/client-account/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**

Feature/DOD-984 create new user api integration
  frontend/dods_pip/src/components/Button/index.tsx
  frontend/dods_pip/src/components/_form/InputBase/index.tsx
  frontend/dods_pip/src/components/_form/InputSearch/index.tsx
  frontend/dods_pip/src/components/_form/InputTelephone/index.tsx
  frontend/dods_pip/src/components/_form/InputText/index.tsx
  frontend/dods_pip/src/components/_form/SearchDropdown/index.tsx
  frontend/dods_pip/src/components/_form/Select/Dropdown.tsx
  frontend/dods_pip/src/mocks/data/accounts.json
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
  frontend/dods_pip/src/pages/account-management/accounts.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/team.tsx
  frontend/dods_pip/src/pages/account-management/add-client/type.tsx
  frontend/dods_pip/src/pages/account-management/add-user-form.tsx
  frontend/dods_pip/src/pages/account-management/add-user.page.tsx
  frontend/dods_pip/src/pages/account-management/add-user.test.tsx
  frontend/dods_pip/src/pages/account-management/users.page.tsx
  frontend/dods_pip/src/pages/accounts/[id].page.tsx
  frontend/dods_pip/src/pages/editorial.page.tsx
  frontend/dods_pip/src/pages/users/[id].page.tsx
Due: Test build Frontend, Frontend Build and Deploy

clientAccountId in get User
  services/user-profile/src/domain/interfaces/UserProfilePersisterV2.ts
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
  services/user-profile/tests/unitTests/repositories/UserProfileRepositoryV2.test.ts
Due: none

DOD-811 Fixed tests
  services/search-service/src/handlers/getContent/getContent.ts
  services/search-service/tests/unitTests/handlers/getContent.test.ts
  services/search-service/tests/unitTests/repositories/SearchRepository.test.ts
Due: none

feat(DOD-878): User Profile completion
  frontend/dods_pip/src/components/Badge/Badge.test.tsx
  frontend/dods_pip/src/components/Badge/index.tsx
  frontend/dods_pip/src/components/Breadcrumbs/Breadcrumbs.styles.tsx
  frontend/dods_pip/src/components/Header/Header.styles.tsx
  frontend/dods_pip/src/components/Header/NavigationMobile.tsx
  frontend/dods_pip/src/components/Icon/assets/icon-minus.svg
  frontend/dods_pip/src/components/Notification/Notification.styles.tsx
  frontend/dods_pip/src/components/_form/Toggle/Toggle.stories.tsx
  frontend/dods_pip/src/components/_form/Toggle/Toggle.styles.tsx
  frontend/dods_pip/src/components/_form/Toggle/Toggle.test.tsx
  frontend/dods_pip/src/components/_form/Toggle/index.tsx
  frontend/dods_pip/src/lib/useUser.tsx
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
  frontend/dods_pip/src/pages/account-management/add-user-form.tsx
  frontend/dods_pip/src/pages/accounts/[id].page.tsx
  frontend/dods_pip/src/pages/accounts/summary.tsx
  frontend/dods_pip/src/pages/accounts/users.tsx
  frontend/dods_pip/src/pages/api/users/[uuid]/client-accounts.page.tsx
  frontend/dods_pip/src/pages/my-profile/index.page.tsx
  frontend/dods_pip/src/pages/users/[id].page.tsx
  frontend/dods_pip/src/pages/users/userInfo.styles.tsx
  frontend/dods_pip/src/pages/users/userInfo.tsx
  frontend/dods_pip/src/pages/users/users.styles.tsx
  frontend/dods_pip/src/utils/api.tsx
Due: Test build Frontend, Frontend Build and Deploy

bugfix for DOD-968
  services/client-account/src/domain/errors/index.ts
  services/client-account/src/domain/index.ts
  services/client-account/src/domain/interfaces/ClientAccountPersisterV2.ts
  services/client-account/src/handlers/removeTeamMember/removeTeamMember.ts
  services/client-account/src/repositories/ClientAccountRepositoryV2.ts
  services/client-account/src/repositories/ClientAccountTeamRepositoryV2.ts
  services/client-account/tests/unitTests/handlers/addTeamMemberToClientAccount.test.ts
  services/client-account/tests/unitTests/handlers/searchClientAccount.test.ts
  services/client-account/tests/unitTests/repositories/ClientAccountRepositoryV2.test.ts
  services/dods-iam/serverless.yml
  services/user-profile/package-lock.json
  services/user-profile/src/domain/interfaces/ClientAccountPersister.ts
  services/user-profile/src/repositories/ClientAccountRepository.ts
  services/user-profile/tests/unitTests/handlers/createUser.test.ts
  services/user-profile/tests/unitTests/repositories/clientAccountRepository.test.ts
Due: Client Account Service, Auth-Authz Deploy, Client Account Deploy

DOD-1163 Fixed validator for migration steps
  scrapping/contentMigration/stage2/handler.py
  scrapping/lib/validation.py
Due: Deploy Scrapping Lambdas

bug(DOD-878): fix delete error
  frontend/dods_pip/src/lib/fetchJson.tsx
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
  frontend/dods_pip/src/pages/api/clientaccount/[uuid]/[...slug].page.tsx
  frontend/dods_pip/src/pages/api/clientaccount/[uuid]/teammember/[id].page.tsx
  frontend/dods_pip/src/pages/api/users/[uuid]/client-accounts.page.tsx
  frontend/dods_pip/src/pages/users/[id].page.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-878): modal close not removing body overflow hidden
  frontend/dods_pip/src/components/Modal/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

Auto tagging
  services/auto-tagging/autoTagging.py
  services/auto-tagging/package-lock.json
  services/auto-tagging/package.json
  services/auto-tagging/requirements.txt
  services/auto-tagging/serverless.yml
Due: none

bugfix in unit test in User Profile
  services/user-profile/tests/unitTests/repositories/clientAccountRepository.test.ts
Due: none

fix(DOD-1084): updated consultant default hours
  frontend/dods_pip/src/pages/account-management/add-client/add-client.tsx
Due: Test build Frontend, Frontend Build and Deploy

all-cache-disable-api
  boilerplate/package.json
  boilerplate/serverless.yml
  services/client-account/package.json
  services/client-account/serverless.yml
  services/documents/package.json
  services/documents/serverless.yml
  services/dods-iam/package.json
  services/dods-iam/serverless.yml
  services/editorial-workflow/package.json
  services/editorial-workflow/serverless.yml
  services/search-service/package.json
  services/search-service/serverless.yml
  services/user-profile/package.json
  services/user-profile/serverless.yml
Due: Client Account Service, Auth-Authz Deploy, Client Account Deploy

feat(DOD-878): remove access column
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
  frontend/dods_pip/src/pages/account-management/users.page.tsx
  frontend/dods_pip/src/pages/accounts/summary.tsx
Due: Test build Frontend, Frontend Build and Deploy

added update user
  services/user-profile/.husky/pre-commit
  services/user-profile/serverless.yml
  services/user-profile/src/domain/interfaces/UserProfilePersisterV2.ts
  services/user-profile/src/handlers/updateUser/index.ts
  services/user-profile/src/handlers/updateUser/updateUser.ts
  services/user-profile/src/openApi.yml
  services/user-profile/src/repositories/IamRepository.ts
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
  services/user-profile/tests/unitTests/handlers/updateUser.test.ts
  services/user-profile/tests/unitTests/repositories/UserProfileRepository.test.ts
Due: none

feat(Add new user): Account overview page
  frontend/dods_pip/src/pages/account-management/add-user.page.tsx
  frontend/dods_pip/src/pages/accounts/[id].page.tsx
  frontend/dods_pip/src/pages/accounts/users.tsx
  frontend/dods_pip/src/pages/api/clientaccount/[uuid]/seats.page.tsx
  frontend/dods_pip/src/utils/api.tsx
Due: Test build Frontend, Frontend Build and Deploy

feat(DOD-1113): code review
  frontend/dods_pip/src/components/Modal/Modal.styles.tsx
  frontend/dods_pip/src/components/Modal/Modal.test.tsx
  frontend/dods_pip/src/components/Modal/index.tsx
  frontend/dods_pip/src/pages/account-management/add-user.page.tsx
  frontend/dods_pip/src/pages/accounts/users.tsx
Due: Test build Frontend, Frontend Build and Deploy

case insensitive for client account name
  services/client-account/src/repositories/ClientAccountRepository.ts
Due: Client Account Service, Client Account Deploy

first and last name in createTeamMember
  services/client-account/src/domain/interfaces/ClientAccount.ts
  services/client-account/src/domain/interfaces/ClientAccountTeam.ts
  services/client-account/src/domain/interfaces/TypeParsers.ts
  services/client-account/tests/unitTests/handlers/getClientAccountTeamMembers.test.ts
Due: Client Account Service, Client Account Deploy

DOD-1148 remove dodsil file path from validation and queue message
  scrapping/contentMigration/stage1/handler.py
  scrapping/lib/validation.py
Due: Deploy Scrapping Lambdas

DOD-1148 Add coarse annotations to taxonomy terms
  scrapping/contentMigration/stage1/handler.py
Due: Deploy Scrapping Lambdas

DOD-1148 remove originalContent from object
  scrapping/contentMigration/stage1/handler.py
Due: Deploy Scrapping Lambdas

adding changes about company dropdown
  frontend/dods_pip/src/pages/account-management/add-user.page.tsx
  frontend/dods_pip/src/pages/accounts/[id].page.tsx
  frontend/dods_pip/src/pages/accounts/users.tsx
Due: Test build Frontend, Frontend Build and Deploy

adding changes about company dropdown
  frontend/dods_pip/src/pages/account-management/add-user.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-1171): api users route
  frontend/dods_pip/src/pages/api/users.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

feat(DOD-1113): add dynamic account search
  frontend/dods_pip/src/components/_form/SearchDropdown/index.tsx
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
  frontend/dods_pip/src/pages/account-management/add-user-form.tsx
  frontend/dods_pip/src/pages/account-management/add-user.page.tsx
  frontend/dods_pip/src/pages/account-management/add-user.test.tsx
  frontend/dods_pip/src/pages/account-management/users.page.tsx
  frontend/dods_pip/src/pages/users/[id].page.tsx
Due: Test build Frontend, Frontend Build and Deploy

Removed cache configuration from API Gateway
  services/client-account/serverless.yml
  services/documents/serverless.yml
  services/dods-iam/serverless.yml
  services/editorial-workflow/serverless.yml
  services/search-service/serverless.yml
  services/taxonomy-service/serverless.yml
  services/user-profile/serverless.yml
Due: Client Account Service, Auth-Authz Deploy, Client Account Deploy

comment out documents service
  bitbucket-pipelines.yml
Due: none

Edge case bugfix
  services/auto-tagging/autoTagging.py
Due: none

Remove the SQS trigger
  services/auto-tagging/serverless.yml
Due: none

create team member calling uuid instead of Cognito
  services/client-account/src/domain/interfaces/UserProfilePersister.ts
  services/client-account/src/handlers/createTeamMember/createTeamMember.ts
  services/client-account/src/repositories/UserProfileRepositoryV2.ts
  services/client-account/tests/unitTests/handlers/addTeamMemberToClientAccount.test.ts
  services/client-account/tests/unitTests/handlers/removeTeamMember.test.ts
  services/client-account/tests/unitTests/repositories/UserProfileRepository.test.ts.ignore
  services/user-profile/src/handlers/createUser/createUser.ts
Due: Client Account Service, Client Account Deploy

bug(DOD-1180): fix user filters
  frontend/dods_pip/src/pages/account-management/users.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

chore(DOD-878): adds user update api call
  frontend/dods_pip/src/pages/account-management/add-user-form.tsx
  frontend/dods_pip/src/pages/account-management/add-user.page.tsx
  frontend/dods_pip/src/pages/api/users/[uuid]/index.page.tsx
  frontend/dods_pip/src/pages/users/[id].page.tsx
Due: Test build Frontend, Frontend Build and Deploy

Raw Queries
  services/search-service/serverless.yml
  services/search-service/src/domain/interfaces/index.ts
  services/search-service/src/handlers/rawQuery/index.ts
  services/search-service/src/handlers/rawQuery/rawQuery.ts
  services/search-service/src/openApi.yml
  services/search-service/src/repositories/Search.ts
  services/search-service/src/repositories/SearchRepository.ts
  services/search-service/tests/unitTests/handlers/getContent.test.ts
  services/search-service/tests/unitTests/handlers/rawQuery.test.ts
  services/search-service/webpack.config.js
Due: none

bug(DOD-1185): fix failing accounts fetch
  frontend/dods_pip/src/lib/fetchJson.tsx
  frontend/dods_pip/src/pages/api/clientaccount.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-1185): ui error
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

added inline page nav
  frontend/dods_pip/src/components/Pagination/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

updated pagination styles
  frontend/dods_pip/src/components/Pagination/Pagination.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

updated test
  frontend/dods_pip/src/components/Pagination/Pagination.test.tsx
Due: Test build Frontend, Frontend Build and Deploy

Filtered ES response to only be body
  services/search-service/package-lock.json
  services/search-service/package.json
  services/search-service/src/repositories/SearchRepository.ts
Due: none

no-op
  services/client-account/.noop
Due: Client Account Service, Client Account Deploy
