Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, User Profile Service, Client Account Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, User Profile Deploy, Client Account Deploy, Frontend Build and Deploy

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  User Profile Service: any of: services/userProfile/**
  Client Account Service: any of: services/client-account/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  User Profile Deploy: any of: services/userProfile/**
  Client Account Deploy: any of: services/client-account/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**

dod-1016: createUser lambda is created and dods-model is updated/published
  dods-model/package.json
  dods-model/src/db/config/index.ts
  dods-model/src/db/config/sequelizeConnection.ts
  services/dods-iam/package.json
  services/dods-iam/serverless.yml
  services/dods-iam/src/domain/interfaces/CreateUserParameters.ts
  services/dods-iam/src/domain/interfaces/index.ts
  services/dods-iam/src/handlers/event/customMessage/customMessage.ts
  services/dods-iam/src/handlers/http/createUser/createUser.ts
  services/dods-iam/src/handlers/http/createUser/index.ts
  services/dods-iam/src/openApi.yml
  services/dods-iam/src/services/AwsCognito.ts
  services/user-profile/package-lock.json
  services/user-profile/package.json
  services/user-profile/serverless.yml
  services/user-profile/setEnvironmentVariablesForTest.js
  services/user-profile/src/domain/config/index.ts
  services/user-profile/src/domain/interfaces/UserProfilePersisterV2.ts
  services/user-profile/src/domain/interfaces/index.ts
  services/user-profile/src/handlers/createUser/createUser.ts
  services/user-profile/src/handlers/createUser/index.ts
  services/user-profile/src/openApi.yml
  services/user-profile/src/repositories/IamRepository.ts
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
Due: Auth-Authz Deploy

dod-1016: serverless.yml file refactored
  services/user-profile/serverless.yml
Due: none

dod-1016: bugfix in unittest
  services/client-account/setEnvironmentVariablesForTest.js
Due: Client Account Service, Client Account Deploy

dod-1016: dods-model package version is updated in client-account
  services/client-account/package-lock.json
  services/client-account/package.json
Due: Client Account Service, Client Account Deploy

new content model scrapping for HoC
  scrapping/debates-hoc-uk/handler.py
  scrapping/debates-hoc-uk/inner_utils.py
Due: Deploy Scrapping Lambdas

dod-1016: dods-iam and userProfile are updated for optional fields
  services/dods-iam/src/domain/interfaces/CreateUserParameters.ts
  services/dods-iam/src/openApi.yml
  services/dods-iam/src/services/AwsCognito.ts
  services/user-profile/src/handlers/createUser/createUser.ts
  services/user-profile/src/openApi.yml
Due: Auth-Authz Deploy

Infra automatic documentation
  bitbucket-pipelines.yml
Due: none

Updated terraform configuration [skip-ci]
  infrastructure-terraform/.terraform.lock.hcl
  infrastructure-terraform/INFRA.md
  infrastructure-terraform/tf_out_values.json
Due: none

Fix typo on push back commit from pipeline
  bitbucket-pipelines.yml
Due: none

Commit pending SQS trigger
  services/graphologi-integration/taxonomyImport.py
  services/pandas-layer/serverless.yml
Due: Deploy Graphologi Webhook

CreateUser unit test is added
  services/user-profile/package.json
  services/user-profile/src/handlers/createUser/createUser.ts
  services/user-profile/src/repositories/IamRepository.ts
  services/user-profile/src/repositories/index.ts
  services/user-profile/tests/unitTests/handlers/createUser.test.ts
  services/user-profile/tests/unitTests/handlers/createUserProfile.test.ts
  services/user-profile/tests/unitTests/handlers/searchUsers.test.ts
  services/user-profile/tests/unitTests/repositories/IamRepository.test.ts
  services/user-profile/tests/unitTests/repositories/UserProfileRepositoryV2.test.ts
Due: none

dod-1042: code is refactored
  services/dods-iam/package-lock.json
  services/dods-iam/package.json
  services/dods-iam/serverless.yml
  services/dods-iam/src/domain/config/index.ts
  services/dods-iam/src/domain/interfaces/DownstreamEndpoints.ts
  services/dods-iam/src/domain/interfaces/SignUpParameters copy.ts
  services/dods-iam/src/domain/interfaces/UpdateUserAttributesParameters.ts
  services/dods-iam/src/domain/interfaces/UserProfile.ts
  services/dods-iam/src/domain/interfaces/index.ts
  services/dods-iam/src/handlers/event/customMessage/customMessage.ts
  services/dods-iam/src/handlers/http/enableUser/enableUser.ts
  services/dods-iam/src/handlers/http/signIn/signIn.ts
  services/dods-iam/src/handlers/http/updateUserAttributes/index.ts
  services/dods-iam/src/handlers/http/updateUserAttributes/updateUserAttributes.ts
  services/dods-iam/src/repositories/UserProfileRepository.ts
  services/dods-iam/src/repositories/index.ts
  services/dods-iam/src/services/AwsCognito.ts
  services/user-profile/serverless.yml
  services/user-profile/src/domain/interfaces/DownstreamEndpoints.ts
  services/user-profile/src/domain/interfaces/UserProfilePersisterV2.ts
  services/user-profile/src/domain/interfaces/index.ts
  services/user-profile/src/handlers/createUser/createUser.ts
  services/user-profile/src/handlers/getUser/getUser.ts
  services/user-profile/src/handlers/getUser/index.ts
  services/user-profile/src/repositories/IamRepository.ts
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
  services/user-profile/tests/unitTests/handlers/searchUsers.test.ts
  services/user-profile/tests/unitTests/repositories/UserProfileRepositoryV2.test.ts
Due: Auth-Authz Deploy

dod-1042: some lambda functions are created like createUser, updateUserAttributes, deleteUserAttributes in dods-iam, createUser, getUser in userProfile
  services/dods-iam/serverless.yml
  services/dods-iam/src/domain/interfaces/DeleteUserAttributesParameters.ts
  services/dods-iam/src/domain/interfaces/UserProfile.ts
  services/dods-iam/src/domain/interfaces/index.ts
  services/dods-iam/src/handlers/http/deleteUserAttributes/deleteUserAttributes.ts
  services/dods-iam/src/handlers/http/deleteUserAttributes/index.ts
  services/dods-iam/src/handlers/http/signIn/signIn.ts
  services/dods-iam/src/services/AwsCognito.ts
  services/user-profile/src/domain/interfaces/UserProfilePersisterV2.ts
  services/user-profile/src/handlers/createUser/createUser.ts
  services/user-profile/src/openApi.yml
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
Due: Auth-Authz Deploy

Fixed tests and recreated search response Tree
  services/taxonomy-service/src/domain/interfaces/index.ts
  services/taxonomy-service/src/handlers/taxonomies/getTaxonomies.ts
  services/taxonomy-service/src/repositories/Taxonomy.ts
  services/taxonomy-service/src/repositories/TaxonomyRepository.ts
  services/taxonomy-service/tests/unitTests/handlers/taxonomyTree.test.ts
  services/taxonomy-service/tests/unitTests/repositories/TaxonomyRepository.test.ts
Due: none

Added a test to increase coverage
  services/taxonomy-service/tests/unitTests/handlers/getTaxonomies.test.ts
Due: none

Pageheader: Made an optional prop of breadcrumbs. | Section header made an subtitle optional and pushed the content to the bottom of the div.
  frontend/dods_pip/src/components/_layout/PageHeader/index.tsx
  frontend/dods_pip/src/components/_layout/SectionHeader/SectionHeader.styles.tsx
  frontend/dods_pip/src/components/_layout/SectionHeader/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

Multi taxonomy tree
  services/taxonomy-service/serverless.yml
  services/taxonomy-service/src/handlers/taxonomyTree/index.ts
  services/taxonomy-service/src/handlers/taxonomyTree/taxonomyTree.ts
  services/taxonomy-service/tests/unitTests/handlers/taxonomyTree.test.ts
Due: none

Point Frontend to new-new backend base URL
  infra/copilot/frontend-dods-pip/manifest.yml
Due: none

DOD-772 Complete elasticsearch manager service
  services/elasticsearch-manager/README.md
  services/elasticsearch-manager/models/content/mappings.json
  services/elasticsearch-manager/models/content/settings.json
Due: none

DOD-772 Create elasticsearch manager service
  services/elasticsearch-manager/.env.dist
  services/elasticsearch-manager/README.md
  services/elasticsearch-manager/bin/elastic-run
  services/elasticsearch-manager/bin/logger.py
  services/elasticsearch-manager/handler.py
  services/elasticsearch-manager/models/content/mappings.json
  services/elasticsearch-manager/models/content/settings.json
  services/elasticsearch-manager/package-lock.json
  services/elasticsearch-manager/package.json
  services/elasticsearch-manager/requirements.txt
  services/elasticsearch-manager/serverless.yml
Due: none

Update working frontend image on Terraform
  infrastructure-terraform/main.tf
Due: none

aded update editorial record
  services/editorial-workflow/jest.config.js
  services/editorial-workflow/package-lock.json
  services/editorial-workflow/serverless.yml
  services/editorial-workflow/setEnvironmentVariablesForTest.js
  services/editorial-workflow/src/domain/config/index.ts
  services/editorial-workflow/src/domain/error/BadParameterError.ts
  services/editorial-workflow/src/domain/error/index.ts
  services/editorial-workflow/src/domain/index.ts
  services/editorial-workflow/src/domain/interfaces/EditorialRecord.ts
  services/editorial-workflow/src/domain/interfaces/EditorialRecordPersister.ts
  services/editorial-workflow/src/handlers/createEditorialRecord/createEditorialRecord.ts
  services/editorial-workflow/src/handlers/updateEditorialRecord/index.ts
  services/editorial-workflow/src/handlers/updateEditorialRecord/updateEditorialRecord.ts
  services/editorial-workflow/src/openApi.yml
  services/editorial-workflow/src/repositories/EditorialRecordRepository.ts
  services/editorial-workflow/tests/unitTests/handlers/createEditorialRecord.test.ts
  services/editorial-workflow/tests/unitTests/handlers/searchEditorialRecords.test.ts
  services/editorial-workflow/tests/unitTests/handlers/updateEditorialRecord.test.ts
  services/editorial-workflow/tests/unitTests/repositories/editorialRecordRepository.test.ts
Due: none

bugfix in dods-iam
  services/dods-iam/src/services/AwsCognito.ts
Due: Auth-Authz Deploy

minor update added page link
  frontend/dods_pip/src/pages/account-management/users.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

Provided lambda layer for click library
  services/click-layer/.gitignore
  services/click-layer/layers/click/build_layer.sh
  services/click-layer/layers/click/python/click-8.0.3.dist-info/INSTALLER
  services/click-layer/layers/click/python/click-8.0.3.dist-info/LICENSE.rst
  services/click-layer/layers/click/python/click-8.0.3.dist-info/METADATA
  services/click-layer/layers/click/python/click-8.0.3.dist-info/RECORD
  services/click-layer/layers/click/python/click-8.0.3.dist-info/REQUESTED
  services/click-layer/layers/click/python/click-8.0.3.dist-info/WHEEL
  services/click-layer/layers/click/python/click-8.0.3.dist-info/top_level.txt
  services/click-layer/layers/click/python/click/__init__.py
  services/click-layer/layers/click/python/click/_compat.py
  services/click-layer/layers/click/python/click/_termui_impl.py
  services/click-layer/layers/click/python/click/_textwrap.py
  services/click-layer/layers/click/python/click/_unicodefun.py
  services/click-layer/layers/click/python/click/_winconsole.py
  services/click-layer/layers/click/python/click/core.py
  services/click-layer/layers/click/python/click/decorators.py
  services/click-layer/layers/click/python/click/exceptions.py
  services/click-layer/layers/click/python/click/formatting.py
  services/click-layer/layers/click/python/click/globals.py
  services/click-layer/layers/click/python/click/parser.py
  services/click-layer/layers/click/python/click/py.typed
  services/click-layer/layers/click/python/click/shell_completion.py
  services/click-layer/layers/click/python/click/termui.py
  services/click-layer/layers/click/python/click/testing.py
  services/click-layer/layers/click/python/click/types.py
  services/click-layer/layers/click/python/click/utils.py
  services/click-layer/layers/click/requirements.txt
  services/click-layer/package-lock.json
  services/click-layer/package.json
  services/click-layer/serverless.yml
  services/elasticsearch-manager/package.json
  services/elasticsearch-manager/serverless.yml
Due: none

Fix path to click layer
  services/click-layer/serverless.yml
Due: none

added HOC debates ingestions transform queue
  infrastructure-terraform/environments/deployment/services/extracted-content/main.tf
  infrastructure-terraform/environments/deployment/services/extracted-content/modules/s3/main.tf
  infrastructure-terraform/environments/deployment/services/extracted-content/modules/s3/templates/bucket-policy.tpl
  infrastructure-terraform/environments/deployment/services/extracted-content/modules/s3/variables.tf
  infrastructure-terraform/environments/deployment/services/extracted-content/modules/sqs/main.tf
  infrastructure-terraform/environments/deployment/services/extracted-content/modules/sqs/output.tf
  infrastructure-terraform/environments/deployment/services/extracted-content/modules/sqs/variables.tf
  infrastructure-terraform/environments/deployment/services/extracted-content/output.tf
  infrastructure-terraform/environments/deployment/services/extracted-content/variables.tf
Due: none

added HOC debates ingestions transform queue
  infrastructure-terraform/environments/deployment/main.tf
  infrastructure-terraform/environments/deployment/services/extracted-content/main.tf
Due: none

remove and modify fields
  scrapping/debates-hoc-uk/handler.py
Due: Deploy Scrapping Lambdas

added get editorial record
  api/EditorialWorkflow.yml
  services/editorial-workflow/serverless.yml
  services/editorial-workflow/src/handlers/getEditorialRecord/getEditorialRecord.ts
  services/editorial-workflow/src/handlers/getEditorialRecord/index.ts
  services/editorial-workflow/src/openApi.yml
  services/editorial-workflow/src/repositories/EditorialRecordRepository.ts
  services/editorial-workflow/tests/unitTests/handlers/getEditorialRecord.test.ts
  services/editorial-workflow/tests/unitTests/repositories/editorialRecordRepository.test.ts
Due: Validate OpenAPI definitions

Fixed issue with primaryEmail in search users.
  services/user-profile/src/openApi.yml
Due: none

Fixing issue with offset caused by include in Search Users endpoint.
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
Due: none

Reverting commit in UserProfileRepositoryV2.ts.
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
Due: none

removed location filter
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
  frontend/dods_pip/src/pages/account-management/accounts.test.tsx
Due: Test build Frontend, Frontend Build and Deploy

removed commented line
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

Removed previous template json obj, added new one
  scrapping/debates-hoc-uk/handler.py
  scrapping/templates/content_template.json
Due: Deploy Scrapping Lambdas

Automated terraform apply + better push back to repo
  bitbucket-pipelines.yml
  infrastructure-terraform/.noop
  infrastructure-terraform/environments/deployment/main.tf
  infrastructure-terraform/push_back.sh
Due: none

feat(DOD-1017): Adds WYSIWYG editor
  frontend/dods_pip/.eslintrc
  frontend/dods_pip/package.json
  frontend/dods_pip/src/components/WysiwygEditor/blots/font-style.ts
  frontend/dods_pip/src/components/WysiwygEditor/index.tsx
  frontend/dods_pip/src/components/WysiwygEditor/wysiwyg-editor.stories.tsx
  frontend/dods_pip/src/components/WysiwygEditor/wysiwyg-editor.styles.tsx
  frontend/dods_pip/src/components/WysiwygEditor/wysiwyg-editor.test.tsx
  frontend/dods_pip/yarn.lock
  services/dods-iam/jest.config.js
Due: Test build Frontend, Auth-Authz Deploy, Frontend Build and Deploy

feat(DOD-591): updates filter label
  frontend/dods_pip/src/pages/editorial.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

dod-1016: createUser lambda in userProfile is updated and dods-model is updated
  dods-model/package.json
  dods-model/src/db/migrations/202110120000014-alter-dods_users.ts
  dods-model/src/db/models/User.ts
  services/dods-iam/serverless.yml
  services/dods-iam/src/handlers/http/signIn/signIn.ts
  services/dods-iam/src/services/AwsCognito.ts
  services/user-profile/package-lock.json
  services/user-profile/package.json
  services/user-profile/src/domain/interfaces/UserProfilePersisterV2.ts
  services/user-profile/src/handlers/createUser/createUser.ts
  services/user-profile/src/openApi.yml
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
Due: Auth-Authz Deploy
