Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Validate OpenAPI definitions, Deploy Scrapping Lambdas, Terraform Plan

Validate OpenAPI definitions:
  image: openapitools/openapi-generator-cli:v5.2.1
  script:
  - cd api
  - for i in *.yml; do docker-entrypoint.sh validate -i $i; done

Deploy Scrapping Lambdas:
  image: gioatsomoglobal/devopstools:0.4.2
  script:
  - cd scrapping
  - npm install
  - ./scrapping_deploy.sh

Terraform Plan:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.6
  script:
  - cd infrastructure-terraform
  - terraform init
  - terraform plan -var db_password="${CLIENT_PROFILE_DB_PASSWORD}"
  - terraform apply -var db_password="${CLIENT_PROFILE_DB_PASSWORD}" -auto-approve
  - terraform output --json > tf_out_values.json
  ...

renaming second UK Media source to UK Stakeholder as it should be
  frontend/dods_pip/src/utils/contentSources.json
Due: none

Bump version number
  npm-packages/dods-repositories/package.json
Due: none

True version bump
  npm-packages/dods-repositories/package.json
Due: none

Changes in ER new interface for publish
  npm-packages/dods-repositories/package-lock.json
  npm-packages/dods-repositories/package.json
  npm-packages/dods-repositories/src/DocumentRepository/index.ts
  npm-packages/dods-repositories/src/EditorialRecordRepository/domain.ts
Due: none

Edit a published document endpoint
  services/editorial-workflow/package-lock.json
  services/editorial-workflow/package.json
  services/editorial-workflow/serverless.yml
  services/editorial-workflow/src/handlers/editPublishedDocument/editPublishedDocument.ts
  services/editorial-workflow/src/handlers/editPublishedDocument/index.ts
  services/editorial-workflow/src/openApi.yml
  services/editorial-workflow/tests/unitTests/handlers/editPublishedDocument.test.ts
Due: none

Added originator to document body
  services/editorial-workflow/src/domain/interfaces/EditorialRecord.ts
  services/editorial-workflow/src/handlers/createEditorialRecord/createEditorialRecord.ts
  services/editorial-workflow/src/openApi.yml
Due: none

lambda cration without implementation UT or OpenApi
  services/collections/serverless.yml
  services/collections/src/handlers/triggerInstantAlert/index.ts
  services/collections/src/handlers/triggerInstantAlert/triggerInstantAlert.ts
Due: none

added originator and output the value of organisationName from the original content to that field
  scrapping/contentMigrationStage1/handler.py
  scrapping/templates/content_template_new.json
Due: Deploy Scrapping Lambdas

Combined file writing to S3. Stuck with S3 sls plugin
  services/graphologi-integration/taxonomyImport.py
  services/taxonomy-service/package-lock.json
  services/taxonomy-service/package.json
  services/taxonomy-service/serverless.yml
Due: none

feat(DOD-1173): Improvement pagination for Dods client support reset file
  frontend/dods_pip/src/components/Pagination/index.tsx
  frontend/dods_pip/src/pages/accounts/index.styles.tsx
  frontend/dods_pip/src/pages/accounts/summary.tsx
Due: none

fix(DOD-1173): code review
  frontend/dods_pip/src/pages/accounts/index.styles.tsx
  frontend/dods_pip/src/pages/accounts/summary.tsx
Due: none

Added schedule Date migration
  npm-packages/dods-model/package.json
  npm-packages/dods-model/src/db/migrations/20220208000036-alter-dods_editorial_record.ts
  npm-packages/dods-model/src/db/models/EditorialRecord.ts
Due: none

added pagination
  frontend/dods_pip/src/pages/accounts/users.tsx
Due: none

styles updated
  frontend/dods_pip/src/pages/accounts/index.styles.tsx
Due: none

Added schedule Date migration
  npm-packages/dods-model/.env
  npm-packages/dods-model/package-lock.json
  npm-packages/dods-model/package.json
  npm-packages/dods-model/src/db/migrations/20220208000036-alter-dods_editorial_record.ts
  npm-packages/dods-model/src/db/models/EditorialRecord.ts
Due: none

added optional arguments/props
  frontend/dods_pip/src/components/Pagination/index.tsx
Due: none

updated pagination logic
  frontend/dods_pip/src/pages/accounts/summary.tsx
Due: none

Terraform module to create an SQS for alerts
  infrastructure-terraform/environments/deployment/services/alerts/main.tf
  infrastructure-terraform/environments/deployment/services/alerts/modules/sqs/main.tf
  infrastructure-terraform/environments/deployment/services/alerts/modules/sqs/output.tf
  infrastructure-terraform/environments/deployment/services/alerts/modules/sqs/variables.tf
  infrastructure-terraform/environments/deployment/services/alerts/output.tf
  infrastructure-terraform/environments/deployment/services/alerts/variables.tf
Due: Terraform Plan

Load new 'alerts' module
  infrastructure-terraform/environments/deployment/main.tf
Due: Terraform Plan

Update dods-repositories to handle subscribe and unsubscribe endpoints
  npm-packages/dods-repositories/package-lock.json
  npm-packages/dods-repositories/package.json
  npm-packages/dods-repositories/src/DocumentRepository/domain.ts
  npm-packages/dods-repositories/src/DocumentRepository/index.ts
  npm-packages/dods-repositories/src/EditorialRecordRepository/domain.ts
  npm-packages/dods-repositories/src/EditorialRecordRepository/index.ts
Due: none

feat(DOD-1430): filters pagination on editorial list
  frontend/dods_pip/src/components/RepositoryTable/RepositoryTable.styles.tsx
  frontend/dods_pip/src/components/RepositoryTable/index.tsx
  frontend/dods_pip/src/components/_form/SearchDropdown/SearchDropdown.styles.tsx
  frontend/dods_pip/src/components/_form/SearchDropdown/index.tsx
  frontend/dods_pip/src/pages/api/editorial-record/index.page.tsx
  frontend/dods_pip/src/pages/editorial/editorial.service.tsx
  frontend/dods_pip/src/pages/editorial/index.page.styles.tsx
  frontend/dods_pip/src/pages/editorial/index.page.tsx
Due: none

SLS config for lambda triggered on SQS for instant-alert
  services/collections/package-lock.json
  services/collections/package.json
  services/collections/serverless.yml
Due: none

SLS config with IAM permissions and SQS URL for alerts
  services/elasticsearch-manager/package-lock.json
  services/elasticsearch-manager/package.json
  services/elasticsearch-manager/serverless.yml
Due: none

Added env var to specify environment on deployments
  tools/deploy-projects.sh
Due: none

Serving from S3 but failing permissions
  services/graphologi-integration/serverless.yml
  services/graphologi-integration/taxonomyImport.py
  services/taxonomy-service/serverless.yml
Due: none

scheduleDate Added in get, list cron parses an unscheduled
  services/editorial-workflow/package-lock.json
  services/editorial-workflow/package.json
  services/editorial-workflow/serverless.yml
  services/editorial-workflow/src/handlers/scheduleEditorialRecord/scheduleEditorialRecord.ts
  services/editorial-workflow/src/handlers/unscheduleEditorialRecord/index.ts
  services/editorial-workflow/src/handlers/unscheduleEditorialRecord/unscheduleEditorialRecord.ts
  services/editorial-workflow/src/openApi.yml
  services/editorial-workflow/tests/unitTests/handlers/scheduleEditorialRecord.test.ts
  services/editorial-workflow/tests/unitTests/handlers/unscheduleEditorialRecord.test.ts
Due: none

Password variable needs to be quoted. Eval breaks if it is not and the password contains special characters.
  tools/bitbucket.sh
Due: none

dods-repositories changes for process alert
  npm-packages/dods-repositories/package-lock.json
  npm-packages/dods-repositories/package.json
  npm-packages/dods-repositories/src/CollectionAlertsRepository/index.ts
  npm-packages/dods-repositories/src/DocumentRepository/domain.ts
  npm-packages/dods-repositories/src/DocumentRepository/index.ts
Due: none

added process alert missing UT openApi repeted Document
  services/collections/package-lock.json
  services/collections/package.json
  services/collections/serverless.yml
  services/collections/src/domain/config/index.ts
  services/collections/src/domain/interfaces/AlertTemplate.ts
  services/collections/src/handlers/processAlert/processAlert.ts
  services/collections/src/handlers/processAlert/template.handlebars
  services/collections/src/templates/multipleFullAlert/index.ts
  services/collections/src/templates/multipleSnippetAlert/index.ts
  services/collections/webpack.config.js
Due: none

increasing stage 2 receiver timeout to 15 minutes to handle large docs
  scrapping/contentMigrationStage2/serverless.yml
Due: Deploy Scrapping Lambdas

bug(DOD-1416): fix space in topic grouping
  frontend/dods_pip/src/components/AlertQuery/index.tsx
Due: none

Fix annoying warning on build/deployment scripts
  tools/build-projects.sh
  tools/deploy-projects.sh
Due: none

Try to fix the validation that demands 'prod'
  services/taxonomy-service/src/domain/config/index.ts
Due: none

Last minute fixes
  services/editorial-workflow/serverless.yml
Due: none

increasing lambda timeout
  scrapping/contentMigrationStage3/serverless.yml
Due: Deploy Scrapping Lambdas

Fixed email images and duplicated documents
  services/collections/src/handlers/processAlert/processAlert.ts
  services/collections/src/handlers/processAlert/template.handlebars
Due: none

changed migration SQS queues from FIFO to standard
  infrastructure-terraform/environments/deployment/services/migration/modules/sqs/main.tf
  scrapping/contentMigrationStage1/serverless.yml
  scrapping/contentMigrationStage2/serverless.yml
  scrapping/contentMigrationStage3/serverless.yml
  scrapping/contentMigrationStage4/serverless.yml
Due: Deploy Scrapping Lambdas, Terraform Plan

Removed .standard suffix on the queue name
  infrastructure-terraform/environments/deployment/services/migration/modules/sqs/main.tf
  scrapping/contentMigrationStage1/serverless.yml
  scrapping/contentMigrationStage2/serverless.yml
  scrapping/contentMigrationStage3/serverless.yml
  scrapping/contentMigrationStage4/serverless.yml
Due: Deploy Scrapping Lambdas, Terraform Plan

Fix typo on serverless file
  scrapping/contentMigrationStage1/package-lock.json
  scrapping/contentMigrationStage1/package.json
  scrapping/contentMigrationStage1/serverless.yml
Due: Deploy Scrapping Lambdas

Updated terraform configuration [skip ci]
  infrastructure-terraform/INFRA.md
Due: Terraform Plan

Path conditions:
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Terraform Plan: any of: infrastructure-terraform/**
