Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, User Profile Service, Client Account Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, User Profile Deploy, Client Account Deploy, Frontend Build and Deploy

Test build Frontend:
  image: node:alpine
  services:
  - docker
  caches:
  - node
  script:
  - export IMAGE_NAME=${AWS_ECR_NAME}/${FRONTEND_IMAGE}:${BITBUCKET_COMMIT}
  - cd ${FRONTEND_SRC}
  - yarn install
  - yarn test
  - yarn lint
  - yarn build
  - yarn build-storybook

Deploy Graphologi Webhook:
  image: gioatsomoglobal/devopstools:0.2.0
  caches:
  - node
  script:
  - cd services/graphologi-integration
  - npm install
  - serverless deploy

User Profile Service:
  image: gioatsomoglobal/devopstools:0.4.3
  caches:
  - node
  script:
  - ./what2build.sh
  - cd services/userProfile
  - npm install
  - export SERVERLESS_STAGE=dev
  - ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test
  - NODE_ENV=test npm run test:coverage

Client Account Service:
  image: gioatsomoglobal/nodejs-builder:0.1
  caches:
  - node
  script:
  - ./what2build.sh
  - cd services/client-account
  - npm install
  - export SERVERLESS_STAGE=dev
  - ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test:coverage

Validate OpenAPI definitions:
  image: openapitools/openapi-generator-cli:v5.2.1
  script:
  - cd api
  - for i in *.yml; do; openapi-generator-cli validate $i; done

Deploy Scrapping Lambdas:
  image: gioatsomoglobal/devopstools:0.4.2
  services:
  - docker
  caches:
  - node
  script:
  - cd scrapping
  - npm install
  - ./scrapping_deploy.sh

Auth-Authz Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.3
  script:
  - cd services/dods-iam
  - npm install
  - NODE_ENV=test npm run test
  - NODE_ENV=test npm run test:coverage
  - serverless deploy --stage dev

User Profile Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.3
  script:
  - ./what2build.sh
  - cd services/userProfile
  - npm install
  - export SERVERLESS_STAGE=dev
  - ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test
  - NODE_ENV=test npm run test:coverage
  - serverless deploy --stage dev

Client Account Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.3
  script:
  - ./what2build.sh
  - cd services/client-account
  - npm install
  - export SERVERLESS_STAGE=dev
  - ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test
  - NODE_ENV=test npm run test:coverage
  - serverless deploy --stage dev

Frontend Build and Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.3
  deployment: Test
  services:
  - docker
  caches:
  - node
  script:
  - export IMAGE_NAME=${AWS_ECR_NAME}/${FRONTEND_IMAGE}:${BITBUCKET_COMMIT}
  - cd ${FRONTEND_SRC}
  - yarn install
  - yarn lint
  - yarn build-storybook
  - yarn test
  ...

service bucket changes
  services/user-profile/serverless.yml
Due: none

Fixed some merge errors
  services/editorial-workflow/package-lock.json
  services/editorial-workflow/package.json
  services/editorial-workflow/src/handlers/createEditorialWorkflow/createEditorialWorkflow.ts
Due: none

Merged in task/storybook-styling-fix (pull request #149) Fix storybook styling issue Approved-by: Menelik Williams
  frontend/dods_pip/.storybook/DodsPIPTheme.js
  frontend/dods_pip/.storybook/manager-head.html
Due: Test build Frontend, Frontend Build and Deploy

added hover classes
  frontend/dods_pip/src/components/Tooltip/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

initial commit
  frontend/dods_pip/src/components/Popover/Popover.stories.tsx
  frontend/dods_pip/src/components/Popover/Popover.styles.tsx
  frontend/dods_pip/src/components/Popover/Popover.test.tsx
  frontend/dods_pip/src/components/Popover/index.tsx
  frontend/dods_pip/src/components/Tooltip/Tooltip.stories.tsx
  frontend/dods_pip/src/components/Tooltip/Tooltip.styles.tsx
  frontend/dods_pip/src/components/Tooltip/Tooltip.test.tsx
  frontend/dods_pip/src/components/Tooltip/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

file updated
  frontend/dods_pip/src/components/Tooltip/Tooltip.stories.tsx
  frontend/dods_pip/src/components/Tooltip/Tooltip.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

updated file format
  frontend/dods_pip/src/components/Popover/Popover.stories.tsx
  frontend/dods_pip/src/components/Popover/Popover.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

removed unused variable
  frontend/dods_pip/src/components/Popover/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

added info icon
  frontend/dods_pip/src/components/Icon/assets/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

added tests for variations
  frontend/dods_pip/src/components/Tooltip/Tooltip.test.tsx
Due: Test build Frontend, Frontend Build and Deploy

removed extra brackets
  frontend/dods_pip/src/components/Tooltip/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

added color variable removed booleans
  frontend/dods_pip/src/components/Tooltip/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

refactored hover effects
  frontend/dods_pip/src/components/Tooltip/Tooltip.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

added OutsideClickHandler
  frontend/dods_pip/src/components/Popover/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

updated hover with component
  frontend/dods_pip/src/components/Popover/Popover.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

added simulates click event
  frontend/dods_pip/src/components/Popover/Popover.test.tsx
Due: Test build Frontend, Frontend Build and Deploy

restored to master
  frontend/dods_pip/src/components/Icon/assets/index.tsx
  frontend/dods_pip/src/components/Popover/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

bugfix for tests in client-account and boilerplate repositories
  boilerplate/cucumber.js
  boilerplate/jest.config.js
  boilerplate/package-lock.json
  boilerplate/package.json
  boilerplate/serverless.yml
  boilerplate/setEnvironmentVariablesForTest.js
  boilerplate/src/domain/config/index.ts
  boilerplate/tests/unitTests/handlers/getFullName.test.ts
  boilerplate/tests/unitTests/handlers/sayEnglishHello.test.ts
  boilerplate/tests/unitTests/handlers/sayHello.test.ts
  boilerplate/tests/unitTests/handlers/sayTurkishHello.test.ts
  services/client-account/cucumber.js
  services/client-account/jest.config.js
  services/client-account/package-lock.json
  services/client-account/package.json
  services/client-account/serverless.yml
  services/client-account/setEnvironmentVariablesForTest.js
  services/client-account/src/domain/config/index.ts
  services/vpc.local.js
Due: Client Account Service, Client Account Deploy

feat: get client account team
  services/client-account/serverless.yml
  services/client-account/src/db/models/ClientAccount.ts
  services/client-account/src/db/models/UserProfile.ts
  services/client-account/src/db/models/index.ts
  services/client-account/src/domain/interfaces/ClientAccountPersister.ts
  services/client-account/src/domain/interfaces/ClientAccountTeam.ts
  services/client-account/src/domain/interfaces/TypeParsers.ts
  services/client-account/src/handlers/getClientAccountTeamMembers/getClientAccountTeamMembers.ts
  services/client-account/src/handlers/getClientAccountTeamMembers/index.ts
  services/client-account/src/openApi.yml
  services/client-account/src/repositories/ClientAccountRepository.ts
  services/client-account/tests/unitTests/handlers/getClientAccountTeamMembers.test.ts
Due: Client Account Service, Client Account Deploy

fix: user and account association using alias
  services/client-account/src/repositories/ClientAccountRepository.ts
  services/client-account/tests/unitTests/repositories/ClientAccountRepository.test.ts
Due: Client Account Service, Client Account Deploy

Checking build for editorial record
  bitbucket-pipelines.yml
  services/editorial-workflow/setenv.sh
Due: none

Update builder image
  bitbucket-pipelines.yml
  services/client-account/dev.env
  services/client-account/serverless.yml
Due: Client Account Service, Client Account Deploy

Removed setenv script from pipeline (client-account)
  bitbucket-pipelines.yml
  services/client-account/serverless.yml
Due: Client Account Service, Client Account Deploy

Testing build without named profile
  services/client-account/serverless.yml
Due: Client Account Service, Client Account Deploy

Manual step to build deploy storybook
  bitbucket-pipelines.yml
Due: none

Test build-storybook in custom pipeline
  bitbucket-pipelines.yml
Due: none

remove old code
  scrapping/debates-hoc-uk/handler.py
  scrapping/debates-hol-uk/handler.py
Due: Deploy Scrapping Lambdas

dods-iam bugfix
  boilerplate/.npmrc
  boilerplate/package-lock.json
  boilerplate/package.json
  services/client-account/package-lock.json
  services/client-account/package.json
  services/dods-iam/package-lock.json
  services/dods-iam/package.json
  services/dods-iam/src/handlers/http/changePassword/changePassword.ts
  services/dods-iam/src/handlers/http/confirmRegistration/confirmRegistration.ts
  services/dods-iam/src/handlers/http/deleteUser/deleteUser.ts
  services/dods-iam/src/handlers/http/disableUser/disableUser.ts
  services/dods-iam/src/handlers/http/enableUser/enableUser.ts
  services/dods-iam/src/handlers/http/forgotPassword/forgotPassword.ts
  services/dods-iam/src/handlers/http/getUserData/getUserData.ts
  services/dods-iam/src/handlers/http/resendConfirmationCode/resendConfirmationCode.ts
  services/dods-iam/src/handlers/http/resetPassword/resetPassword.ts
  services/dods-iam/src/handlers/http/signIn/signIn.ts
  services/dods-iam/src/handlers/http/signUp/signUp.ts
Due: Client Account Service, Auth-Authz Deploy, Client Account Deploy

dods-iam test script is updated
  services/dods-iam/package.json
Due: Auth-Authz Deploy

dods-iam test script is updated for test:coverage
  services/dods-iam/package.json
Due: Auth-Authz Deploy

Fixed some more merge errors
  services/editorial-workflow/tests/unitTests/handlers/createEditorialRecord.test.ts
Due: none

Motions Wales Scrapping code
  scrapping/motions-wls/.gitignore
  scrapping/motions-wls/README.md
  scrapping/motions-wls/config.ini
  scrapping/motions-wls/dependencies.txt
  scrapping/motions-wls/handler.py
  scrapping/motions-wls/lib
  scrapping/motions-wls/package-lock.json
  scrapping/motions-wls/package.json
  scrapping/motions-wls/requirements.txt
  scrapping/motions-wls/serverless.yml
  scrapping/motions-wls/templates
Due: Deploy Scrapping Lambdas

metadata format fix
  scrapping/debates-hoc-uk/handler.py
  scrapping/debates-hol-uk/handler.py
  scrapping/writtenQuestions-hoc-uk/handler.py
Due: Deploy Scrapping Lambdas

Minor Pep8 fix
  scrapping/lib/common.py
Due: Deploy Scrapping Lambdas

added data attributes
  frontend/dods_pip/src/components/Tooltip/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

updated tests
  frontend/dods_pip/src/components/Tooltip/Tooltip.test.tsx
Due: Test build Frontend, Frontend Build and Deploy

dockerfile for editorial-workflow
  services/editorial-workflow/dockerfile
Due: none

feat(badge): new badge component creation
  frontend/dods_pip/src/components/Badge/Badge.stories.tsx
  frontend/dods_pip/src/components/Badge/Badge.styles.tsx
  frontend/dods_pip/src/components/Badge/Badge.test.tsx
  frontend/dods_pip/src/components/Badge/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

Refactor to start accomodating environments
  services/editorial-workflow/serverless.yml
Due: none

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  User Profile Service: any of: services/userProfile/**
  Client Account Service: any of: services/client-account/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  User Profile Deploy: any of: services/userProfile/**
  Client Account Deploy: any of: services/client-account/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**
