Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, User Profile Service, Client Account Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, User Profile Deploy, Client Account Deploy, Frontend Build and Deploy

Test build Frontend:
  image: node:alpine
  services:
  - docker
  caches:
  - node
  script:
  - export IMAGE_NAME=${AWS_ECR_NAME}/${FRONTEND_IMAGE}:${BITBUCKET_COMMIT}
  - cd ${FRONTEND_SRC}
  - yarn install
  - yarn test
  - yarn lint
  - yarn build
  - yarn build-storybook

Deploy Graphologi Webhook:
  image: gioatsomoglobal/devopstools:0.2.0
  caches:
  - node
  script:
  - cd services/graphologi-integration
  - npm install
  - serverless deploy

User Profile Service:
  image: gioatsomoglobal/devopstools:0.4.3
  caches:
  - node
  script:
  - ./what2build.sh
  - cd services/userProfile
  - npm install
  - export SERVERLESS_STAGE=dev
  - ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test
  - NODE_ENV=test npm run test:coverage

Client Account Service:
  image: gioatsomoglobal/nodejs-builder:0.1
  caches:
  - node
  script:
  - ./what2build.sh
  - cd services/client-account
  - npm install
  - export SERVERLESS_STAGE=dev
  - ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test:coverage

Validate OpenAPI definitions:
  image: openapitools/openapi-generator-cli:v5.2.1
  script:
  - cd api
  - for i in *.yml; do; openapi-generator-cli validate $i; done

Deploy Scrapping Lambdas:
  image: gioatsomoglobal/devopstools:0.4.2
  services:
  - docker
  caches:
  - node
  script:
  - cd scrapping
  - npm install
  - ./scrapping_deploy.sh

Auth-Authz Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.3
  script:
  - cd services/dods-iam
  - npm install
  - NODE_ENV=test npm run test
  - NODE_ENV=test npm run test:coverage
  - serverless deploy --stage dev

User Profile Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.3
  script:
  - ./what2build.sh
  - cd services/userProfile
  - npm install
  - export SERVERLESS_STAGE=dev
  - ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test
  - NODE_ENV=test npm run test:coverage
  - serverless deploy --stage dev

Client Account Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.3
  script:
  - ./what2build.sh
  - cd services/client-account
  - npm install
  - export SERVERLESS_STAGE=dev
  - ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test
  - NODE_ENV=test npm run test:coverage
  - serverless deploy --stage dev

Frontend Build and Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.3
  deployment: Test
  services:
  - docker
  caches:
  - node
  script:
  - export IMAGE_NAME=${AWS_ECR_NAME}/${FRONTEND_IMAGE}:${BITBUCKET_COMMIT}
  - cd ${FRONTEND_SRC}
  - yarn install
  - yarn lint
  - yarn build-storybook
  - yarn test
  ...

update clientAccount openAPI notes not required
  api/ClientAccount.yml
  services/client-account/serverless.yml
Due: Client Account Service, Validate OpenAPI definitions, Client Account Deploy

Added husky pre-commit checks to this service
  services/user-profile/.husky/pre-commit
  services/user-profile/package.json
Due: none

Fix DB_HOST environment variable
  services/client-account/package-lock.json
  services/client-account/serverless.yml
Due: Client Account Service, Client Account Deploy

unit test is updated in UserProfileRepositoryV2
  services/user-profile/tests/unitTests/repositories/UserProfileRepositoryV2.test.ts
Due: none

Found working serverless.yml configuration
  services/client-account/serverless.yml
Due: Client Account Service, Client Account Deploy

healt function is deleted
  services/user-profile/serverless.yml
  services/user-profile/src/handlers/health/health.ts
  services/user-profile/src/handlers/health/index.ts
  services/user-profile/src/openApi.yml
  services/user-profile/tests/integrationTests/step-definitions/greetingSteps.ts
  services/user-profile/tests/unitTests/handlers/health.test.ts
Due: none

Added updateClienAccountHeaderto serverless.yml
  services/client-account/serverless.yml
Due: Client Account Service, Client Account Deploy

DOD-539 Add client account integration (step 1) (v2)
  frontend/dods_pip/src/pages/account-management/add-client/account-info.tsx
  frontend/dods_pip/src/pages/api/clientaccount/[uuid].page.tsx
  frontend/dods_pip/src/pages/api/clientaccount/[uuid]/header.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

added route to ecr
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/main.tf
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/templates/app.json.tpl
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/templates/fargate_app.json.tpl
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/variables.tf
  infrastructure-terraform/environments/deployment/services/vpc/main.tf
Due: none

setting up a nat instance to pass outgoing ipv4 traffic through
  infrastructure-terraform/environments/deployment/services/vpc/main.tf
  infrastructure-terraform/main.tf
  infrastructure-terraform/nat_startup.sh
  infrastructure-terraform/variables.tf
Due: none

fixed formatting issues
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/templates/app.json.tpl
  infrastructure-terraform/environments/deployment/services/vpc/main.tf
Due: none

fix(DOD-418): corrects varname :see_no_evil:
  frontend/dods_pip/src/components/_form/Radio/Radio.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

feat(DOD-589): RepositoryTable
  frontend/dods_pip/.storybook/preview.js
  frontend/dods_pip/jest.config.js
  frontend/dods_pip/package.json
  frontend/dods_pip/src/components/Icon/assets/icon-bin.svg
  frontend/dods_pip/src/components/Icon/assets/icon-clock.svg
  frontend/dods_pip/src/components/Icon/assets/icon-disk.svg
  frontend/dods_pip/src/components/Icon/assets/icon-lock.svg
  frontend/dods_pip/src/components/Icon/assets/icon-pencil.svg
  frontend/dods_pip/src/components/Icon/assets/index.tsx
  frontend/dods_pip/src/components/Icon/index.tsx
  frontend/dods_pip/src/components/RepositoryStatus/RepositoryStatus.stories.tsx
  frontend/dods_pip/src/components/RepositoryStatus/RepositoryStatus.test.tsx
  frontend/dods_pip/src/components/RepositoryStatus/index.tsx
  frontend/dods_pip/src/components/RepositoryTable/RepositoryTable.stories.tsx
  frontend/dods_pip/src/components/RepositoryTable/RepositoryTable.styles.tsx
  frontend/dods_pip/src/components/RepositoryTable/RepositoryTable.test.tsx
  frontend/dods_pip/src/components/RepositoryTable/index.tsx
  frontend/dods_pip/src/components/Tag/Tag.stories.tsx
  frontend/dods_pip/src/components/Tag/Tag.styles.tsx
  frontend/dods_pip/src/components/Tag/Tag.test.tsx
  frontend/dods_pip/src/components/Tag/index.tsx
  frontend/dods_pip/src/components/Tooltip/Tooltip.styles.tsx
  frontend/dods_pip/src/components/Tooltip/index.tsx
  frontend/dods_pip/src/components/_layout/SectionHeader/index.tsx
  frontend/dods_pip/src/globals/media.tsx
  frontend/dods_pip/src/mocks/data/repository.json
  frontend/dods_pip/src/pages/editorial.page.tsx
  frontend/dods_pip/yarn.lock
Due: Test build Frontend, Frontend Build and Deploy

Feat/DOD-564 numeric input component
  frontend/dods_pip/setup-test-env.js
  frontend/dods_pip/src/components/_form/NumberPicker/NumberPicker.stories.tsx
  frontend/dods_pip/src/components/_form/NumberPicker/NumberPicker.styles.tsx
  frontend/dods_pip/src/components/_form/NumberPicker/NumberPicker.test.tsx
  frontend/dods_pip/src/components/_form/NumberPicker/index.tsx
  frontend/dods_pip/src/pages/account-management/add-client/subscription.tsx
Due: Test build Frontend, Frontend Build and Deploy

dod-664 nat instance
  infrastructure-terraform/environments/deployment/services/migration/main.tf
  infrastructure-terraform/main.tf
Due: none

update(DOD-478): Lable update and password placeholder
  frontend/dods_pip/src/components/_form/Checkbox/Checkbox.styles.tsx
  frontend/dods_pip/src/components/_form/Checkbox/index.tsx
  frontend/dods_pip/src/components/_form/InputBase/index.tsx
  frontend/dods_pip/src/components/_form/InputPassword/index.tsx
  frontend/dods_pip/src/components/_form/Label/Label.stories.tsx
  frontend/dods_pip/src/components/_form/NumberPicker/index.tsx
  frontend/dods_pip/src/components/_form/TextArea/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

stage 1 output s3
  infrastructure-terraform/environments/deployment/services/migration/main.tf
Due: none

stage 2 output s3
  infrastructure-terraform/environments/deployment/services/migration/main.tf
Due: none

fix(DOD-522): corrects endpoint change
  frontend/dods_pip/src/pages/reset-password.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

DOD-539 - Disable API integration until API is ready (unblock QA of DOD-564)
  frontend/dods_pip/src/pages/account-management/add-client/account-info.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/account-info.tsx
Due: Test build Frontend, Frontend Build and Deploy

added create team member lambda
  services/client-account/package-lock.json
  services/client-account/serverless.yml
  services/client-account/src/db/models/ClientAccount.ts
  services/client-account/src/domain/config/index.ts
  services/client-account/src/domain/interfaces/ClientAccountPersister.ts
  services/client-account/src/domain/interfaces/ClientAccountTeam.ts
  services/client-account/src/handlers/createTeamMember/createTeamMember.ts
  services/client-account/src/handlers/createTeamMember/index.ts
  services/client-account/src/openApi.yml
  services/client-account/src/repositories/ClientAccountRepository.ts
  services/client-account/src/repositories/UserProfileServiceRepository.ts
  services/client-account/src/repositories/index.ts
  services/client-account/src/services/UserProfileServiceGateway.ts
  services/client-account/src/services/index.ts
  services/client-account/tests/unitTests/handlers/createTeamMember.test.ts
  services/client-account/tests/unitTests/repositories/ClientAccountRepository.test.ts
  services/user-profile/src/repositories/UserProfileRepository.ts
Due: Client Account Service, Client Account Deploy

update ClientAccount CamelCase
  services/client-account/serverless.yml
  services/client-account/src/db/models/ClientAccount.ts
  services/client-account/src/db/types/ClientAccountModel.ts
  services/client-account/src/domain/interfaces/ClientAccount.ts
  services/client-account/src/domain/interfaces/ClientAccountPersister.ts
  services/client-account/src/domain/interfaces/TypeParsers.ts
  services/client-account/src/handlers/addTeamMemberToClientAccount/addTeamMemberToClientAccount.ts
  services/client-account/src/handlers/searchClientAccount/index.ts
  services/client-account/src/handlers/updateClientAccount/updateClientAccount.ts
  services/client-account/src/handlers/updateClientAccountHeader/updateClientAccountHeader.ts
  services/client-account/src/openApi.yml
  services/client-account/src/repositories/ClientAccountRepository.ts
  services/client-account/tests/unitTests/handlers/addTeamMemberToClientAccount.test.ts
  services/client-account/tests/unitTests/handlers/createClientAccount.test.ts
  services/client-account/tests/unitTests/handlers/getClientAccount.test.ts
  services/client-account/tests/unitTests/handlers/updateClientAccount.test.ts
  services/client-account/tests/unitTests/handlers/updateClientAccountHeader.test.ts
  services/client-account/tests/unitTests/repositories/ClientAccountRepository.test.ts
Due: Client Account Service, Client Account Deploy

swagger format fix
  services/client-account/tests/unitTests/handlers/searchClientAccount.test.ts
  services/user-profile/src/openApi.yml
Due: Client Account Service, Client Account Deploy

feat(DOD-589): code review
  frontend/dods_pip/src/components/RepositoryStatus/RepositoryStatus.test.tsx
  frontend/dods_pip/src/components/RepositoryTable/RepositoryTable.test.tsx
  frontend/dods_pip/src/components/RepositoryTable/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-589): stray import
  frontend/dods_pip/src/pages/account-management/add-client/subscription.tsx
Due: Test build Frontend, Frontend Build and Deploy

Minor TF fixes, major pipeline fix
  frontend/dods_pip/package.json
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/main.tf
  infrastructure-terraform/main.tf
Due: Test build Frontend, Frontend Build and Deploy

dods-model: migration and model are updated
  dods-model/src/db/migrations/20211012000004-create-dods_client_accounts.ts
  dods-model/src/db/models/ClientAccount.ts
Due: none

open api files are updated
  boilerplate/src/openApi.yml
  services/client-account/src/openApi.yml
Due: Client Account Service, Client Account Deploy

fix: remove create team test
  services/client-account/tests/unitTests/handlers/createTeamMember.test.ts.ignore
  services/client-account/tsconfig.json
Due: Client Account Service, Client Account Deploy

Changed Uk and Eu for response and requests
  services/client-account/src/domain/interfaces/ClientAccount.ts
  services/client-account/src/domain/interfaces/TypeParsers.ts
Due: Client Account Service, Client Account Deploy

DOD-540 Client account Step2 Integration
  frontend/dods_pip/jest.config.js
  frontend/dods_pip/setup-test-env.js
  frontend/dods_pip/src/lib/useSubscriptionTypes.tsx
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
  frontend/dods_pip/src/pages/account-management/accounts.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/account-info.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/index.page.tsx
  frontend/dods_pip/src/pages/account-management/add-client/index.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/subscription.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/subscription.tsx
  frontend/dods_pip/src/pages/api/client-accounts/[...uuid].page.tsx
  frontend/dods_pip/src/pages/api/clientaccount/[uuid]/[...slug].page.tsx
  frontend/dods_pip/src/pages/api/subscription-types.page.tsx
  frontend/dods_pip/src/utils/api.tsx
Due: Test build Frontend, Frontend Build and Deploy

fixed s3 name
  infrastructure-terraform/environments/deployment/services/migration/main.tf
Due: none

dod-640 and dod-641
  infrastructure-terraform/environments/deployment/services/migration/main.tf
Due: none

loadbalancer on wrong subnet
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/main.tf
Due: none

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  User Profile Service: any of: services/userProfile/**
  Client Account Service: any of: services/client-account/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  User Profile Deploy: any of: services/userProfile/**
  Client Account Deploy: any of: services/client-account/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**
