Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build and Deploy Frontend, Deploy Graphologi Webhook, Deploy Scrapping Lambdas

Build and Deploy Frontend:
  image: gioatsomoglobal/devopstools:0.2.0
  deployment: Test
  services:
  - docker
  caches:
  - node
  script:
  - export IMAGE_NAME=${AWS_ECR_NAME}/${FRONTEND_IMAGE}:${BITBUCKET_COMMIT}
  - cd ${FRONTEND_SRC}
  - yarn install
  - yarn lint
  - yarn build-storybook
  - yarn test
  - aws s3 rm s3://test-dods-pip-storybook/
  ...

Deploy Graphologi Webhook:
  image: gioatsomoglobal/devopstools:0.2.0
  caches:
  - node
  script:
  - cd services/graphologi-integration
  - npm install
  - serverless deploy

Deploy Scrapping Lambdas:
  image: gioatsomoglobal/devopstools:0.4.2
  services:
  - docker
  caches:
  - node
  script:
  - cd scrapping
  - npm install
  - ./scrapping_deploy.sh

feat(dod-367): added avatar icon & disabled variant to component
  frontend/dods_pip/src/components/Avatar/index.tsx
  frontend/dods_pip/src/components/Icon/assets/icon-avatar.svg
  frontend/dods_pip/src/components/Icon/assets/index.tsx
Due: Build and Deploy Frontend

feat(dod-367): color changed back how it was before
  frontend/dods_pip/src/globals/color.tsx
Due: Build and Deploy Frontend

touch to deploy oral-questions-hol-uk
  scrapping/oral-questions-hol-uk/handler.py
  scrapping/oralQuestions-hoc-uk/.gitignore
  scrapping/oralQuestions-hoc-uk/README.md
  scrapping/oralQuestions-hoc-uk/handler.py
  scrapping/oralQuestions-hoc-uk/package-lock.json
  scrapping/oralQuestions-hoc-uk/package.json
  scrapping/oralQuestions-hoc-uk/serverless.yml
Due: Deploy Scrapping Lambdas

feat(DOD-367): test coverage
  frontend/dods_pip/src/components/Avatar/Avatar.test.tsx
Due: Build and Deploy Frontend

another touch to deploy
  scrapping/oral-questions-hol-uk/serverless.yml
Due: Deploy Scrapping Lambdas

feat(DOD-369): test coverage
  frontend/dods_pip/src/components/AlfabeticalFilter/AZFilter.test.tsx
  frontend/dods_pip/src/components/AlfabeticalFilter/index.tsx
Due: Build and Deploy Frontend

bug(DOD-261): FOUC display bug
  frontend/dods_pip/next-env.d.ts
  frontend/dods_pip/src/pages/_document.page.tsx
Due: Build and Deploy Frontend

feat(dod-367): improve tests & size logic @ comp
  frontend/dods_pip/src/components/Avatar/Avatar.styles.tsx
  frontend/dods_pip/src/components/Avatar/Avatar.test.tsx
  frontend/dods_pip/src/components/Avatar/index.tsx
  frontend/dods_pip/src/components/Icon/index.tsx
  frontend/dods_pip/src/components/Text/index.tsx
Due: Build and Deploy Frontend

feat(dod-367): new svg
  frontend/dods_pip/src/components/Icon/assets/icon-avatar.svg
Due: Build and Deploy Frontend

feat(DOD-367): adjust svg sizes
  frontend/dods_pip/src/components/AlfabeticalFilter/AZFilter.stories.tsx
  frontend/dods_pip/src/components/AlfabeticalFilter/AZFilter.styles.tsx
  frontend/dods_pip/src/components/AlfabeticalFilter/AZFilter.test.tsx
  frontend/dods_pip/src/components/AlfabeticalFilter/index.tsx
  frontend/dods_pip/src/components/Avatar/Avatar.test.tsx
  frontend/dods_pip/src/components/Avatar/index.tsx
  frontend/dods_pip/src/components/Icon/index.tsx
Due: Build and Deploy Frontend

Improved deployment script for scrapping folder
  scrapping/scrapping_deploy.sh
Due: Deploy Scrapping Lambdas

feat(DOD-369): test coverage
  frontend/dods_pip/src/components/AlfabeticalFilter/AZFilter.styles.tsx
  frontend/dods_pip/src/components/AlfabeticalFilter/AZFilter.test.tsx
  frontend/dods_pip/src/components/AlfabeticalFilter/index.tsx
Due: Build and Deploy Frontend

Changed origin for storybook deployment
  bitbucket-pipelines.yml
Due: none

Merged in DOD-294-WQ-HOC (pull request #40)
  scrapping/debates-hoc-uk/handler.py
  scrapping/debates-hol-uk/handler.py
  scrapping/debates-nir/handler.py
  scrapping/debates-wls/handler.py
  scrapping/lib/common.py
  scrapping/lib/configs.py
  scrapping/lib/data_model.py
  scrapping/lib/logger.py
  scrapping/lib/validation.py
  scrapping/motions-edm-uk/handler.py
  scrapping/oral-questions-hol-uk/handler.py
  scrapping/writtenQuestions-hoc-uk/config.ini
  scrapping/writtenQuestions-hoc-uk/handler.py
  scrapping/writtenQuestions-hoc-uk/lib
  scrapping/writtenQuestions-hoc-uk/package-lock.json
  scrapping/writtenQuestions-hoc-uk/package.json
  scrapping/writtenQuestions-hoc-uk/requirements.txt
  scrapping/writtenQuestions-hoc-uk/serverless.yml
  scrapping/writtenQuestions-hoc-uk/templates
  scrapping/writtenQuestions-hol-uk/handler.py
  tools/scraper-template-folder/handler.py
Due: Deploy Scrapping Lambdas

Client account swagger spec added
  api/ClientAccount.yml
  api/readme.md
Due: none

Improved scrapping deployment script
  scrapping/scrapping_deploy.sh
Due: Deploy Scrapping Lambdas

Bug fixes
  scrapping/scrapping_deploy.sh
Due: Deploy Scrapping Lambdas

Use AWS Copilot CLI for Fargate deployments
  infra/copilot/frontend-dods-pip/manifest.yml
  tools/ecs_deploy.sh
Due: none

Update builder image to include copilot CLI
  bitbucket-pipelines.yml
Due: none

Copilot CLI deploy
  tools/ecs_deploy.sh
Due: none

feat(DOD-122): breadcrumbs creation
  frontend/dods_pip/src/components/Breadcrumbs/Breadcrumbs.stories.tsx
  frontend/dods_pip/src/components/Breadcrumbs/Breadcrumbs.styles.tsx
  frontend/dods_pip/src/components/Breadcrumbs/Breadcrumbs.test.tsx
  frontend/dods_pip/src/components/Breadcrumbs/index.tsx
Due: Build and Deploy Frontend

stage-1
  Infrastructure Terraform/.gitignore
  Infrastructure Terraform/README.md
  Infrastructure Terraform/environments/default.tfvars
  Infrastructure Terraform/environments/development.tfvars
  Infrastructure Terraform/environments/production.tfvars
  Infrastructure Terraform/environments/staging.tfvars
  Infrastructure Terraform/main.tf
  Infrastructure Terraform/output.tf
  Infrastructure Terraform/plans/.gitkeep
  Infrastructure Terraform/provider.tf
  Infrastructure Terraform/terraform.tf
  Infrastructure Terraform/variables.tf
Due: none

feat(DOD-125) Chips
  frontend/dods_pip/package.json
  frontend/dods_pip/src/components/Chips/Chips.stories.tsx
  frontend/dods_pip/src/components/Chips/Chips.styles.tsx
  frontend/dods_pip/src/components/Chips/Chips.test.tsx
  frontend/dods_pip/src/components/Chips/index.tsx
  frontend/dods_pip/src/components/Icon/Icon.styles.tsx
  frontend/dods_pip/src/globals/color.tsx
Due: Build and Deploy Frontend

feat(DOD-353): Client Accounts page
  frontend/dods_pip/src/components/AZFilter/AZFilter.stories.tsx
  frontend/dods_pip/src/components/AZFilter/AZFilter.styles.tsx
  frontend/dods_pip/src/components/AZFilter/AZFilter.test.tsx
  frontend/dods_pip/src/components/AZFilter/index.tsx
  frontend/dods_pip/src/components/Button/Button.test.tsx
  frontend/dods_pip/src/components/Button/index.tsx
  frontend/dods_pip/src/components/Header/Header.styles.tsx
  frontend/dods_pip/src/components/Header/Header.test.tsx
  frontend/dods_pip/src/components/Header/index.tsx
  frontend/dods_pip/src/components/Icon/Icon.styles.tsx
  frontend/dods_pip/src/components/Icon/assets/icon-chevronDown.svg
  frontend/dods_pip/src/components/Icon/assets/icon-chevronUp.svg
  frontend/dods_pip/src/components/Icon/assets/index.tsx
  frontend/dods_pip/src/components/Pagination/Pagination.test.tsx
  frontend/dods_pip/src/components/Pagination/index.tsx
  frontend/dods_pip/src/components/Text/Text.styles.tsx
  frontend/dods_pip/src/components/Text/Text.test.tsx
  frontend/dods_pip/src/components/Text/index.tsx
  frontend/dods_pip/src/components/_form/InputBase/InputBase.styles.tsx
  frontend/dods_pip/src/mocks/data/client-accounts.json
  frontend/dods_pip/src/pages/_app.page.tsx
  frontend/dods_pip/src/pages/account-management/clients.page.tsx
  frontend/dods_pip/src/pages/account-management/clients.styles.tsx
  frontend/dods_pip/src/pages/account-management/clients.test.tsx
Due: Build and Deploy Frontend

chore(DOD-353): boilerplate changes
  frontend/dods_pip/jest.config.js
  frontend/dods_pip/next-env.d.ts
Due: Build and Deploy Frontend

feat(DOD-353): add todos for temp selects
  frontend/dods_pip/src/pages/account-management/clients.page.tsx
Due: Build and Deploy Frontend

Initial commit
  services/user-profile/.gitignore
  services/user-profile/.nvmrc
  services/user-profile/README.md
  services/user-profile/package.json
  services/user-profile/serverless.ts
  services/user-profile/src/functions/hello/handler.ts
  services/user-profile/src/functions/hello/index.ts
  services/user-profile/src/functions/hello/mock.json
  services/user-profile/src/functions/hello/schema.ts
  services/user-profile/src/functions/index.ts
  services/user-profile/src/libs/apiGateway.ts
  services/user-profile/src/libs/handlerResolver.ts
  services/user-profile/src/libs/lambda.ts
  services/user-profile/tsconfig.json
  services/user-profile/tsconfig.paths.json
  services/user-profile/webpack.config.js
Due: none

Added pipeline for user-profile service
  bitbucket-pipelines.yml
Due: none

Added User profiles swagger
  api/UserProfile.yml
Due: none

Fix docker command in readme to work on more systems
  api/readme.md
Due: none

Corrected endpoint URL
  api/ClientAccount.yml
Due: none

Fix some validation errors
  api/UserProfile.yml
Due: none

feat(DOD-450): accounts spacing and naming
  frontend/dods_pip/src/components/Breadcrumbs/Breadcrumbs.styles.tsx
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
  frontend/dods_pip/src/pages/account-management/accounts.styles.tsx
  frontend/dods_pip/src/pages/account-management/accounts.test.tsx
Due: Build and Deploy Frontend

feat(DOD-450): remove extraneous import
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
Due: Build and Deploy Frontend

Gave more resources to Frontend building step
  bitbucket-pipelines.yml
Due: none

feat(DOD-412): input label and size variations
  frontend/dods_pip/src/components/Text/Text.styles.tsx
  frontend/dods_pip/src/components/_form/InputBase/InputBase.styles.tsx
  frontend/dods_pip/src/components/_form/InputBase/InputBase.test.tsx
  frontend/dods_pip/src/components/_form/InputBase/index.tsx
  frontend/dods_pip/src/components/_form/InputPassword/InputPassword.stories.tsx
  frontend/dods_pip/src/components/_form/InputPassword/InputPassword.styles.tsx
  frontend/dods_pip/src/components/_form/InputPassword/index.tsx
  frontend/dods_pip/src/components/_form/InputSearch/InputSearch.stories.tsx
  frontend/dods_pip/src/components/_form/InputSearch/InputSearch.styles.tsx
  frontend/dods_pip/src/components/_form/InputSearch/index.tsx
  frontend/dods_pip/src/components/_form/InputText/InputText.stories.tsx
  frontend/dods_pip/src/components/_form/InputText/index.tsx
Due: Build and Deploy Frontend

feat(DOD-412): remove dev label
  frontend/dods_pip/src/components/_form/InputText/InputText.stories.tsx
Due: Build and Deploy Frontend

Hopefully fixed 'Role' schema as reported by openapi-generator
  api/UserProfile.yml
Due: none

feat(DOD-450): change to small search input
  frontend/dods_pip/src/components/_form/InputBase/index.tsx
  frontend/dods_pip/src/components/_form/InputSearch/index.tsx
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
Due: Build and Deploy Frontend

Path conditions:
  Build and Deploy Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  Deploy Scrapping Lambdas: any of: scrapping/**
