Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, User Profile Service, Client Account Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, User Profile Deploy, Client Account Deploy, Frontend Build and Deploy

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  User Profile Service: any of: services/userProfile/**
  Client Account Service: any of: services/client-account/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  User Profile Deploy: any of: services/userProfile/**
  Client Account Deploy: any of: services/client-account/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**

dod-935: lambda function is updated
  services/user-profile/src/domain/errors/index.ts
  services/user-profile/src/domain/index.ts
  services/user-profile/src/domain/interfaces/UserProfilePersisterV2.ts
  services/user-profile/src/handlers/searchUsers/searchUsers.ts
  services/user-profile/src/openApi.yml
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
Due: none

feat(DOD-628): Add User UI
  frontend/dods_pip/src/components/Button/Button.styles.tsx
  frontend/dods_pip/src/components/_form/InputBase/index.tsx
  frontend/dods_pip/src/components/_form/Label/index.tsx
  frontend/dods_pip/src/components/_layout/PageHeader/PageHeader.styles.tsx
  frontend/dods_pip/src/components/_layout/PageHeader/index.tsx
  frontend/dods_pip/src/mocks/data/accounts.json
  frontend/dods_pip/src/pages/account-management/add-client/team.tsx
  frontend/dods_pip/src/pages/account-management/add-user.page.tsx
  frontend/dods_pip/src/pages/account-management/add-user.styles.tsx
  frontend/dods_pip/src/pages/account-management/add-user.test.tsx
  frontend/dods_pip/src/utils/type.tsx
Due: Test build Frontend, Frontend Build and Deploy

changes in OpenApi and required parameters
  dods-model/src/db/seeders/20211133000001-seed-dods_roles.ts
  services/user-profile/src/openApi.yml
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
Due: none

API Gateway resource and dods-iam refactor
  bitbucket-pipelines.yml
  infrastructure-terraform/env-config.dev.js
  infrastructure-terraform/env-config.production.js
  infrastructure-terraform/env-config.qa.js
  infrastructure-terraform/env-config.test.js
  infrastructure-terraform/env_configs.tf.DNU
  infrastructure-terraform/environments/deployment/env_configs.tf
  infrastructure-terraform/environments/deployment/main.tf
  infrastructure-terraform/environments/deployment/output.tf
  infrastructure-terraform/environments/deployment/services/api-gateway/main.tf
  infrastructure-terraform/environments/deployment/services/api-gateway/output.tf
  infrastructure-terraform/environments/deployment/services/api-gateway/variables.tf
  infrastructure-terraform/environments/deployment/services/migration/main.tf
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/main.tf
  infrastructure-terraform/templates/env-config.js.tpl
  infrastructure-terraform/vpc.production.js
  infrastructure-terraform/vpc.test.js
  services/dods-iam/serverless.yml
  services/env-config.dev.js
  services/env-config.production.js
  services/env-config.qa.js
  services/env-config.test.js
Due: Auth-Authz Deploy

DOD-541 - Search for Users (only)
  frontend/dods_pip/src/components/Chips/index.tsx
  frontend/dods_pip/src/components/TagSelector/TagSelector.test.tsx
  frontend/dods_pip/src/components/TagSelector/index.tsx
  frontend/dods_pip/src/components/_form/SearchDropdown/SearchDropdown.test.tsx
  frontend/dods_pip/src/components/_form/SearchDropdown/index.tsx
  frontend/dods_pip/src/components/_form/Select/Dropdown.test.tsx
  frontend/dods_pip/src/components/_form/Select/Dropdown.tsx
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
  frontend/dods_pip/src/pages/account-management/add-client/index.page.tsx
  frontend/dods_pip/src/pages/account-management/add-client/team.tsx
  frontend/dods_pip/src/pages/api/users.page.tsx
  frontend/dods_pip/src/utils/type.tsx
Due: Test build Frontend, Frontend Build and Deploy

copy stage 1
  scrapping/contentMigration/stage2/.gitignore
  scrapping/contentMigration/stage2/README.md
  scrapping/contentMigration/stage2/config.ini
  scrapping/contentMigration/stage2/dependencies.txt
  scrapping/contentMigration/stage2/handler.py
  scrapping/contentMigration/stage2/lib
  scrapping/contentMigration/stage2/package-lock.json
  scrapping/contentMigration/stage2/package.json
  scrapping/contentMigration/stage2/requirements.txt
  scrapping/contentMigration/stage2/serverless.yml
  scrapping/contentMigration/stage2/templates
Due: Deploy Scrapping Lambdas

remove hashing and dynamodb step
  scrapping/contentMigration/stage2/handler.py
Due: Deploy Scrapping Lambdas

rename queue and input bucket
  scrapping/contentMigration/stage2/serverless.yml
Due: Deploy Scrapping Lambdas

Remove DynamoDB references
  scrapping/contentMigration/stage2/serverless.yml
Due: Deploy Scrapping Lambdas

comment additional OUTPUT_BUCKET references
  scrapping/contentMigration/stage2/handler.py
  scrapping/contentMigration/stage2/serverless.yml
Due: Deploy Scrapping Lambdas

DOD-303/View detail client account
  frontend/dods_pip/src/components/DataTable/DataTable.styles.tsx
  frontend/dods_pip/src/components/DataTable/index.tsx
  frontend/dods_pip/src/components/Icon/assets/icon-edit.svg
  frontend/dods_pip/src/components/Icon/assets/icon-users.svg
  frontend/dods_pip/src/components/Icon/assets/index.tsx
  frontend/dods_pip/src/mocks/data/client-accounts.json
  frontend/dods_pip/src/pages/account-management/accounts.styles.tsx
  frontend/dods_pip/src/pages/account-management/add-client/index.page.tsx
  frontend/dods_pip/src/pages/account-management/add-client/index.test.tsx
  frontend/dods_pip/src/pages/accounts/[id].page.tsx
  frontend/dods_pip/src/pages/accounts/collections.tsx
  frontend/dods_pip/src/pages/accounts/index.styles.tsx
  frontend/dods_pip/src/pages/accounts/summary.test.tsx
  frontend/dods_pip/src/pages/accounts/summary.tsx
  frontend/dods_pip/src/pages/accounts/users.tsx
Due: Test build Frontend, Frontend Build and Deploy

dod-935: unit tests are completed.
  services/user-profile/src/domain/interfaces/UserProfilePersisterV2.ts
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
  services/user-profile/tests/unitTests/handlers/searchUsers.test.ts
  services/user-profile/tests/unitTests/repositories/UserProfileRepositoryV2.test.ts
Due: none

stage 3 output bucket
  infrastructure-terraform/environments/deployment/services/migration/main.tf
Due: none

Removing subquery add findAllCount
  services/client-account/src/repositories/ClientAccountRepository.ts
Due: Client Account Service, Client Account Deploy

Update the taxonomy update endpoint
  services/graphologi-integration/README.md
  services/graphologi-integration/package-lock.json
  services/graphologi-integration/package.json
  services/graphologi-integration/requirements.txt
  services/graphologi-integration/serverless.yml
  services/graphologi-integration/taxonomyImport.py
  services/graphologi-integration/yarn.lock
Due: Deploy Graphologi Webhook

Provide docker service to graphologi builds
  bitbucket-pipelines.yml
  services/graphologi-integration/serverless.yml
Due: Deploy Graphologi Webhook

Give more memory to graphologi integration build
  bitbucket-pipelines.yml
  services/graphologi-integration/serverless.yml
Due: Deploy Graphologi Webhook

Fix config error
  services/pandas-layer/package.json
Due: none

Fix Python config error
  services/pandas-layer/layers/pandas/requirements.txt
Due: none

Fix serverless configuration error
  services/pandas-layer/serverless.yml
Due: none

Make lambda refer to custom layer by CF
  services/graphologi-integration/serverless.yml
Due: Deploy Graphologi Webhook

Let's not use docker this time
  services/graphologi-integration/serverless.yml
Due: Deploy Graphologi Webhook

Content sources list (provisional), Information types list (provisional) and Editorial Records Statuses List.
  services/editorial-workflow/package-lock.json
  services/editorial-workflow/package.json
  services/editorial-workflow/serverless.yml
  services/editorial-workflow/src/domain/interfaces/EditorialRecord.ts
  services/editorial-workflow/src/domain/interfaces/EditorialRecordStatusPersister.ts
  services/editorial-workflow/src/handlers/getContentSourcesList/getContentSourcesList.ts
  services/editorial-workflow/src/handlers/getContentSourcesList/index.ts
  services/editorial-workflow/src/handlers/getEditorialRecordStatusList/getEditorialRecordStatusList.ts
  services/editorial-workflow/src/handlers/getEditorialRecordStatusList/index.ts
  services/editorial-workflow/src/handlers/getInformationTypesList/getInformationTypesList.ts
  services/editorial-workflow/src/handlers/getInformationTypesList/index.ts
  services/editorial-workflow/src/openApi.yml
  services/editorial-workflow/src/repositories/EditorialRecordStatusesRepository.ts
  services/editorial-workflow/src/repositories/EditorialWorkflowFiltersProvisionalRepository.ts
  services/editorial-workflow/tests/unitTests/handlers/getEditorialRecordStatusList.test.ts
  services/editorial-workflow/tests/unitTests/repositories/editorialRecordStatusesRepository.test.ts
Due: none

Define API keys for API Gateways
  bitbucket-pipelines.yml
  infrastructure-terraform/environments/deployment/output.tf
  infrastructure-terraform/environments/deployment/parameters.tf
  infrastructure-terraform/environments/deployment/services/api-gateway/main.tf
  infrastructure-terraform/environments/deployment/services/api-gateway/output.tf
Due: none

fix filter searchClientAccount subscription queries
  services/client-account/package-lock.json
  services/client-account/package.json
  services/client-account/src/domain/interfaces/ClientAccountPersister.ts
  services/client-account/src/repositories/ClientAccountRepository.ts
Due: Client Account Service, Client Account Deploy

remove step1 references into step2
  scrapping/contentMigration/stage2/package-lock.json
  scrapping/contentMigration/stage2/package.json
  scrapping/contentMigration/stage2/serverless.yml
Due: Deploy Scrapping Lambdas

switch to single .json file
  scrapping/contentMigration/stage2/handler.py
  scrapping/lib/validation.py
Due: Deploy Scrapping Lambdas

feat(DOD-628): test pipeline
  frontend/dods_pip/src/pages/account-management/add-user.test.tsx
Due: Test build Frontend, Frontend Build and Deploy

feat(DOD-628): restore test change
  frontend/dods_pip/src/pages/account-management/add-user.test.tsx
Due: Test build Frontend, Frontend Build and Deploy

Added teammembers array, OpenApi, unit test and changes un endpoints
  dods-model/src/db/models/ClientAccountTeam.ts
  services/client-account/serverless.yml
  services/client-account/src/db/models/ClientAccountTeamModel.ts
  services/client-account/src/domain/interfaces/ClientAccount.ts
  services/client-account/src/domain/interfaces/ClientAccountPersister.ts
  services/client-account/src/domain/interfaces/ClientAccountTeam.ts
  services/client-account/src/domain/interfaces/TypeParsers.ts
  services/client-account/src/handlers/addTeamMemberToClientAccount/addTeamMemberToClientAccount.ts
  services/client-account/src/handlers/addTeamMemberToClientAccount/index.ts
  services/client-account/src/openApi.yml
  services/client-account/src/repositories/ClientAccountRepository.ts
  services/client-account/tests/unitTests/handlers/addTeamMemberToClientAccount.test.ts
  services/client-account/tests/unitTests/handlers/getClientAccountTeamMembers.test.ts
  services/client-account/tests/unitTests/repositories/ClientAccountRepository.test.ts
Due: Client Account Service, Client Account Deploy

added missing relation and exported sequelize class
  dods-model/package.json
  dods-model/src/db/index.ts
  dods-model/src/index.ts
Due: none

added list editorial record
  services/editorial-workflow/package-lock.json
  services/editorial-workflow/package.json
  services/editorial-workflow/serverless.yml
  services/editorial-workflow/src/domain/interfaces/EditorialRecord.ts
  services/editorial-workflow/src/handlers/searchEditorialRecords/index.ts
  services/editorial-workflow/src/handlers/searchEditorialRecords/searchEditorialRecords.ts
  services/editorial-workflow/src/openApi.yml
  services/editorial-workflow/src/repositories/EditorialRecordRepository.ts
  services/editorial-workflow/tests/integrationTests/downstreamDefinitions/GetFullNameService.yml
  services/editorial-workflow/tests/integrationTests/downstreamDefinitions/GreetingEnglishService.yml
  services/editorial-workflow/tests/integrationTests/downstreamDefinitions/GreetingTurkishService.yml
  services/editorial-workflow/tests/unitTests/handlers/searchEditorialRecords.test.ts
  services/editorial-workflow/tests/unitTests/repositories/editorialRecordRepository.test.ts
Due: none

Perform all frontend builds as a docker container
  bitbucket-pipelines.yml
Due: none

not model changes and response enum
  services/client-account/serverless.yml
  services/client-account/src/db/models/ClientAccountTeamModel.ts
  services/client-account/src/domain/interfaces/ClientAccount.ts
  services/client-account/src/domain/interfaces/ClientAccountPersister.ts
  services/client-account/src/domain/interfaces/ClientAccountTeam.ts
  services/client-account/src/domain/interfaces/TypeParsers.ts
  services/client-account/src/handlers/addTeamMemberToClientAccount/addTeamMemberToClientAccount.ts
  services/client-account/src/openApi.yml
  services/client-account/src/repositories/ClientAccountRepository.ts
  services/client-account/tests/unitTests/handlers/addTeamMemberToClientAccount.test.ts
  services/client-account/tests/unitTests/handlers/getClientAccountTeamMembers.test.ts
  services/client-account/tests/unitTests/repositories/ClientAccountRepository.test.ts
Due: Client Account Service, Client Account Deploy

Remove tst from dods-model
  dods-model/tst.ts
Due: none

changes in test and openApi
  services/client-account/src/domain/interfaces/ClientAccountTeam.ts
  services/client-account/src/openApi.yml
  services/client-account/tests/unitTests/handlers/getClientAccountTeamMembers.test.ts
Due: Client Account Service, Client Account Deploy

DOD-616 Complete migration step-1 with merging files
  scrapping/contentMigration/stage1/handler.py
  scrapping/contentMigration/stage1/requirements.txt
  scrapping/templates/content_template_new.json
Due: Deploy Scrapping Lambdas

changed pagination to limit and offset
  services/editorial-workflow/src/domain/interfaces/EditorialRecord.ts
  services/editorial-workflow/src/handlers/searchEditorialRecords/searchEditorialRecords.ts
  services/editorial-workflow/src/openApi.yml
  services/editorial-workflow/src/repositories/EditorialRecordRepository.ts
  services/editorial-workflow/tests/unitTests/handlers/searchEditorialRecords.test.ts
  services/editorial-workflow/tests/unitTests/repositories/editorialRecordRepository.test.ts
Due: none
