Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, Deploy Pandas Layer, User Profile Service, Client Account Service, Editorial Workflow Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, User Profile Deploy, Client Account Deploy, Documents Deploy, Editorial Workflow Deploy, Frontend Build and Deploy, Taxonomy Service Deploy, Terraform Plan

Test build Frontend:
  image: node:lts-alpine3.14
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - export IMAGE_NAME=${AWS_ECR_NAME}/${FRONTEND_IMAGE}:${BITBUCKET_COMMIT}
  - cd ${FRONTEND_SRC}
  - yarn install
  - yarn test
  - yarn lint
  - docker build -t ${IMAGE_NAME} .

Deploy Graphologi Webhook:
  image: gioatsomoglobal/devopstools:0.4.2
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - cd services/graphologi-integration
  - npm install
  - serverless deploy

Deploy Pandas Layer:
  image: gioatsomoglobal/devopstools:0.4.2
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - cd services/pandas-layer
  - npm install
  - cd layers/pandas
  - ./build_layer.sh
  - cd ../..
  - serverless deploy --stage dev

User Profile Service:
  image: gioatsomoglobal/devopstools:0.4.3
  caches:
  - node
  script:
  - cd services/user-profile
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test:coverage

Client Account Service:
  image: gioatsomoglobal/nodejs-builder:0.2
  caches:
  - node
  script:
  - cd services/client-account
  - npm install
  - SERVERLESS_STAGE=dev npm run test:coverage

Editorial Workflow Service:
  image: gioatsomoglobal/nodejs-builder:0.2
  caches:
  - node
  script:
  - cd services/editorial-workflow
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - npm run test

Validate OpenAPI definitions:
  image: openapitools/openapi-generator-cli:v5.2.1
  script:
  - cd api
  - for i in *.yml; do docker-entrypoint.sh validate -i $i; done

Deploy Scrapping Lambdas:
  image: gioatsomoglobal/devopstools:0.4.2
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - cd scrapping
  - npm install
  - ./scrapping_deploy.sh

Auth-Authz Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/dods-iam
  - npm install
  - NODE_ENV=test npm run test:coverage
  - npx serverless deploy --stage dev

User Profile Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/user-profile
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - npx serverless deploy --stage dev

Client Account Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/client-account
  - npm install
  - export SERVERLESS_STAGE=dev
  - npm run test:coverage
  - npx serverless deploy --stage dev

Documents Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/documents
  - npm install
  - export SERVERLESS_STAGE=dev
  - npx serverless deploy --stage dev

Editorial Workflow Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/editorial-workflow
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - npm run test
  - npx serverless deploy --stage dev

destroy user in dods_users_table
  services/client-account/src/domain/interfaces/UserProfilePersister.ts
  services/client-account/src/handlers/removeTeamMember/removeTeamMember.ts
  services/client-account/src/repositories/UserProfileRepositoryV2.ts
  services/client-account/tests/unitTests/handlers/removeTeamMember.test.ts
Due: Client Account Service, Client Account Deploy

Removed findOne in tests
  services/client-account/tests/unitTests/handlers/removeTeamMember.test.ts
Due: Client Account Service, Client Account Deploy

unjson the ancestorTerms
  services/graphologi-integration/taxonomyImport.py
Due: Deploy Graphologi Webhook

Response updates
  services/taxonomy-service/src/domain/interfaces/index.ts
  services/taxonomy-service/src/repositories/TaxonomyRepository.ts
Due: Taxonomy Service Deploy

added conditional for Dods users
  frontend/dods_pip/src/pages/account-management/users.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

updated conditional statement
  frontend/dods_pip/src/pages/account-management/users.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

fix(DOD-1224): fixes missing clientAccountId param
  frontend/dods_pip/src/pages/account-management/add-user.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

added search service deployment
  bitbucket-pipelines.yml
Due: none

added Search Service to the deploy section of the pipeline yml
  bitbucket-pipelines.yml
Due: none

changing image for deploy search service
  bitbucket-pipelines.yml
Due: none

fix(DOD-1204): fixes jobtitle issues
  frontend/dods_pip/src/pages/account-management/add-user-form.tsx
  frontend/dods_pip/src/pages/account-management/add-user.page.tsx
  frontend/dods_pip/src/pages/users/[id].page.tsx
Due: Test build Frontend, Frontend Build and Deploy

fix(DOD-1241): corrects add user payload
  frontend/dods_pip/src/pages/account-management/add-user.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

Fixed indentation, cleaned comments
  bitbucket-pipelines.yml
Due: none

Cleaned indentation
  services/search-service/serverless.yml
Due: none

Made changes needed to run tests on the pipeline
  bitbucket-pipelines.yml
  services/search-service/package-lock.json
  services/search-service/package.json
  services/search-service/src/domain/config/index.ts
Due: none

seats only count for active users
  services/client-account/serverless.yml
  services/client-account/src/domain/interfaces/ClientAccountTeam.ts
  services/client-account/src/handlers/addTeamMemberToClientAccount/addTeamMemberToClientAccount.ts
  services/client-account/src/handlers/createTeamMember/createTeamMember.ts
  services/client-account/src/repositories/ClientAccountRepository.ts
  services/client-account/src/repositories/UserProfileServiceRepository.ts
  services/client-account/tests/unitTests/repositories/ClientAccountRepository.test.ts
  services/user-profile/package-lock.json
  services/user-profile/package.json
  services/user-profile/scripts/tearDown.sh
  services/user-profile/serverless.yml
  services/user-profile/src/domain/interfaces/UserProfilePersisterV2.ts
  services/user-profile/src/handlers/updateUser/updateUser.ts
  services/user-profile/src/repositories/ClientAccountServiceRepository.ts
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
  services/user-profile/src/repositories/index.ts
  services/user-profile/tests/unitTests/handlers/updateUser.test.ts
  services/user-profile/tests/unitTests/repositories/UserProfileRepositoryV2.test.ts
Due: User Profile Service, Client Account Service, User Profile Deploy, Client Account Deploy

Fixed empty response
  services/search-service/src/repositories/SearchRepository.ts
Due: none

Without tests
  services/schedule/.gitignore
  services/schedule/.npmrc
  services/schedule/README.md
  services/schedule/cucumber.html.reporter.js
  services/schedule/cucumber.js
  services/schedule/dockerfile
  services/schedule/jest.config.js
  services/schedule/package-lock.json
  services/schedule/package.json
  services/schedule/scripts/setUp.sh
  services/schedule/scripts/setUpDev.sh
  services/schedule/scripts/setUpMockServers.sh
  services/schedule/scripts/setUpServerlessOffline.sh
  services/schedule/scripts/tearDown.sh
  services/schedule/serverless.yml
  services/schedule/setEnvironmentVariablesForTest.js
  services/schedule/src/domain/config/index.ts
  services/schedule/src/domain/index.ts
  services/schedule/src/domain/interfaces/index.ts
  services/schedule/src/elasticsearch/index.ts
  services/schedule/src/handlers/createSchedule/createSchedule.ts
  services/schedule/src/handlers/createSchedule/index.ts
  services/schedule/src/openApi.yml
  services/schedule/src/repositories/Schedule.ts
  services/schedule/src/repositories/ScheduleRpository.ts
  services/schedule/src/utility/index.ts
  services/schedule/src/utility/requestHandler/index.ts
  services/schedule/tests/unitTests/handlers/createSchedule.test.ts
  services/schedule/tests/unitTests/repositories/ScheduleRepository.test.ts
  services/schedule/tsconfig.json
  services/schedule/webpack.config.js
Due: none

feat(DOD-587): completion
  frontend/dods_pip/src/components/Chips/Chips.styles.tsx
  frontend/dods_pip/src/components/Chips/index.tsx
  frontend/dods_pip/src/components/ContentTagger/ContentTagger.styles.tsx
  frontend/dods_pip/src/components/ContentTagger/TagPanel.tsx
  frontend/dods_pip/src/components/ContentTagger/TagTree.tsx
  frontend/dods_pip/src/components/ContentTagger/index.tsx
  frontend/dods_pip/src/components/_form/Checkbox/index.tsx
  frontend/dods_pip/src/components/_form/Label/index.tsx
  frontend/dods_pip/src/components/_form/RadioGroup/RadioGroup.styles.tsx
  frontend/dods_pip/src/components/_form/RadioGroup/index.tsx
  frontend/dods_pip/src/components/_form/Toggle/Toggle.stories.tsx
  frontend/dods_pip/src/components/_form/Toggle/Toggle.styles.tsx
  frontend/dods_pip/src/components/_form/Toggle/index.tsx
  frontend/dods_pip/src/lib/fetchJson.tsx
  frontend/dods_pip/src/mocks/data/tagging.json
  frontend/dods_pip/src/pages/api/taxonomy/[...search].page.tsx
  frontend/dods_pip/src/pages/api/taxonomy/tree.page.tsx
  frontend/dods_pip/src/pages/tagger.page.tsx
  frontend/dods_pip/src/utils/api.tsx
Due: Test build Frontend, Frontend Build and Deploy

Updated return
  services/schedule/src/handlers/createSchedule/createSchedule.ts
  services/schedule/src/repositories/ScheduleRpository.ts
Due: none

Added trees to S3
  services/graphologi-integration/serverless.yml
  services/graphologi-integration/taxonomyImport.py
  services/taxonomy-service/src/repositories/TaxonomyRepository.ts
Due: Deploy Graphologi Webhook, Taxonomy Service Deploy

fix(DOD-1210): added Boolean to api response
  frontend/dods_pip/src/pages/users/[id].page.tsx
Due: Test build Frontend, Frontend Build and Deploy

Read trees from S3 and added People/Geography
  services/taxonomy-service/package-lock.json
  services/taxonomy-service/package.json
  services/taxonomy-service/serverless.yml
  services/taxonomy-service/src/domain/config/index.ts
  services/taxonomy-service/src/handlers/taxonomyGeographyTree/index.ts
  services/taxonomy-service/src/handlers/taxonomyGeographyTree/taxonomyTree.ts
  services/taxonomy-service/src/handlers/taxonomyOrganisationsTree/taxonomyTree.ts
  services/taxonomy-service/src/handlers/taxonomyPeopleTree/index.ts
  services/taxonomy-service/src/handlers/taxonomyPeopleTree/taxonomyTree.ts
  services/taxonomy-service/src/handlers/taxonomyTree/taxonomyTree.ts
  services/taxonomy-service/src/repositories/Taxonomy.ts
  services/taxonomy-service/src/repositories/TaxonomyRepository.ts
  services/taxonomy-service/src/utility/aws/index.ts
  services/taxonomy-service/tests/unitTests/handlers/taxonomyTree.test.ts
  services/taxonomy-service/tests/unitTests/repositories/TaxonomyRepository.test.ts
Due: Taxonomy Service Deploy

Bugfix again
  services/search-service/src/repositories/SearchRepository.ts
Due: none

Fixed structure on tree file
  services/graphologi-integration/taxonomyImport.py
Due: Deploy Graphologi Webhook

bug(DOD-587) modified tree payload
  frontend/dods_pip/src/components/ContentTagger/TagPanel.tsx
  frontend/dods_pip/src/components/ContentTagger/TagTree.tsx
  frontend/dods_pip/src/components/ContentTagger/index.tsx
  frontend/dods_pip/src/pages/api/taxonomy/[...search].page.tsx
  frontend/dods_pip/src/pages/api/taxonomy/tree.page.tsx
  frontend/dods_pip/src/pages/tagger.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

publish editorial record, used content indexing lambda
  dods-model/package.json
  dods-model/src/db/migrations/202110120000018-alter-dods_editorial_record.ts
  dods-model/src/db/models/EditorialRecord.ts
  services/editorial-workflow/jest.config.js
  services/editorial-workflow/package.json
  services/editorial-workflow/serverless.yml
  services/editorial-workflow/src/domain/config/index.ts
  services/editorial-workflow/src/domain/interfaces/DocumentPublishPersister.ts
  services/editorial-workflow/src/domain/interfaces/DocumentStoragePersister.ts
  services/editorial-workflow/src/domain/interfaces/EditorialRecord.ts
  services/editorial-workflow/src/domain/interfaces/index.ts
  services/editorial-workflow/src/handlers/publishEditorialRecord/publishEditorialRecord.ts
  services/editorial-workflow/src/openApi.yml
  services/editorial-workflow/src/repositories/DocumentPublishRepository.ts
  services/editorial-workflow/src/repositories/DocumentStorageRepository.ts
  services/editorial-workflow/src/repositories/EditorialRecordRepository.ts
  services/editorial-workflow/src/repositories/EditorialWorkflowFiltersProvisionalRepository.ts
  services/editorial-workflow/tests/unitTests/handlers/publishEditorialRecord.test.ts
Due: Editorial Workflow Service, Editorial Workflow Deploy

progress
  services/editorial-workflow/package-lock.json
  services/editorial-workflow/package.json
  services/editorial-workflow/serverless.yml
  services/editorial-workflow/src/domain/config/index.ts
  services/editorial-workflow/src/handlers/publishEditorialRecord/index.ts
  services/editorial-workflow/src/handlers/publishEditorialRecord/publishEditorialRecord.ts
  services/editorial-workflow/src/repositories/EditorialRecordRepository.ts
Due: Editorial Workflow Service, Editorial Workflow Deploy

WIP search page
  frontend/dods_pip/package.json
  frontend/dods_pip/src/components/_layout/Box/Box.styles.tsx
  frontend/dods_pip/src/components/_layout/Box/index.tsx
  frontend/dods_pip/src/pages/api/library.page.tsx
  frontend/dods_pip/src/pages/library/document/[id].page.tsx
  frontend/dods_pip/src/pages/library/example.jpg
  frontend/dods_pip/src/pages/library/index.page.tsx
  frontend/dods_pip/src/pages/library/library.styles.tsx
  frontend/dods_pip/src/utils/api.tsx
  frontend/dods_pip/yarn.lock
Due: Test build Frontend, Frontend Build and Deploy

more linting stuff
  frontend/dods_pip/src/pages/library/document/[id].page.tsx
  frontend/dods_pip/src/pages/library/index.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

remove img for now
  frontend/dods_pip/src/pages/library/index.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

Cognito configuration for using SES
  services/dods-iam/serverless.yml
Due: Auth-Authz Deploy

deployed serverless warmer for taxonomy
  services/taxonomy-service/.npmrc
  services/taxonomy-service/package-lock.json
  services/taxonomy-service/package.json
  services/taxonomy-service/serverless.yml
Due: Taxonomy Service Deploy

bug(DOD-1250): remainging seats
  frontend/dods_pip/src/pages/accounts/users.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-1223): subscription bug
  frontend/dods_pip/src/pages/account-management/add-client/subscription.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-1223): remove stray console
  frontend/dods_pip/src/pages/account-management/add-client/subscription.tsx
Due: Test build Frontend, Frontend Build and Deploy

change response to json obj
  services/dods-iam/src/handlers/http/resetPassword/resetPassword.ts
  services/dods-iam/src/services/AwsCognito.ts
Due: Auth-Authz Deploy

bug(DOD-1233): prevent dupe team adding
  frontend/dods_pip/src/components/TagSelector/index.tsx
  frontend/dods_pip/src/components/_form/SearchDropdown/index.tsx
  frontend/dods_pip/src/pages/account-management/add-client/team.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/team.tsx
  frontend/dods_pip/src/pages/accounts/users.tsx
Due: Test build Frontend, Frontend Build and Deploy

DOD-1247 Added contentLocation and originator fields into content mappings
  services/elasticsearch-manager/models/content/mappings.json
Due: none

DOD-1177 Updated content mapping with taxonomy object and aggs_field
  services/elasticsearch-manager/models/content/mappings.json
Due: none

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  Deploy Pandas Layer: any of: services/pandas-layer/**
  User Profile Service: any of: services/user-profile/**
  Client Account Service: any of: services/client-account/**
  Editorial Workflow Service: any of: services/editorial-workflow/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  User Profile Deploy: any of: services/user-profile/**
  Client Account Deploy: any of: services/client-account/**
  Documents Deploy: any of: services/documents/**
  Editorial Workflow Deploy: any of: services/editorial-workflow/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**
  Taxonomy Service Deploy: any of: services/taxonomy-service/**
  Terraform Plan: any of: infrastructure-terraform/**
