Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, User Profile Service, Client Account Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, User Profile Deploy, Client Account Deploy, Frontend Build and Deploy

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  User Profile Service: any of: services/userProfile/**
  Client Account Service: any of: services/client-account/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  User Profile Deploy: any of: services/userProfile/**
  Client Account Deploy: any of: services/client-account/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**

not required fields for now
  scrapping/templates/content_json_schema.json
Due: Deploy Scrapping Lambdas

added filter of client account to search users
  services/user-profile/package.json
  services/user-profile/src/domain/interfaces/UserProfilePersisterV2.ts
  services/user-profile/src/openApi.yml
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
  services/user-profile/tests/unitTests/repositories/UserProfileRepositoryV2.test.ts
  services/user-profile/tsconfig.json
Due: none

solved template for new scrappers
  scrapping/debates-hoc-uk/handler.py
  scrapping/templates/content_json_schema.json
  scrapping/templates/content_template.json
  scrapping/templates/content_template_new.json
Due: Deploy Scrapping Lambdas

Backend Endpoints are returning complete information about Team Members
  dods-model/package-lock.json
  dods-model/package.json
  dods-model/src/db/migrations/202110120000015-create-dods_client_accounts.ts
  dods-model/src/db/models/ClientAccount.ts
  dods-model/src/db/seeders/20211133000005-seed-dods-client-account.ts
  services/client-account/package-lock.json
  services/client-account/package.json
  services/client-account/src/db/models/Role.ts
  services/client-account/src/db/models/UserProfile.ts
  services/client-account/src/db/models/index.ts
  services/client-account/src/domain/interfaces/ClientAccountTeam.ts
  services/client-account/src/domain/interfaces/TypeParsers.ts
  services/client-account/src/repositories/ClientAccountRepository.ts
  services/client-account/tests/unitTests/handlers/getClientAccountTeamMembers.test.ts
  services/client-account/tests/unitTests/repositories/UserProfileRepository.test.ts
  services/user-profile/package-lock.json
  services/user-profile/package.json
  services/user-profile/src/db/models/UserProfile.ts
  services/user-profile/src/domain/interfaces/UserProfilePersisterV2.ts
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
  services/user-profile/tests/unitTests/handlers/searchUsers.test.ts
  services/user-profile/tests/unitTests/repositories/UserProfileRepositoryV2.test.ts
Due: Client Account Service, Client Account Deploy

bugfix clientAccountId field is added in ClientAccount
  services/client-account/src/domain/interfaces/UserProfilePersister.ts
  services/client-account/src/handlers/createTeamMember/createTeamMember.ts
Due: Client Account Service, Client Account Deploy

bugfix unit test in client account
  services/client-account/tests/unitTests/repositories/UserProfileRepository.test.ts
Due: Client Account Service, Client Account Deploy

Add hierarchy
  services/taxonomy-service/src/domain/interfaces/index.ts
  services/taxonomy-service/src/repositories/TaxonomyRepository.ts
  services/taxonomy-service/tests/unitTests/repositories/TaxonomyRepository.test.ts
Due: none

some more prop stuff
  frontend/dods_pip/src/components/_layout/PageHeader/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

bugfix createTeamMember in ClientAccount
  services/client-account/src/handlers/createTeamMember/createTeamMember.ts
Due: Client Account Service, Client Account Deploy

bugfix createUser in UserProfileRepository for capital field name
  services/client-account/src/repositories/UserProfileRepository.ts
  services/client-account/tests/unitTests/repositories/UserProfileRepository.test.ts
Due: Client Account Service, Client Account Deploy

add in missing styled div
  frontend/dods_pip/src/components/_layout/PageHeader/PageHeader.styles.tsx
  frontend/dods_pip/src/components/_layout/PageHeader/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

code review feedback
  frontend/dods_pip/src/components/_layout/PageHeader/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

remove unused style
  frontend/dods_pip/src/components/_layout/PageHeader/PageHeader.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

Complete information of user in getUser endpoint
  services/user-profile/src/domain/interfaces/UserProfilePersisterV2.ts
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
  services/user-profile/tests/unitTests/repositories/UserProfileRepositoryV2.test.ts
Due: none

feat(DOD-878): User profiles
  frontend/dods_pip/src/components/Avatar/Avatar.styles.tsx
  frontend/dods_pip/src/components/Avatar/Avatar.test.tsx
  frontend/dods_pip/src/components/Avatar/index.tsx
  frontend/dods_pip/src/components/Button/Button.styles.tsx
  frontend/dods_pip/src/components/ButtonLink/ButtonLink.styles.tsx
  frontend/dods_pip/src/components/ButtonLink/index.tsx
  frontend/dods_pip/src/components/DataTable/DataTable.styles.tsx
  frontend/dods_pip/src/components/Icon/assets/icon-users.svg
  frontend/dods_pip/src/components/Modal/Modal.styles.tsx
  frontend/dods_pip/src/components/Modal/index.tsx
  frontend/dods_pip/src/components/SectionAccordion/index.tsx
  frontend/dods_pip/src/components/Text/Text.styles.tsx
  frontend/dods_pip/src/lib/fetchJson.tsx
  frontend/dods_pip/src/lib/useUser.tsx
  frontend/dods_pip/src/pages/account-management/add-user-form.styles.tsx
  frontend/dods_pip/src/pages/account-management/add-user-form.tsx
  frontend/dods_pip/src/pages/account-management/add-user.page.tsx
  frontend/dods_pip/src/pages/account-management/add-user.test.tsx
  frontend/dods_pip/src/pages/accounts/index.styles.tsx
  frontend/dods_pip/src/pages/accounts/summary.tsx
  frontend/dods_pip/src/pages/api/get-user/[...uuid].page.tsx
  frontend/dods_pip/src/pages/api/login.page.tsx
  frontend/dods_pip/src/pages/my-profile/index.page.tsx
  frontend/dods_pip/src/pages/my-profile/index.styles.tsx
  frontend/dods_pip/src/pages/my-profile/userInfo.tsx
  frontend/dods_pip/src/pages/users/[id].page.tsx
  frontend/dods_pip/src/pages/users/users.styles.tsx
  frontend/dods_pip/src/styles/globals.css
  frontend/dods_pip/src/utils/api.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-878): fix broken user role type
  frontend/dods_pip/src/pages/account-management/users.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-1144): footer overlap
  frontend/dods_pip/src/components/Footer/Footer.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-1146): header overlapping notifications
  frontend/dods_pip/src/hoc/LoadingHOC/LoadingHOC.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

feat(DOD-903): code review
  frontend/dods_pip/src/components/Footer/index.tsx
  frontend/dods_pip/src/components/Header/NavigationAccount.test.tsx
  frontend/dods_pip/src/components/Header/NavigationAccount.tsx
  frontend/dods_pip/src/components/Header/NavigationContent.test.tsx
  frontend/dods_pip/src/components/Header/NavigationContent.tsx
  frontend/dods_pip/src/components/Header/NavigationMobile.test.tsx
  frontend/dods_pip/src/components/Header/NavigationMobile.tsx
  frontend/dods_pip/src/components/Header/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

Returning userId and Cognito userId in response for signIn.ts.
  services/dods-iam/src/handlers/http/signIn/signIn.ts
Due: Auth-Authz Deploy

taxonomy cache
  services/taxonomy-service/serverless.yml
Due: none

dod-968: removeTeamMember and destroyUser lambda functions are created.
  dods-model/package-lock.json
  dods-model/package.json
  dods-model/src/db/config/sequelizeConnection.ts
  dods-model/src/db/migrations/202110120000016-alter-dods_users.ts
  dods-model/src/db/models/ClientAccountTeam.ts
  dods-model/src/db/models/User.ts
  dods-model/src/db/seeders/20211103000001-seed-dods_editorial_record_statuses.ts
  dods-model/src/db/seeders/20211133000001-seed-dods_roles.ts
  dods-model/src/db/seeders/20211133000003-seed-dods_users.ts
  dods-model/src/db/seeders/20211133000004-seed-dods_subscriptions.ts
  dods-model/src/db/seeders/20211133000005-seed-dods-client-account.ts
  services/client-account/package-lock.json
  services/client-account/package.json
  services/client-account/serverless.yml
  services/client-account/src/domain/interfaces/ClientAccountPersisterV2.ts
  services/client-account/src/domain/interfaces/ClientAccountTeam.ts
  services/client-account/src/domain/interfaces/ClientAccountTeamPersister.ts
  services/client-account/src/domain/interfaces/IamPersister.ts
  services/client-account/src/domain/interfaces/RequestOutput.ts
  services/client-account/src/domain/interfaces/TeamMemberTypes.ts
  services/client-account/src/domain/interfaces/UserProfilePersister.ts
  services/client-account/src/domain/interfaces/index.ts
  services/client-account/src/handlers/removeTeamMember/index.ts
  services/client-account/src/handlers/removeTeamMember/removeTeamMember.ts
  services/client-account/src/openApi.yml
  services/client-account/src/repositories/ClientAccountRepositoryV2.ts
  services/client-account/src/repositories/ClientAccountTeamRepository.ts
  services/client-account/src/repositories/IamRepository.ts
  services/client-account/src/repositories/UserProfileRepository.ts
  services/client-account/src/repositories/index.ts
  services/dods-iam/serverless.yml
  services/dods-iam/src/domain/interfaces/DestroyUserParameters.ts
  services/dods-iam/src/domain/interfaces/index.ts
  services/dods-iam/src/handlers/http/destroyUser/destroyUser.ts
  services/dods-iam/src/handlers/http/destroyUser/index.ts
  services/dods-iam/src/openApi.yml
  services/dods-iam/src/services/AwsCognito.ts
Due: Client Account Service, Auth-Authz Deploy, Client Account Deploy

dod-968: tests are fixed.
  dods-model/package.json
  dods-model/src/db/models/ClientAccountTeam.ts
  services/client-account/package-lock.json
  services/client-account/package.json
  services/client-account/src/domain/interfaces/ClientAccountPersisterV2.ts
  services/client-account/src/handlers/removeTeamMember/removeTeamMember.ts
  services/client-account/src/repositories/ClientAccountRepositoryV2.ts
  services/client-account/src/repositories/UserProfileServiceRepository.ts
  services/client-account/src/services/UserProfileServiceGateway.ts
  services/client-account/src/services/index.ts
  services/client-account/tests/unitTests/handlers/addTeamMemberToClientAccount.test.ts
  services/client-account/tests/unitTests/handlers/removeTeamMember.test.ts
  services/client-account/tests/unitTests/repositories/ClientAccountRepositoryV2.test.ts
  services/client-account/tests/unitTests/repositories/ClientAccountTeamRepository.test.ts
  services/client-account/tests/unitTests/repositories/IamRepository.test.ts
  services/client-account/tests/unitTests/repositories/UserProfileRepository.test.ts
  services/client-account/tests/unitTests/repositories/UserProfileServiceRepository.test.ts
Due: Client Account Service, Client Account Deploy

feat(DOD-878): User data in profile
  frontend/dods_pip/src/components/Badge/index.tsx
  frontend/dods_pip/src/components/Header/Header.styles.tsx
  frontend/dods_pip/src/components/Header/NavigationAccount.tsx
  frontend/dods_pip/src/components/Header/index.tsx
  frontend/dods_pip/src/lib/fetchJson.tsx
  frontend/dods_pip/src/lib/useUser.tsx
  frontend/dods_pip/src/pages/account-management/add-client/type.tsx
  frontend/dods_pip/src/pages/account-management/add-user-form.tsx
  frontend/dods_pip/src/pages/accounts/summary.tsx
  frontend/dods_pip/src/pages/accounts/users.tsx
  frontend/dods_pip/src/pages/api/clientaccount/[uuid]/teammember/[id].page.tsx
  frontend/dods_pip/src/pages/api/login.page.tsx
  frontend/dods_pip/src/pages/my-profile/userInfo.tsx
  frontend/dods_pip/src/pages/users/[id].page.tsx
  frontend/dods_pip/src/pages/users/users.styles.tsx
  frontend/dods_pip/src/styles/globals.css
Due: Test build Frontend, Frontend Build and Deploy

Get Client Accounts Associated to a User
  dods-model/src/db/models/ClientAccount.ts
  dods-model/src/db/models/User.ts
  services/client-account/src/domain/interfaces/TypeParsers.ts
  services/user-profile/package-lock.json
  services/user-profile/package.json
  services/user-profile/serverless.yml
  services/user-profile/src/domain/interfaces/UserProfilePersisterV2.ts
  services/user-profile/src/handlers/getClientAccountsByUser/getClientAccountsByUser.ts
  services/user-profile/src/handlers/getClientAccountsByUser/index.ts
  services/user-profile/src/openApi.yml
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
  services/user-profile/tests/unitTests/handlers/getClientAccountsByUser.test.ts
  services/user-profile/tests/unitTests/repositories/UserProfileRepositoryV2.test.ts
Due: Client Account Service, Client Account Deploy

Upgrade dods-model 1.0.20
  services/user-profile/package-lock.json
  services/user-profile/package.json
Due: none

feat(DOD-878): fix bug
  frontend/dods_pip/src/pages/account-management/users.page.tsx
  frontend/dods_pip/src/pages/accounts/users.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-1150): fix layout
  frontend/dods_pip/src/pages/account-management/add-user.page.tsx
  frontend/dods_pip/src/pages/account-management/add-user.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

running both in 1.0.21 version
  dods-model/package-lock.json
  dods-model/package.json
  dods-model/src/db/migrations/202110120000016-alter-dods_users.ts
  dods-model/src/db/models/User.ts
  services/client-account/package-lock.json
  services/client-account/package.json
  services/client-account/src/handlers/removeTeamMember/removeTeamMember.ts
  services/client-account/src/repositories/ClientAccountRepositoryV2.ts
  services/user-profile/package.json
Due: Client Account Service, Client Account Deploy

Add hierarchy
  services/graphologi-integration/taxonomyImport.py
  services/taxonomy-service/src/repositories/TaxonomyRepository.ts
Due: Deploy Graphologi Webhook

Updated tests
  services/taxonomy-service/tests/unitTests/repositories/TaxonomyRepository.test.ts
Due: none

plugin install
  services/taxonomy-service/package-lock.json
  services/taxonomy-service/package.json
  services/taxonomy-service/serverless.yml
Due: none

Added webpack
  services/taxonomy-service/package-lock.json
  services/taxonomy-service/package.json
Due: none

apigateway alignment fix
  services/taxonomy-service/package-lock.json
  services/taxonomy-service/serverless.yml
Due: none

clientAccount in get User
  services/user-profile/src/domain/interfaces/UserProfilePersisterV2.ts
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
  services/user-profile/tests/unitTests/repositories/UserProfileRepositoryV2.test.ts
Due: none

Pipeline job for frontend deployment to production
  bitbucket-pipelines.yml
Due: none

DOD-811 Create Search Service
  services/search-service/.env.test
  services/search-service/.gitignore
  services/search-service/.npmrc
  services/search-service/CertificateAuthorityCertificate.pem
  services/search-service/README.md
  services/search-service/cucumber.html.reporter.js
  services/search-service/cucumber.js
  services/search-service/dependencies.txt
  services/search-service/dockerfile
  services/search-service/jest.config.js
  services/search-service/package-lock.json
  services/search-service/package.json
  services/search-service/scripts/setUp.sh
  services/search-service/scripts/setUpMockServers.sh
  services/search-service/scripts/setUpServerlessOffline.sh
  services/search-service/scripts/tearDown.sh
  services/search-service/serverless.yml
  services/search-service/src/domain/config/index.ts
  services/search-service/src/domain/http/HttpError.ts
  services/search-service/src/domain/http/HttpResponse.ts
  services/search-service/src/domain/http/HttpStatusCode.ts
  services/search-service/src/domain/http/index.ts
  services/search-service/src/domain/index.ts
  services/search-service/src/domain/interfaces/index.ts
  services/search-service/src/elasticsearch/index.ts
  services/search-service/src/handlers/getContent/getContent.ts
  services/search-service/src/handlers/getContent/index.ts
  services/search-service/src/openApi.yml
  services/search-service/src/repositories/Search.ts
  services/search-service/src/repositories/SearchRepository.ts
  services/search-service/src/utility/index.ts
  services/search-service/src/utility/requestHandler/index.ts
  services/search-service/tests/unitTests/handlers/getContent.test.ts
  services/search-service/tests/unitTests/repositories/SearchRepository.test.ts
  services/search-service/tsconfig.json
Due: none

DOD-811 Fixed something
  services/search-service/.env.test
  services/search-service/serverless.yml
Due: none

bugfix: code is refactored.
  services/client-account/src/domain/interfaces/ClientAccountTeamPersister.ts
  services/client-account/src/handlers/removeTeamMember/removeTeamMember.ts
  services/client-account/src/repositories/ClientAccountTeamRepository.ts
  services/client-account/src/repositories/ClientAccountTeamRepositoryV2.ts
  services/client-account/src/repositories/index.ts
  services/client-account/tests/unitTests/handlers/removeTeamMember.test.ts
  services/client-account/tests/unitTests/repositories/ClientAccountTeamRepositoryV2.test.ts
Due: Client Account Service, Client Account Deploy

Added member since and is active
  services/client-account/package-lock.json
  services/client-account/src/db/models/UserProfile.ts
  services/client-account/src/db/types/UserProfile.ts
  services/client-account/src/domain/interfaces/ClientAccountTeam.ts
  services/client-account/src/domain/interfaces/TypeParsers.ts
  services/client-account/src/handlers/addTeamMemberToClientAccount/addTeamMemberToClientAccount.ts
  services/client-account/src/handlers/createTeamMember/createTeamMember.ts
  services/user-profile/src/domain/interfaces/UserProfilePersisterV2.ts
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
  services/user-profile/tests/unitTests/handlers/searchUsers.test.ts
Due: Client Account Service, Client Account Deploy
