Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, User Profile Service, Client Account Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, User Profile Deploy, Client Account Deploy, Frontend Build and Deploy

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  User Profile Service: any of: services/userProfile/**
  Client Account Service: any of: services/client-account/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  User Profile Deploy: any of: services/userProfile/**
  Client Account Deploy: any of: services/client-account/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**

dod-935: dods-models is udpated for env validation
  dods-model/package-lock.json
  dods-model/package.json
  dods-model/src/db/config/index.ts
Due: none

noop
  services/user-profile/.noop
Due: none

dod-935: bugfix in orderby
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
Due: none

DOD-616 Remove static names for path
  scrapping/contentMigration/stage1/handler.py
  scrapping/contentMigration/stage1/requirements.txt
Due: Deploy Scrapping Lambdas

DOD-616 Fix
  scrapping/contentMigration/stage1/handler.py
Due: Deploy Scrapping Lambdas

bugfix(DODS-215): fixes veil click and portal issues
  frontend/dods_pip/src/components/Modal/Modal.stories.tsx
  frontend/dods_pip/src/components/Modal/Modal.test.tsx
  frontend/dods_pip/src/components/Modal/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

Update Taxonomy Tree structure
  .gitignore
  services/taxonomy-service/src/domain/interfaces/index.ts
  services/taxonomy-service/src/repositories/Taxonomy.ts
  services/taxonomy-service/src/repositories/TaxonomyRepository.ts
  services/taxonomy-service/tests/unitTests/repositories/TaxonomyRepository.test.ts
Due: none

bugfix: operationId is set to createTeamMember in OpenApi definition file
  services/client-account/src/openApi.yml
Due: Client Account Service, Client Account Deploy

bugfix(DODS-215): adds z-index -_-
  frontend/dods_pip/src/components/Modal/Modal.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

bugfix(modal): adds no scroll to modal
  frontend/dods_pip/src/components/Modal/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

bugfix(DOD-974): adds debouncer hook to accounts page search
  frontend/dods_pip/package.json
  frontend/dods_pip/src/components/Pagination/index.tsx
  frontend/dods_pip/src/components/_form/InputBase/index.tsx
  frontend/dods_pip/src/components/_form/InputSearch/index.tsx
  frontend/dods_pip/src/components/_form/Select/index.tsx
  frontend/dods_pip/src/components/_layout/Panel/Panel.styles.tsx
  frontend/dods_pip/src/lib/useDebounce.tsx
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
  frontend/dods_pip/src/pages/account-management/accounts.styles.tsx
  frontend/dods_pip/src/pages/account-management/accounts.test.tsx
  frontend/dods_pip/src/pages/account-management/mockAccountData.tsx
  frontend/dods_pip/yarn.lock
Due: Test build Frontend, Frontend Build and Deploy

DOD-616 Fixed file paths on output bucket
  scrapping/contentMigration/stage1/handler.py
Due: Deploy Scrapping Lambdas

Updated vpc config files for sls
  infrastructure-terraform/env-config.test.js
  infrastructure-terraform/vpc.dev.js
  infrastructure-terraform/vpc.qa.js
Due: none

Validate request and mandatory fields
  services/client-account/src/handlers/createClientAccount/index.ts
  services/client-account/src/openApi.yml
Due: Client Account Service, Client Account Deploy

initial commit
  frontend/dods_pip/src/pages/account-management/users.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

initial commit
  frontend/dods_pip/src/pages/account-management/users.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

initial commit
  frontend/dods_pip/src/pages/account-management/users.test.tsx
Due: Test build Frontend, Frontend Build and Deploy

initial commit
  frontend/dods_pip/src/mocks/data/users-accounts.json
Due: Test build Frontend, Frontend Build and Deploy

added ui
  frontend/dods_pip/src/pages/account-management/users.page.tsx
  frontend/dods_pip/src/pages/account-management/users.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

minor update
  frontend/dods_pip/src/pages/account-management/users.page.tsx
  frontend/dods_pip/src/pages/account-management/users.test.tsx
Due: Test build Frontend, Frontend Build and Deploy

mock user data
  frontend/dods_pip/src/mocks/data/users-accounts.json
Due: Test build Frontend, Frontend Build and Deploy

feat(DOD-628): QA review
  frontend/dods_pip/src/pages/account-management/add-user.page.tsx
  frontend/dods_pip/src/pages/account-management/add-user.test.tsx
Due: Test build Frontend, Frontend Build and Deploy

verify email before creatig team member with unit test
  services/client-account/src/domain/interfaces/UserProfilePersister.ts
  services/client-account/src/handlers/createTeamMember/createTeamMember.ts
  services/client-account/src/repositories/UserProfileRepository.ts
  services/client-account/tests/unitTests/repositories/UserProfileRepository.test.ts
Due: Client Account Service, Client Account Deploy

Update search to search based on label
  services/taxonomy-service/src/repositories/TaxonomyRepository.ts
Due: none

teamMembeType 3 is now allowed
  services/client-account/src/openApi.yml
Due: Client Account Service, Client Account Deploy

Serverless configurations for successful deployment
  services/documents/package.json
  services/documents/serverless.yml
Due: none

Pipeline for document service + Terraform steps fixes
  bitbucket-pipelines.yml
Due: none

touch to test
  infrastructure-terraform/output.tf
Due: none

Fix for terraform on the pipeline
  bitbucket-pipelines.yml
  infrastructure-terraform/output.tf
Due: none

Fix terraform issue on builder image
  infrastructure-terraform/.noop
Due: none

DOD-915 Edit Account Settings
  frontend/dods_pip/src/components/Modal/Modal.styles.tsx
  frontend/dods_pip/src/components/TagSelector/index.tsx
  frontend/dods_pip/src/components/_form/SearchDropdown/index.tsx
  frontend/dods_pip/src/components/_form/Select/Dropdown.tsx
  frontend/dods_pip/src/components/_layout/PageActions/PageActions.styles.tsx
  frontend/dods_pip/src/components/_layout/PageActions/index.tsx
  frontend/dods_pip/src/lib/useTeamMembers.tsx
  frontend/dods_pip/src/pages/account-management/add-client/account-info.tsx
  frontend/dods_pip/src/pages/account-management/add-client/add-client.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/add-client.tsx
  frontend/dods_pip/src/pages/account-management/add-client/index.page.tsx
  frontend/dods_pip/src/pages/account-management/add-client/index.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/subscription.tsx
  frontend/dods_pip/src/pages/account-management/add-client/team.tsx
  frontend/dods_pip/src/pages/account-management/add-client/type.tsx
  frontend/dods_pip/src/pages/account-management/add-user.page.tsx
  frontend/dods_pip/src/pages/account-management/add-user.test.tsx
  frontend/dods_pip/src/pages/account-management/mockAccountData.tsx
  frontend/dods_pip/src/pages/accounts/[id].page.tsx
  frontend/dods_pip/src/pages/accounts/summary.tsx
Due: Test build Frontend, Frontend Build and Deploy

DOD-541 Step 3 API integration (final work)
  frontend/dods_pip/src/lib/useTeamMembers.tsx
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
  frontend/dods_pip/src/pages/account-management/add-client/add-client.tsx
  frontend/dods_pip/src/pages/account-management/add-client/subscription.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/team.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/team.tsx
  frontend/dods_pip/src/pages/account-management/add-client/type.tsx
  frontend/dods_pip/src/pages/accounts/[id].page.tsx
  frontend/dods_pip/src/pages/accounts/summary.test.tsx
  frontend/dods_pip/src/pages/accounts/summary.tsx
  frontend/dods_pip/src/utils/type.tsx
Due: Test build Frontend, Frontend Build and Deploy

removed console log and unused variable
  frontend/dods_pip/src/pages/account-management/users.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

DOD-915 User can always cancel
  frontend/dods_pip/src/pages/account-management/add-client/account-info.tsx
Due: Test build Frontend, Frontend Build and Deploy

feat(DOD-587): progress
  frontend/dods_pip/src/components/ContentTagger/ContentTagger.styles.tsx
  frontend/dods_pip/src/components/ContentTagger/index.tsx
  frontend/dods_pip/src/components/Icon/assets/icon-checklist-01.svg
  frontend/dods_pip/src/components/Icon/assets/icon-checklist.svg
  frontend/dods_pip/src/components/Icon/assets/icon-checklistBold-01.svg
  frontend/dods_pip/src/components/Icon/assets/icon-checklistBold.svg
  frontend/dods_pip/src/components/Icon/assets/icon-searchBold.svg
  frontend/dods_pip/src/components/Icon/assets/index.tsx
  frontend/dods_pip/src/components/Text/Text.styles.tsx
  frontend/dods_pip/src/components/Text/index.tsx
  frontend/dods_pip/src/components/_form/Checkbox/Checkbox.styles.tsx
  frontend/dods_pip/src/components/_form/Checkbox/index.tsx
  frontend/dods_pip/src/components/_form/Toggle/Toggle.stories.tsx
  frontend/dods_pip/src/components/_form/Toggle/Toggle.styles.tsx
  frontend/dods_pip/src/components/_form/Toggle/Toggle.test.tsx
  frontend/dods_pip/src/components/_form/Toggle/index.tsx
  frontend/dods_pip/src/mocks/data/tagging.json
  frontend/dods_pip/src/pages/tagger.page.tsx
  frontend/dods_pip/src/styles/globals.css
  frontend/dods_pip/src/utils/string.test.tsx
  frontend/dods_pip/src/utils/string.tsx
Due: Test build Frontend, Frontend Build and Deploy

sortBy and sortDirection Added with unitTests
  dods-model/src/db/seeders/20211133000002-seed-dods_users.ts
  services/editorial-workflow/src/domain/interfaces/EditorialRecord.ts
  services/editorial-workflow/src/repositories/EditorialRecordRepository.ts
  services/editorial-workflow/tests/unitTests/repositories/editorialRecordRepository.test.ts
Due: none

DOD-916 Edit subscription + DOD-915 Improvement
  frontend/dods_pip/src/pages/account-management/add-client/add-client.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/add-client.tsx
  frontend/dods_pip/src/pages/account-management/add-client/subscription.tsx
  frontend/dods_pip/src/pages/accounts/[id].page.tsx
  frontend/dods_pip/src/pages/accounts/summary.tsx
Due: Test build Frontend, Frontend Build and Deploy

feat(DOD-587): progress
  frontend/dods_pip/src/components/ContentTagger/ContentTagger.styles.tsx
  frontend/dods_pip/src/components/ContentTagger/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

Bussiness logic in handler, added dates validation, seed deleting just dummy
  dods-model/src/db/seeders/20211133000003-seed-dods_users.ts
  services/editorial-workflow/src/domain/interfaces/EditorialRecord.ts
  services/editorial-workflow/src/handlers/searchEditorialRecords/searchEditorialRecords.ts
  services/editorial-workflow/src/repositories/EditorialRecordRepository.ts
  services/editorial-workflow/tests/unitTests/handlers/searchEditorialRecords.test.ts
  services/editorial-workflow/tests/unitTests/repositories/editorialRecordRepository.test.ts
Due: none
