Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, User Profile Service, Client Account Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, User Profile Deploy, Client Account Deploy, Frontend Build and Deploy

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  User Profile Service: any of: services/userProfile/**
  Client Account Service: any of: services/client-account/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  User Profile Deploy: any of: services/userProfile/**
  Client Account Deploy: any of: services/client-account/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**

Fix storybook build after it was moved
  bitbucket-pipelines.yml
  frontend/dods_pip/public/favicon.ico.png
Due: Test build Frontend, Frontend Build and Deploy

Provide a cache for FE node modules
  bitbucket-pipelines.yml
  frontend/dods_pip/README.md
Due: Test build Frontend, Frontend Build and Deploy

Error middleware is updated to throw error.
  dods-lambda/package-lock.json
  dods-lambda/package.json
  dods-lambda/src/middlewares/errorMiddleware.ts
  dods-lambda/src/middlewares/eventLogerMiddleware.ts
  dods-lambda/src/middlewares/httpLogerMiddleware.ts
  dods-lambda/src/middlewares/openApiValidatorMiddleware.ts
  dods-lambda/src/utility/Logger.ts
Due: none

dods-lambda npm package version is updated in all repositories
  boilerplate/package-lock.json
  boilerplate/package.json
  dods-lambda/package.json
  dods-lambda/src/utility/Logger.ts
  services/client-account/package-lock.json
  services/client-account/package.json
  services/client-account/serverless.yml
  services/dods-iam/package-lock.json
  services/dods-iam/package.json
  services/editorial-workflow/package-lock.json
  services/editorial-workflow/package.json
  services/taxonomy-service/package-lock.json
  services/taxonomy-service/package.json
  services/user-profile/package-lock.json
  services/user-profile/package.json
Due: Client Account Service, Auth-Authz Deploy, Client Account Deploy

dod-475: migrations and some models are created
  dods-model/.gitignore
  dods-model/.npmignore
  dods-model/.sequelizerc
  dods-model/README.md
  dods-model/docker-compose.yml
  dods-model/docker/mariadb/initdb_sql_scripts/show_databases.sql
  dods-model/index.ts
  dods-model/package-lock.json
  dods-model/package.json
  dods-model/src/db/config/index.ts
  dods-model/src/db/config/sequelizeConnection.ts
  dods-model/src/db/index.ts
  dods-model/src/db/migrations/20211012004938-create-dods_client_account_tags.ts
  dods-model/src/db/migrations/20211012004938-create-dods_client_account_teams.ts
  dods-model/src/db/migrations/20211012004938-create-dods_client_account_users.ts
  dods-model/src/db/migrations/20211012004938-create-dods_client_accounts.ts
  dods-model/src/db/migrations/20211012004938-create-dods_project_dates.ts
  dods-model/src/db/migrations/20211012004938-create-dods_project_users.ts
  dods-model/src/db/migrations/20211012004938-create-dods_projects.ts
  dods-model/src/db/migrations/20211012004938-create-dods_roles.ts
  dods-model/src/db/migrations/20211012004938-create-dods_subscription_types.ts
  dods-model/src/db/migrations/20211012004938-create-dods_tasks.ts
  dods-model/src/db/migrations/20211012004938-create-dods_users.ts
  dods-model/src/db/models/ClientAccount.ts
  dods-model/src/db/models/ClientAccountTags.ts
  dods-model/src/db/models/ClientAccountTeam.ts
  dods-model/src/db/models/Role.ts
  dods-model/src/db/models/SubscriptionType.ts
  dods-model/src/db/models/Task.ts
  dods-model/src/db/models/User.ts
  dods-model/src/db/models/index.ts
  dods-model/src/index.ts
  dods-model/tsconfig.json
  dods-model/webpack.config.js
Due: none

dod-475: rest of the models are created
  dods-model/src/db/index.ts
  dods-model/src/db/migrations/20211012004938-create-dods_client_accounts.ts
  dods-model/src/db/models/ClientAccount.ts
  dods-model/src/db/models/ClientAccountTag.ts
  dods-model/src/db/models/ClientAccountTeamUser.ts
  dods-model/src/db/models/Project.ts
  dods-model/src/db/models/ProjectDate.ts
  dods-model/src/db/models/ProjectUser.ts
  dods-model/src/db/models/Task.ts
  dods-model/src/db/models/User.ts
  dods-model/src/db/models/index.ts
  dods-model/src/index.ts
Due: none

dod-475: dods-model npm package is published and installed in client-account repository
  dods-model/docker-compose.yml
  dods-model/package.json
  dods-model/src/db/config/index.ts
  dods-model/src/db/index.ts
  dods-model/src/db/migrations/20211012000000-create-dods_roles.ts
  dods-model/src/db/migrations/20211012000002-create-dods_users.ts
  dods-model/src/db/migrations/20211012000003-create-dods_subscription_types.ts
  dods-model/src/db/migrations/20211012000004-create-dods_client_accounts.ts
  dods-model/src/db/migrations/20211012000005-create-dods_client_account_teams.ts
  dods-model/src/db/migrations/20211012000006-create-dods_client_account_users.ts
  dods-model/src/db/migrations/20211012000007-create-dods_client_account_tags.ts
  dods-model/src/db/migrations/20211012000008-create-dods_projects.ts
  dods-model/src/db/migrations/20211012000009-create-dods_project_dates.ts
  dods-model/src/db/migrations/20211012000010-create-dods_project_users.ts
  dods-model/src/db/migrations/20211012000011-create-dods_tasks.ts
  dods-model/src/db/models/ClientAccount.ts
  dods-model/src/db/models/ClientAccountTag.ts
  dods-model/src/db/models/ClientAccountTeam.ts
  dods-model/src/db/models/ClientAccountUser.ts
  dods-model/src/db/models/ProjectDate.ts
  dods-model/src/db/models/ProjectUser.ts
  dods-model/src/db/models/Task.ts
  dods-model/src/db/models/User.ts
  dods-model/src/db/models/index.ts
  dods-model/tsconfig.json
  dods-model/webpack.config.js
  services/client-account/dev.env
  services/client-account/docker-compose.yml
  services/client-account/package-lock.json
  services/client-account/package.json
  services/client-account/serverless.yml
  services/client-account/src/db/sequelize.ts
  services/client-account/src/domain/config/index.ts
Due: Client Account Service, Client Account Deploy

Removed building storybook (it's been killing pipelines)
  bitbucket-pipelines.yml
Due: none

bug(DOD-382): clearing bug
  frontend/dods_pip/src/hoc/LoadingHOC/index.tsx
  frontend/dods_pip/src/utils/array.test.tsx
  frontend/dods_pip/src/utils/array.tsx
Due: Test build Frontend, Frontend Build and Deploy

package.json edited online with Bitbucket
  frontend/dods_pip/package.json
Due: Test build Frontend, Frontend Build and Deploy

dod-555 deploy to grouped buckets
  boilerplate/serverless.yml
  scrapping/debates-hoc-uk/serverless.yml
  scrapping/debates-hol-uk/serverless.yml
  scrapping/debates-nir/serverless.yml
  scrapping/debates-wls/serverless.yml
  scrapping/motions-edm-uk/serverless.yml
  scrapping/oral-questions-hoc-uk/serverless.yml
  scrapping/oral-questions-hol-uk/serverless.yml
  scrapping/writtenQuestions-hoc-uk/serverless.yml
  scrapping/writtenQuestions-hol-uk/serverless.yml
  services/editorial-workflow/serverless.yml
  services/graphologi-integration/serverless.yml
  services/user-profile/serverless.yml
  tools/scraper-template-folder/serverless.yml.tpl
Due: Deploy Graphologi Webhook, Deploy Scrapping Lambdas

feat(DOD-430): abstracts server responses from form errors
  frontend/dods_pip/src/pages/password-reset.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

test(DOD-430): increases test covergae
  frontend/dods_pip/src/pages/password-reset.test.tsx
Due: Test build Frontend, Frontend Build and Deploy

feat(DOD-430): normalises server error response data object
  frontend/dods_pip/src/lib/fetchJson.tsx
Due: Test build Frontend, Frontend Build and Deploy

feat(DOD-430): refactors unit tests for more semantics, to be more explicit and documented
  frontend/dods_pip/src/lib/fetchJson.tsx
  frontend/dods_pip/src/pages/password-reset.page.tsx
  frontend/dods_pip/src/pages/password-reset.test.tsx
Due: Test build Frontend, Frontend Build and Deploy

dod-475: dods-model new version is published
  dods-model/package.json
  dods-model/webpack.config.js
  services/client-account/package-lock.json
  services/client-account/package.json
Due: Client Account Service, Client Account Deploy

fix(common): fixes storybook styling issues :lipstick:
  frontend/dods_pip/.storybook/DodsPIPTheme.js
  frontend/dods_pip/.storybook/preview.js
  frontend/dods_pip/src/components/_form/Radio/Radio.stories.tsx
  frontend/dods_pip/src/components/_form/Radio/Radio.styles.tsx
  frontend/dods_pip/src/components/_form/Radio/Radio.test.tsx
  frontend/dods_pip/src/components/_form/Radio/index.tsx
  frontend/dods_pip/src/components/_form/RadioGroup/RadioGroup.stories.tsx
  frontend/dods_pip/src/components/_form/RadioGroup/RadioGroup.styles.tsx
  frontend/dods_pip/src/components/_form/RadioGroup/RadioGroup.test.tsx
  frontend/dods_pip/src/components/_form/RadioGroup/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

chore(DOD-418): extracts radio group component into own files
  frontend/dods_pip/src/components/_form/Radio/Radio.stories.tsx
  frontend/dods_pip/src/components/_form/Radio/Radio.styles.tsx
  frontend/dods_pip/src/components/_form/Radio/Radio.test.tsx
  frontend/dods_pip/src/components/_form/Radio/index.tsx
  frontend/dods_pip/src/components/_form/RadioGroup/RadioGroup.test.tsx
  frontend/dods_pip/src/components/_form/RadioGroup/index.tsx
  frontend/dods_pip/src/pages/account-management/add-client/subscription.tsx
  frontend/dods_pip/src/pages/account-management/add-client/team.tsx
Due: Test build Frontend, Frontend Build and Deploy

feat(DOD-418): adds theming capability
  frontend/dods_pip/src/components/_form/Radio/Radio.styles.tsx
  frontend/dods_pip/src/components/_form/Radio/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

feat((DOD-418): updates radio component unit tests
  frontend/dods_pip/src/components/_form/Radio/Radio.styles.tsx
  frontend/dods_pip/src/components/_form/Radio/Radio.test.tsx
  frontend/dods_pip/src/components/_form/Radio/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

feat(DOD-418): adds radio group component
  frontend/dods_pip/src/components/_form/Radio/Radio.stories.tsx
  frontend/dods_pip/src/components/_form/Radio/Radio.styles.tsx
  frontend/dods_pip/src/components/_form/Radio/Radio.test.tsx
  frontend/dods_pip/src/components/_form/Radio/index.tsx
  frontend/dods_pip/src/components/_form/RadioGroup/RadioGroup.stories.tsx
  frontend/dods_pip/src/components/_form/RadioGroup/RadioGroup.styles.tsx
  frontend/dods_pip/src/components/_form/RadioGroup/RadioGroup.test.tsx
  frontend/dods_pip/src/components/_form/RadioGroup/index.tsx
  frontend/dods_pip/src/pages/account-management/add-client/subscription.tsx
  frontend/dods_pip/src/pages/account-management/add-client/team.tsx
Due: Test build Frontend, Frontend Build and Deploy

fix(DOD-418): fixes build
  frontend/dods_pip/src/pages/notifications.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

fix(DOD-418): fixes import and linting issues
  frontend/dods_pip/src/components/_form/Radio/Radio.stories.tsx
  frontend/dods_pip/src/components/_form/Radio/Radio.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/team.tsx
Due: Test build Frontend, Frontend Build and Deploy

dod-475: .npmrc file is added to dods-model
  dods-model/.npmrc
Due: none

dockerfile for taxonomy
  boilerplate/dockerfile
  services/taxonomy-service/dockerfile
Due: none

dods-lambda throw error is deleted
  boilerplate/package-lock.json
  boilerplate/package.json
  dods-lambda/package.json
  dods-lambda/src/middlewares/errorMiddleware.ts
  services/client-account/package-lock.json
  services/client-account/package.json
Due: Client Account Service, Client Account Deploy

dod-475: consultantHours field is added in dods_client_accounts migration and model
  dods-model/src/db/migrations/20211012000004-create-dods_client_accounts.ts
  dods-model/src/db/models/ClientAccount.ts
Due: none

dod-475: dods-model@1.0.5 is published
  dods-model/package.json
Due: none

dod-477: dods-model npm package is published and installed in client-account repository
  dods-model/docker-compose.yml
  dods-model/package.json
  dods-model/src/db/config/index.ts
  dods-model/src/db/index.ts
  dods-model/src/db/migrations/20211012000000-create-dods_roles.ts
  dods-model/src/db/migrations/20211012000002-create-dods_users.ts
  dods-model/src/db/migrations/20211012000003-create-dods_subscription_types.ts
  dods-model/src/db/migrations/20211012000004-create-dods_client_accounts.ts
  dods-model/src/db/migrations/20211012000005-create-dods_client_account_teams.ts
  dods-model/src/db/migrations/20211012000006-create-dods_client_account_users.ts
  dods-model/src/db/migrations/20211012000007-create-dods_client_account_tags.ts
  dods-model/src/db/migrations/20211012000008-create-dods_projects.ts
  dods-model/src/db/migrations/20211012000009-create-dods_project_dates.ts
  dods-model/src/db/migrations/20211012000010-create-dods_project_users.ts
  dods-model/src/db/migrations/20211012000011-create-dods_tasks.ts
  dods-model/src/db/models/ClientAccount.ts
  dods-model/src/db/models/ClientAccountTag.ts
  dods-model/src/db/models/ClientAccountTeam.ts
  dods-model/src/db/models/ClientAccountUser.ts
  dods-model/src/db/models/ProjectDate.ts
  dods-model/src/db/models/ProjectUser.ts
  dods-model/src/db/models/Task.ts
  dods-model/src/db/models/User.ts
  dods-model/src/db/models/index.ts
  dods-model/tsconfig.json
  dods-model/webpack.config.js
  services/client-account/dev.env
  services/client-account/docker-compose.yml
  services/client-account/package-lock.json
  services/client-account/package.json
  services/client-account/serverless.yml
  services/client-account/src/db/sequelize.ts
  services/client-account/src/domain/config/index.ts
Due: Client Account Service, Client Account Deploy

dod-475: dods-model new version is published
  dods-model/package.json
  dods-model/webpack.config.js
  services/client-account/package-lock.json
Due: Client Account Service, Client Account Deploy

dod-475: docker and gitignore is updated
  dods-model/.gitignore
  services/client-account/.gitignore
  services/client-account/docker-compose.yml
  services/client-account/docker/mariadb/initdb_sql_scripts/dods-db.sql
Due: Client Account Service, Client Account Deploy

SLS configuratin for user-profile functions on private VPC
  services/user-profile/package-lock.json
  services/user-profile/serverless.yml
Due: none

deploy to terraformed buckets
  infrastructure-terraform/environments/deployment/services/devtools/main.tf
  scrapping/debates-hoc-uk/serverless.yml
  scrapping/debates-hol-uk/serverless.yml
  scrapping/debates-nir/serverless.yml
  scrapping/debates-wls/serverless.yml
  scrapping/motions-edm-uk/serverless.yml
  scrapping/oral-questions-hoc-uk/serverless.yml
  scrapping/oral-questions-hol-uk/serverless.yml
  scrapping/writtenQuestions-hoc-uk/serverless.yml
  scrapping/writtenQuestions-hol-uk/serverless.yml
  services/client-account/serverless.yml
  services/dods-iam/serverless.yml
  services/editorial-workflow/serverless.yml
  services/graphologi-integration/serverless.yml
  services/taxonomy-service/serverless.yml
  services/user-profile/serverless.yml
Due: Deploy Graphologi Webhook, Client Account Service, Deploy Scrapping Lambdas, Auth-Authz Deploy, Client Account Deploy
