Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, Deploy Pandas Layer, User Profile Service, Client Account Service, Editorial Workflow Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, User Profile Deploy, Client Account Deploy, Documents Deploy, Editorial Workflow Deploy, Frontend Build and Deploy, Taxonomy Service Deploy, Terraform Plan

Test build Frontend:
  image: node:lts-alpine3.14
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - export IMAGE_NAME=${AWS_ECR_NAME}/${FRONTEND_IMAGE}:${BITBUCKET_COMMIT}
  - cd ${FRONTEND_SRC}
  - yarn install
  - yarn test
  - yarn lint
  - docker build -t ${IMAGE_NAME} .

Deploy Graphologi Webhook:
  image: gioatsomoglobal/devopstools:0.4.2
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - cd services/graphologi-integration
  - npm install
  - serverless deploy

Deploy Pandas Layer:
  image: gioatsomoglobal/devopstools:0.4.2
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - cd services/pandas-layer
  - npm install
  - cd layers/pandas
  - ./build_layer.sh
  - cd ../..
  - serverless deploy --stage dev

User Profile Service:
  image: gioatsomoglobal/devopstools:0.4.3
  caches:
  - node
  script:
  - cd services/user-profile
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test:coverage

Client Account Service:
  image: gioatsomoglobal/nodejs-builder:0.2
  caches:
  - node
  script:
  - cd services/client-account
  - npm install
  - SERVERLESS_STAGE=dev npm run test:coverage

Editorial Workflow Service:
  image: gioatsomoglobal/nodejs-builder:0.2
  caches:
  - node
  script:
  - cd services/editorial-workflow
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - npm run test

Validate OpenAPI definitions:
  image: openapitools/openapi-generator-cli:v5.2.1
  script:
  - cd api
  - for i in *.yml; do docker-entrypoint.sh validate -i $i; done

Deploy Scrapping Lambdas:
  image: gioatsomoglobal/devopstools:0.4.2
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - cd scrapping
  - npm install
  - ./scrapping_deploy.sh

Auth-Authz Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/dods-iam
  - npm install
  - NODE_ENV=test npm run test:coverage
  - npx serverless deploy --stage dev

User Profile Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/user-profile
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - npx serverless deploy --stage dev

Client Account Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/client-account
  - npm install
  - export SERVERLESS_STAGE=dev
  - npm run test:coverage
  - npx serverless deploy --stage dev

Documents Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/documents
  - npm install
  - export SERVERLESS_STAGE=dev
  - npx serverless deploy --stage dev

Editorial Workflow Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/editorial-workflow
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - npm run test
  - npx serverless deploy --stage dev

Added migrations to create collections tables. Pending to create models and seeding.
  dods-model/src/db/migrations/20211222000000-create-collections.ts
  dods-model/src/db/migrations/20211222000001-create-collections_saved_queries.ts
  dods-model/src/db/migrations/20211222000002-create-collections-documents.ts
  dods-model/src/db/migrations/20211222000003-create-collections_alert_templates.ts
  dods-model/src/db/migrations/20211222000004-create-collections_alerts.ts
  dods-model/src/db/migrations/20211222000006-create-collections_alerts_queries.ts
  dods-model/src/db/migrations/20211222000007-create-collections_alerts_recipients.ts
  dods-model/src/db/migrations/20211222000008-create-collections_alerts_documents.ts
Due: none

dod-751: collection migration is refactored
  dods-model/src/db/migrations/20211222000019-create-collections.ts
  dods-model/src/db/migrations/20211222000020-create-collections_saved_queries.ts
  dods-model/src/db/migrations/20211222000021-create-collections-documents.ts
  dods-model/src/db/migrations/20211222000022-create-collections_alert_templates.ts
  dods-model/src/db/migrations/20211222000023-create-collections_alerts.ts
  dods-model/src/db/migrations/20211222000024-create-collections_alerts_queries.ts
  dods-model/src/db/migrations/20211222000025-create-collections_alerts_recipients.ts
  dods-model/src/db/migrations/20211222000026-create-collections_alerts_documents.ts
  dods-model/src/db/models/Alert.ts
  dods-model/src/db/models/AlertQuery.ts
  dods-model/src/db/models/Collection.ts
  dods-model/src/db/models/CollectionAlert.ts
  dods-model/src/db/models/CollectionAlertDocument.ts
  dods-model/src/db/models/CollectionAlertQuery.ts
  dods-model/src/db/models/CollectionAlertRecipient.ts
  dods-model/src/db/models/CollectionAlertTemplate.ts
  dods-model/src/db/models/CollectionDocument.ts
  dods-model/src/db/models/CollectionSavedQuery.ts
  dods-model/src/db/models/SavedQuery.ts
  dods-model/src/db/models/index.ts
Due: none

dod-751: collection migration is refactored again
  dods-model/src/db/migrations/20211222000000-create-collections.ts
  dods-model/src/db/migrations/20211222000001-create-collections_saved_queries.ts
  dods-model/src/db/migrations/20211222000002-create-collections-documents.ts
  dods-model/src/db/migrations/20211222000003-create-collections_alert_templates.ts
  dods-model/src/db/migrations/20211222000004-create-collections_alerts.ts
  dods-model/src/db/migrations/20211222000006-create-collections_alerts_queries.ts
  dods-model/src/db/migrations/20211222000007-create-collections_alerts_recipients.ts
  dods-model/src/db/migrations/20211222000008-create-collections_alerts_documents.ts
  dods-model/src/db/models/Alert.ts
  dods-model/src/db/models/AlertDocument.ts
  dods-model/src/db/models/AlertQuery.ts
  dods-model/src/db/models/AlertRecipient.ts
  dods-model/src/db/models/AlertTemplate.ts
  dods-model/src/db/models/Collection.ts
  dods-model/src/db/models/SavedQuery.ts
Due: none

baseReadme is added for http request
  baseReadme/README.md
  baseReadme/images/image1.png
  baseReadme/images/image2.png
  baseReadme/images/image3.png
  services/boilerplate/README.md
  services/editorial-workflow/README.md
  services/editorial-workflow/src/handlers/createEditorialRecord/request.http
Due: Editorial Workflow Service, Editorial Workflow Deploy

documentName and s3Location minLength set
  services/editorial-workflow/src/handlers/updateEditorialRecord/index.ts
  services/editorial-workflow/src/openApi.yml
Due: Editorial Workflow Service, Editorial Workflow Deploy

name fields can not be updated as empty
  services/user-profile/src/openApi.yml
Due: User Profile Service, User Profile Deploy

dod-609: createDocument is updated
  services/documents/package-lock.json
  services/documents/package.json
  services/documents/serverless.yml
  services/documents/src/domain/config/index.ts
  services/documents/src/domain/interfaces/index.ts
  services/documents/src/handlers/createDocument/createDocument.ts
  services/documents/src/handlers/createDocument/index.ts
  services/documents/src/handlers/createDocument/request.http
  services/documents/src/openApi.yml
  services/documents/tests/integrationTests/downstreamDefinitions/GetFullNameService.yml
  services/documents/tests/integrationTests/downstreamDefinitions/GreetingEnglishService.yml
  services/documents/tests/integrationTests/downstreamDefinitions/GreetingTurkishService.yml
  services/documents/tests/unitTests/handlers/createDocument.test.ts
Due: Documents Deploy

dod-1262: code is refactored
  services/editorial-workflow/src/domain/interfaces/EditorialRecord.ts
  services/editorial-workflow/src/handlers/createEditorialRecord/createEditorialRecord.ts
  services/editorial-workflow/src/handlers/createEditorialRecord/request.http
  services/editorial-workflow/src/openApi.yml
  services/editorial-workflow/tests/unitTests/handlers/createEditorialRecord.test.ts
Due: Editorial Workflow Service, Editorial Workflow Deploy

WIP: New pipeline for frontend
  bitbucket-pipelines.yml
  tools/bitbucket.sh
  tools/build-projects.sh
  tools/build.sh
  tools/list-dependencies.sh
  tools/list-projects-to-build.sh
  tools/list-projects.sh
  tools/projects.txt
  tools/set-deployer.sh
Due: none

WIP Fixed duplicated step on Pipeline
  bitbucket-pipelines.yml
Due: none

WIP Fixed memory assignment on new custom pipelines
  bitbucket-pipelines.yml
Due: none

Fixed reference to removed cache
  bitbucket-pipelines.yml
Due: none

Add dist folder for frontend
  frontend/dods_pip/.dist/README.md
Due: Test build Frontend, Frontend Build and Deploy

update Document from editorial Record Workflow
  dods-model/package.json
  dods-model/src/db/models/EditorialRecord.ts
  services/editorial-workflow/package.json
  services/editorial-workflow/serverless.yml
  services/editorial-workflow/src/domain/interfaces/DocumentPublishPersister.ts
  services/editorial-workflow/src/domain/interfaces/DocumentServicePersister.ts
  services/editorial-workflow/src/domain/interfaces/EditorialRecord.ts
  services/editorial-workflow/src/domain/interfaces/index.ts
  services/editorial-workflow/src/handlers/updateEditorialRecordDocument/index.ts
  services/editorial-workflow/src/handlers/updateEditorialRecordDocument/updateEditorialRecordDocument.ts
  services/editorial-workflow/src/openApi.yml
  services/editorial-workflow/src/repositories/DocumentServiceRepository.ts
  services/editorial-workflow/src/repositories/EditorialRecordRepository.ts
  services/editorial-workflow/tests/unitTests/handlers/updateEditorialRecordDocument.test.ts
Due: Editorial Workflow Service, Editorial Workflow Deploy

unassignEditorToRecord and not include in nested in query
  services/editorial-workflow/src/handlers/updateEditorialRecordDocument/updateEditorialRecordDocument.ts
  services/editorial-workflow/src/repositories/EditorialRecordRepository.ts
Due: Editorial Workflow Service, Editorial Workflow Deploy

chore(DOD-592): merges edit and create screens
  frontend/dods_pip/jest.config.js
  frontend/dods_pip/public/apple-touch-icon-114x114.png
  frontend/dods_pip/public/apple-touch-icon-120x120.png
  frontend/dods_pip/public/apple-touch-icon-144x144.png
  frontend/dods_pip/public/apple-touch-icon-152x152.png
  frontend/dods_pip/public/apple-touch-icon-57x57.png
  frontend/dods_pip/public/apple-touch-icon-72x72.png
  frontend/dods_pip/public/favicon-16x16.png
  frontend/dods_pip/public/favicon-32x32.png
  frontend/dods_pip/public/favicon.ico
  frontend/dods_pip/public/mstile-144x144.png
  frontend/dods_pip/src/components/Header/NavigationAccount.tsx
  frontend/dods_pip/src/components/Header/NavigationMobile.tsx
  frontend/dods_pip/src/components/Header/index.tsx
  frontend/dods_pip/src/components/WysiwygEditor/blots/align.tsx
  frontend/dods_pip/src/components/WysiwygEditor/blots/bold.tsx
  frontend/dods_pip/src/components/WysiwygEditor/blots/italic.tsx
  frontend/dods_pip/src/components/WysiwygEditor/index.tsx
  frontend/dods_pip/src/components/WysiwygEditor/wysiwyg-editor.test.tsx
  frontend/dods_pip/src/components/_form/Select/index.tsx
  frontend/dods_pip/src/pages/_app.page.tsx
  frontend/dods_pip/src/pages/api/editorial-record.page.tsx
  frontend/dods_pip/src/pages/api/editorial-record/index.page.tsx
  frontend/dods_pip/src/pages/editorial/[id]/index.page.test.tsx
  frontend/dods_pip/src/pages/editorial/[id]/index.page.tsx
  frontend/dods_pip/src/pages/editorial/article/[[...articleId]]/editorial-form.tsx
  frontend/dods_pip/src/pages/editorial/article/[[...articleId]]/editorial-from.styles.tsx
  frontend/dods_pip/src/pages/editorial/article/[[...articleId]]/index.page.test.tsx
  frontend/dods_pip/src/pages/editorial/article/[[...articleId]]/index.page.tsx
  frontend/dods_pip/src/pages/editorial/editorial.service.tsx
  frontend/dods_pip/src/pages/editorial/index.page.styles.tsx
  frontend/dods_pip/src/pages/editorial/index.page.tsx
  frontend/dods_pip/src/pages/editorial/new/index.page.tsx
  frontend/dods_pip/tsconfig.json
Due: Test build Frontend, Frontend Build and Deploy

WIP test script for assuming role
  bitbucket-pipelines.yml
  tools/set-deployer.sh
Due: none

WIP test script for assuming role
  tools/set-deployer.sh
Due: none

WIP Frontend deployment to parameterizable environment
  bitbucket-pipelines.yml
  tools/set-deployer.sh
Due: none

WIP refactor multi-env build/deploy frontend
  bitbucket-pipelines.yml
Due: none

WIP refactor multi-env deploy job
  bitbucket-pipelines.yml
Due: none

WIP reduce noise on image copy, file location of creds file
  bitbucket-pipelines.yml
  frontend/dods_pip/.dist/README.md
Due: Test build Frontend, Frontend Build and Deploy

WIP still chasing the creds file
  bitbucket-pipelines.yml
Due: none

Fix docker login to environment ECR
  bitbucket-pipelines.yml
Due: none

not returning s3Location in response
  services/editorial-workflow/src/handlers/updateEditorialRecordDocument/updateEditorialRecordDocument.ts
Due: Editorial Workflow Service, Editorial Workflow Deploy

fixing test s3Location
  services/editorial-workflow/tests/unitTests/handlers/updateEditorialRecordDocument.test.ts
Due: Editorial Workflow Service, Editorial Workflow Deploy

Removed extra / calling endpoint
  services/editorial-workflow/src/repositories/DocumentServiceRepository.ts
Due: Editorial Workflow Service, Editorial Workflow Deploy

DOD-1231 Complete auto tagging process
  services/auto-tagging/autoTagging.py
  services/auto-tagging/requirements.txt
  services/auto-tagging/serverless.yml
Due: none

DOD-642 fix
  scrapping/contentMigration/stage3/lib
  scrapping/contentMigration/stage3/package-lock.json
  scrapping/contentMigration/stage3/package.json
  scrapping/contentMigration/stage3/templates
Due: Deploy Scrapping Lambdas

DOD-642 Add migration step3 - push all files from step-2 output into queue
  scrapping/contentMigration/stage3/.gitignore
  scrapping/contentMigration/stage3/README.md
  scrapping/contentMigration/stage3/config.ini
  scrapping/contentMigration/stage3/dependencies.txt
  scrapping/contentMigration/stage3/handler.py
  scrapping/contentMigration/stage3/package-lock.json
  scrapping/contentMigration/stage3/package.json
  scrapping/contentMigration/stage3/requirements.txt
  scrapping/contentMigration/stage3/serverless.yml
Due: Deploy Scrapping Lambdas

fix: removes external project ref
  frontend/dods_pip/jest.config.js
  frontend/dods_pip/package.json
  frontend/dods_pip/src/pages/editorial/article/[[...articleId]]/editorial-form.tsx
  frontend/dods_pip/src/pages/editorial/article/[[...articleId]]/index.page.tsx
  frontend/dods_pip/src/pages/editorial/editorial.service.tsx
  frontend/dods_pip/tsconfig.json
  frontend/dods_pip/yarn.lock
Due: Test build Frontend, Frontend Build and Deploy

Added pipelines for Collections-service
  bitbucket-pipelines.yml
Due: none

create collection
  dods-model/src/db/models/Collection.ts
  services/collections/src/domain/interfaces/index.ts
  services/collections/src/repositories/CollectionsRepository.ts
Due: none

update collection without UT completed
  services/collections/package-lock.json
  services/collections/serverless.yml
  services/collections/src/domain/index.ts
  services/collections/src/domain/interfaces/Collection.ts
  services/collections/src/domain/interfaces/CollectionPersister.ts
  services/collections/src/handlers/createCollection/createCollection.http
  services/collections/src/handlers/health/index.ts
  services/collections/src/handlers/updateCollection/index.ts
  services/collections/src/handlers/updateCollection/updateCollection.ts
  services/collections/src/openApi.yml
  services/collections/src/repositories/CollectionRepository.ts
  services/collections/src/repositories/CollectionsRepository.ts
Due: none

DOD-858 Complete migration stage3 autotagging process
  scrapping/contentMigration/stage3/handler.py
  scrapping/contentMigration/stage3/serverless.yml
Due: Deploy Scrapping Lambdas

Added Unit test to endpoint
  dods-model/.env.example
  dods-model/.gitignore
  dods-model/package.json
  dods-model/webpack.config.js
  services/collections/src/handlers/updateCollection/updateCollection.ts
  services/collections/src/repositories/CollectionRepository.ts
  services/collections/tests/unitTests/handlers/updateCollection.test.ts
  services/collections/tests/unitTests/repositories/CollectionRepository.test.ts
Due: none

Created and Updated ER payload and constant formater
  services/editorial-workflow/src/domain/interfaces/EditorialRecord.ts
  services/editorial-workflow/src/handlers/createEditorialRecord/createEditorialRecord.ts
  services/editorial-workflow/src/handlers/updateEditorialRecordDocument/index.ts
  services/editorial-workflow/src/handlers/updateEditorialRecordDocument/updateEditorialRecordDocument.ts
  services/editorial-workflow/src/openApi.yml
  services/editorial-workflow/tests/unitTests/handlers/createEditorialRecord.test.ts
Due: Editorial Workflow Service, Editorial Workflow Deploy

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  Deploy Pandas Layer: any of: services/pandas-layer/**
  User Profile Service: any of: services/user-profile/**
  Client Account Service: any of: services/client-account/**
  Editorial Workflow Service: any of: services/editorial-workflow/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  User Profile Deploy: any of: services/user-profile/**
  Client Account Deploy: any of: services/client-account/**
  Documents Deploy: any of: services/documents/**
  Editorial Workflow Deploy: any of: services/editorial-workflow/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**
  Taxonomy Service Deploy: any of: services/taxonomy-service/**
  Terraform Plan: any of: infrastructure-terraform/**
