Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, Deploy Pandas Layer, Test Search Service, User Profile Service, Client Account Service, Documents Service, Editorial Workflow Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, Search Service Deploy, User Profile Deploy, Client Account Deploy, Documents Deploy, Editorial Workflow Deploy, Frontend Build and Deploy, Taxonomy Service Deploy, Terraform Plan

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  Deploy Pandas Layer: any of: services/pandas-layer/**
  Test Search Service: any of: services/search-service/**
  User Profile Service: any of: services/user-profile/**
  Client Account Service: any of: services/client-account/**
  Documents Service: any of: services/documents/**
  Editorial Workflow Service: any of: services/editorial-workflow/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  Search Service Deploy: any of: services/search-service/**
  User Profile Deploy: any of: services/user-profile/**
  Client Account Deploy: any of: services/client-account/**
  Documents Deploy: any of: services/documents/**
  Editorial Workflow Deploy: any of: services/editorial-workflow/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**
  Taxonomy Service Deploy: any of: services/taxonomy-service/**
  Terraform Plan: any of: infrastructure-terraform/**

feat(DOD-781): create account collection
  frontend/dods_pip/src/components/Modal/Modal.styles.tsx
  frontend/dods_pip/src/components/Modal/index.tsx
  frontend/dods_pip/src/components/Pagination/index.tsx
  frontend/dods_pip/src/components/_form/SearchDropdown/index.tsx
  frontend/dods_pip/src/pages/collections/collections-admin.tsx
  frontend/dods_pip/src/pages/collections/collections-user.tsx
  frontend/dods_pip/src/pages/collections/collections.styles.tsx
  frontend/dods_pip/src/pages/collections/index.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

added details table and data
  frontend/dods_pip/src/pages/library/document/[id].page.tsx
  frontend/dods_pip/src/pages/library/document/header.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-1020): label casing
  frontend/dods_pip/src/components/Alert/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

table styles
  frontend/dods_pip/src/pages/library/document/[id].page.tsx
  frontend/dods_pip/src/pages/library/index.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

Provide steps for build/deploy scrapers
  bitbucket-pipelines.yml
Due: none

collectionId in path for create alerts
  services/collections/src/openApi.yml
Due: none

Fix npm install for scrapping pipeline
  bitbucket-pipelines.yml
Due: none

Prevent trying to run sls were not aplicable on scrapping [skip ci]
  bitbucket-pipelines.yml
Due: none

added unchecked in file
  frontend/dods_pip/src/pages/library/document/document.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

added unchecked in file
  frontend/dods_pip/src/pages/library/document/[id].page.tsx
  frontend/dods_pip/src/pages/library/document/document.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

added tags and basic styles
  frontend/dods_pip/src/pages/library/document/[id].page.tsx
  frontend/dods_pip/src/pages/library/document/document.styles.tsx
  frontend/dods_pip/src/pages/library/index.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

dod-731: set-alert-recipient lambda is created
  npm-packages/dods-domain/src/errors/CustomHttpErrors.ts
  npm-packages/dods-domain/src/index.ts
  npm-packages/dods-lambda/src/validation/GenericOpenApiValidator.ts
  npm-packages/dods-model/src/db/index.ts
  npm-packages/dods-model/src/db/migrations/20211222000025-create-collections_alerts_recipients.ts
  npm-packages/dods-model/src/db/models/CollectionAlert.ts
  npm-packages/dods-model/src/db/models/CollectionAlertRecipient.ts
  npm-packages/dods-repositories/src/CollectionAlertRecipientRepository/domain.ts
  npm-packages/dods-repositories/src/CollectionAlertRecipientRepository/index.ts
  npm-packages/dods-repositories/src/index.ts
  services/collections/serverless.yml
  services/collections/src/handlers/createCollection/createCollection.http
  services/collections/src/handlers/deleteCollection/index.ts
  services/collections/src/handlers/setAlertRecipients/index.ts
  services/collections/src/handlers/setAlertRecipients/request.http
  services/collections/src/handlers/setAlertRecipients/setAlertRecipients.ts
  services/collections/src/handlers/updateCollection/index.ts
  services/collections/src/openApi.yml
Due: none

ddo-731: CollectionAlertRecipients model and repository is refactored.
  npm-packages/dods-domain/package-lock.json
  npm-packages/dods-domain/package.json
  npm-packages/dods-domain/src/aws/context.ts
  npm-packages/dods-domain/src/aws/createEvent.ts
  npm-packages/dods-domain/src/aws/index.ts
  npm-packages/dods-domain/src/index.ts
  npm-packages/dods-lambda/package-lock.json
  npm-packages/dods-lambda/package.json
  npm-packages/dods-lambda/src/validation/GenericOpenApiValidator.ts
  npm-packages/dods-model/package-lock.json
  npm-packages/dods-model/package.json
  npm-packages/dods-model/src/db/index.ts
  npm-packages/dods-model/src/db/migrations/20211222000025-create-collections_alerts_recipients.ts
  npm-packages/dods-model/src/db/models/CollectionAlert.ts
  npm-packages/dods-model/src/db/models/CollectionAlertQuery.ts
  npm-packages/dods-model/src/db/models/CollectionAlertRecipient.ts
  npm-packages/dods-repositories/package-lock.json
  npm-packages/dods-repositories/package.json
  npm-packages/dods-repositories/src/CollectionAlertRecipientRepository/index.ts
  services/boilerplate/package-lock.json
  services/boilerplate/package.json
  services/collections/package-lock.json
  services/collections/package.json
  services/collections/src/handlers/setAlertRecipients/request.http
  services/collections/tests/unitTests/handlers/setAlertRecipients.test.ts
Due: none

dod-731: dods-repository new npm package is published
  npm-packages/dods-repositories/package-lock.json
  npm-packages/dods-repositories/package.json
  services/collections/package-lock.json
  services/collections/package.json
Due: none

Add GetAlert method. Add interface for the response and request params
  npm-packages/dods-repositories/src/CollectionAlertsRepository/domain.ts
  npm-packages/dods-repositories/src/CollectionAlertsRepository/index.ts
Due: none

Extend AlertAttributes interface
  npm-packages/dods-model/src/db/models/CollectionAlert.ts
Due: none

Add getAlert to collections service. Add getAlert definition to openApi
  services/collections/serverless.yml
  services/collections/src/handlers/getAlert/getAlert.ts
  services/collections/src/handlers/getAlert/index.ts
  services/collections/src/handlers/getAlert/request.http
  services/collections/src/openApi.yml
Due: none

Add tests. Update packages version
  npm-packages/dods-model/package.json
  npm-packages/dods-repositories/package-lock.json
  npm-packages/dods-repositories/package.json
  services/collections/package-lock.json
  services/collections/package.json
  services/collections/tests/unitTests/handlers/getAlert.test.ts
  services/collections/tests/unitTests/handlers/setAlertSchedule.test.ts
Due: none

v1.8 collections getAlert endpoint
  services/DODS Dev.postman_collection.json
Due: none

improving typings
  frontend/dods_pip/src/pages/library/document/[id].page.tsx
  frontend/dods_pip/src/pages/library/document/document.styles.tsx
  frontend/dods_pip/src/pages/library/index.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

Refactor: rename AlertAttributesStrechted to AlertOutput and move it to dods-repositories
  npm-packages/dods-model/package.json
  npm-packages/dods-model/src/db/models/CollectionAlert.ts
  npm-packages/dods-repositories/package-lock.json
  npm-packages/dods-repositories/package.json
  npm-packages/dods-repositories/src/CollectionAlertsRepository/domain.ts
  npm-packages/dods-repositories/src/CollectionAlertsRepository/index.ts
  services/collections/package-lock.json
  services/collections/package.json
  services/collections/tests/unitTests/handlers/setAlertSchedule.test.ts
Due: none

wrapping tags
  frontend/dods_pip/src/pages/library/document/document.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-781): remove commented code
  frontend/dods_pip/src/pages/collections/index.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

Provide default build image to on-changes deploy
  bitbucket-pipelines.yml
Due: none

get alert queries openApi and unitTest completed
  npm-packages/dods-repositories/package-lock.json
  npm-packages/dods-repositories/package.json
  npm-packages/dods-repositories/src/CollectionAlertsRepository/domain.ts
  npm-packages/dods-repositories/src/CollectionAlertsRepository/index.ts
  services/collections/package-lock.json
  services/collections/package.json
  services/collections/serverless.yml
  services/collections/src/handlers/getAlertQueries/getAlertQueries.ts
  services/collections/src/handlers/getAlertQueries/index.ts
  services/collections/src/handlers/getAlertQueries/request.http
  services/collections/src/openApi.yml
  services/collections/src/repositories/CollectionRepository.ts
  services/collections/tests/unitTests/handlers/getAlertQueries.test.ts
Due: none

Fix custom deploy script for Pandas layer
  services/pandas-layer/.ci/deploy.sh
Due: Deploy Pandas Layer

Remove 'test' environment for default list
  services/.ci/deployments.txt
Due: none

feat: added startsWith to search collection params
  npm-packages/dods-repositories/.prettierrc
  npm-packages/dods-repositories/package-lock.json
  npm-packages/dods-repositories/package.json
  npm-packages/dods-repositories/src/CollectionsRepository/domain.ts
  npm-packages/dods-repositories/src/CollectionsRepository/index.ts
  services/collections/package-lock.json
  services/collections/package.json
  services/collections/src/handlers/searchCollections/request.http
  services/collections/src/handlers/searchCollections/searchCollections.ts
  services/collections/src/openApi.yml
  services/collections/tests/unitTests/handlers/searchCollections.test.ts
Due: none

bug(DOD-781): clear data on cancel/submit,
  frontend/dods_pip/src/pages/collections/index.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

Add CopyAlert method
  npm-packages/dods-repositories/package.json
  npm-packages/dods-repositories/src/CollectionAlertsRepository/domain.ts
  npm-packages/dods-repositories/src/CollectionAlertsRepository/index.ts
  services/collections/src/openApi.yml
Due: none

Create cloneArray method and clone alert queries
  npm-packages/dods-repositories/src/CollectionAlertsRepository/index.ts
Due: none

Create private method to clone objects
  npm-packages/dods-repositories/package-lock.json
  npm-packages/dods-repositories/src/CollectionAlertsRepository/index.ts
Due: none

Create the CopytAlert handler and endpoint
  services/collections/package-lock.json
  services/collections/package.json
  services/collections/serverless.yml
  services/collections/src/handlers/copyAlert/copyAlert.ts
  services/collections/src/handlers/copyAlert/index.ts
  services/collections/src/handlers/copyAlert/request.http
  services/collections/src/handlers/getAlert/request.http
  services/collections/tests/unitTests/handlers/getAlert.test.ts
Due: none

Create copy collections documents function
  npm-packages/dods-repositories/src/CollectionAlertsRepository/index.ts
Due: none

WIP pausing deployment to look at another issue
  infrastructure-terraform/env-config.dev.js
  infrastructure-terraform/environments/deployment/services/extracted-content/main.tf
  infrastructure-terraform/environments/deployment/services/extracted-content/modules/dynamodb/main.tf
  infrastructure-terraform/environments/deployment/services/extracted-content/modules/dynamodb/variables.tf
  scrapping/hansard-api/docker-compose.yml
  scrapping/hansard-api/serverless.yml
Due: Deploy Scrapping Lambdas, Terraform Plan

fix: typo
  frontend/dods_pip/src/components/WysiwygEditor/index.tsx
  frontend/dods_pip/src/pages/editorial/article/[[...articleId]]/editorial-form.tsx
Due: Test build Frontend, Frontend Build and Deploy

Updated tests for getSchedule
  services/schedule/package.json
  services/schedule/serverless.yml
  services/schedule/src/repositories/ScheduleRepository.ts
  services/schedule/tests/unitTests/repositories/ScheduleRepository.test.ts
Due: none

converted current queries to use lib
  frontend/dods_pip/package.json
  frontend/dods_pip/src/pages/library/index.page.tsx
  frontend/dods_pip/yarn.lock
Due: Test build Frontend, Frontend Build and Deploy

Updated tests for all the missing functions and handlers
  services/schedule/src/handlers/deleteSchedule/deleteSchedule.ts
  services/schedule/src/handlers/getSchedule/getSchedule.ts
  services/schedule/src/handlers/updateSchedule/updateSchedule.ts
  services/schedule/src/repositories/ScheduleRepository.ts
  services/schedule/tests/unitTests/handlers/deleteSchedule.test.ts
  services/schedule/tests/unitTests/handlers/getSchedule.test.ts
  services/schedule/tests/unitTests/handlers/updateSchedule.test.ts
  services/schedule/tests/unitTests/repositories/ScheduleRepository.test.ts
Due: none

moving initial fetch to getServerSideProps
  frontend/dods_pip/src/pages/library/index.page.tsx
Due: Test build Frontend, Frontend Build and Deploy
