Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, User Profile Service, Client Account Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, User Profile Deploy, Client Account Deploy, Frontend Build and Deploy

Test build Frontend:
  image: node:alpine
  services:
  - docker
  caches:
  - node
  script:
  - export IMAGE_NAME=${AWS_ECR_NAME}/${FRONTEND_IMAGE}:${BITBUCKET_COMMIT}
  - cd ${FRONTEND_SRC}
  - yarn install
  - yarn test
  - yarn lint
  - yarn build
  - yarn build-storybook

Deploy Graphologi Webhook:
  image: gioatsomoglobal/devopstools:0.2.0
  caches:
  - node
  script:
  - cd services/graphologi-integration
  - npm install
  - serverless deploy

User Profile Service:
  image: gioatsomoglobal/devopstools:0.4.3
  caches:
  - node
  script:
  - ./what2build.sh
  - cd services/userProfile
  - npm install
  - export SERVERLESS_STAGE=dev
  - ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test
  - NODE_ENV=test npm run test:coverage

Client Account Service:
  image: gioatsomoglobal/nodejs-builder:0.1
  caches:
  - node
  script:
  - ./what2build.sh
  - cd services/client-account
  - npm install
  - export SERVERLESS_STAGE=dev
  - ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test:coverage

Validate OpenAPI definitions:
  image: openapitools/openapi-generator-cli:v5.2.1
  script:
  - cd api
  - for i in *.yml; do; openapi-generator-cli validate $i; done

Deploy Scrapping Lambdas:
  image: gioatsomoglobal/devopstools:0.4.2
  services:
  - docker
  caches:
  - node
  script:
  - cd scrapping
  - npm install
  - ./scrapping_deploy.sh

Auth-Authz Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.3
  script:
  - cd services/dods-iam
  - npm install
  - NODE_ENV=test npm run test
  - NODE_ENV=test npm run test:coverage
  - serverless deploy --stage dev

User Profile Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.3
  script:
  - ./what2build.sh
  - cd services/userProfile
  - npm install
  - export SERVERLESS_STAGE=dev
  - ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test
  - NODE_ENV=test npm run test:coverage
  - serverless deploy --stage dev

Client Account Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.3
  script:
  - ./what2build.sh
  - cd services/client-account
  - npm install
  - export SERVERLESS_STAGE=dev
  - ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test
  - NODE_ENV=test npm run test:coverage
  - serverless deploy --stage dev

Frontend Build and Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.3
  deployment: Test
  services:
  - docker
  caches:
  - node
  script:
  - export IMAGE_NAME=${AWS_ECR_NAME}/${FRONTEND_IMAGE}:${BITBUCKET_COMMIT}
  - cd ${FRONTEND_SRC}
  - yarn install
  - yarn lint
  - yarn build-storybook
  - yarn test
  ...

Changes in openApi, updateParameters and test
  services/client-account/src/domain/interfaces/ClientAccount.ts
  services/client-account/src/openApi.yml
  services/client-account/src/repositories/ClientAccountRepository.ts
  services/client-account/tests/unitTests/handlers/searchClientAccount.test.ts
  services/client-account/tests/unitTests/handlers/updateClientAccount.test.ts
  services/client-account/tests/unitTests/repositories/ClientAccountRepository.test.ts
Due: Client Account Service, Client Account Deploy

feat(DOD-589): qa review
  frontend/dods_pip/src/components/Tag/Tag.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

Added SubscriptionTypes Filter to SearchClientAccounts
  services/client-account/src/domain/interfaces/ClientAccount.ts
  services/client-account/src/handlers/searchClientAccount/searchClientAccount.ts
  services/client-account/src/repositories/ClientAccountRepository.ts
  services/client-account/tests/unitTests/handlers/searchClientAccount.test.ts
Due: Client Account Service, Client Account Deploy

Configure different hashing algorithm for webpack
  frontend/dods_pip/next.config.js
Due: Test build Frontend, Frontend Build and Deploy

Use Node version 16.13 to see if it fixes crypo issue
  frontend/dods_pip/Dockerfile
Due: Test build Frontend, Frontend Build and Deploy

fix webpack issue
  dods-model/package-lock.json
  dods-model/package.json
  dods-model/src/db/config/index.ts
  services/client-account/package-lock.json
  services/client-account/package.json
  services/client-account/serverless.yml
  services/client-account/src/repositories/ClientAccountRepository.ts
  services/client-account/src/repositories/UserProfileServiceRepository.ts
  services/client-account/webpack.config.js
Due: Client Account Service, Client Account Deploy

enable http call
  services/client-account/src/handlers/createTeamMember/createTeamMember.ts
  services/client-account/src/repositories/UserProfileServiceRepository.ts
Due: Client Account Service, Client Account Deploy

Update VPC information for Lambdas
  infrastructure-terraform/vpc.dev.js
Due: none

feat(DOD-589): qa review 2
  frontend/dods_pip/src/components/RepositoryTable/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

changed migrations and updated dependencies
  dods-model/package.json
  dods-model/src/db/migrations/20211012000004-create-dods_client_accounts.ts
  services/client-account/package-lock.json
  services/client-account/package.json
  services/user-profile/package-lock.json
  services/user-profile/package.json
Due: Client Account Service, Client Account Deploy

Switched image for branch testing
  bitbucket-pipelines.yml
Due: none

Touch to trigger deploy
  frontend/dods_pip/BUILD.bzl
Due: Test build Frontend, Frontend Build and Deploy

Added limit, offset working startsWith correct getSubsTypes and subs
  services/client-account/src/domain/interfaces/ClientAccount.ts
  services/client-account/src/domain/interfaces/Pagination.ts
  services/client-account/src/handlers/getSubscriptionTypes/index.ts
  services/client-account/src/handlers/searchClientAccount/searchClientAccount.ts
  services/client-account/src/repositories/ClientAccountRepository.ts
  services/client-account/tests/unitTests/handlers/searchClientAccount.test.ts
Due: Client Account Service, Client Account Deploy

QA environment private subnets config for deployment
  infrastructure-terraform/vpc.qa.js
Due: none

initial hold while paused
  frontend/dods_pip/src/components/Chips/Chips.stories.tsx
  frontend/dods_pip/src/components/Chips/Chips.styles.tsx
  frontend/dods_pip/src/components/Chips/index.tsx
  frontend/dods_pip/src/components/ContentTagger/ContentTagger.stories.tsx
  frontend/dods_pip/src/components/ContentTagger/ContentTagger.styles.tsx
  frontend/dods_pip/src/components/ContentTagger/ContentTagger.test.tsx
  frontend/dods_pip/src/components/ContentTagger/index.tsx
  frontend/dods_pip/src/components/Icon/assets/icon-menu.svg
  frontend/dods_pip/src/components/Icon/assets/icon-tag.svg
  frontend/dods_pip/src/components/Icon/assets/index.tsx
  frontend/dods_pip/src/components/Text/Text.styles.tsx
  frontend/dods_pip/src/mocks/data/tagging.json
  frontend/dods_pip/src/pages/tagger.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

Merged in feature/DOD-539-step1 (pull request #197)
  frontend/dods_pip/src/pages/account-management/add-client/account-info.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/account-info.tsx
  frontend/dods_pip/src/pages/account-management/add-client/index.page.tsx
  frontend/dods_pip/src/pages/account-management/add-client/subscription.tsx
Due: Test build Frontend, Frontend Build and Deploy

feat(DOD-636): account screen edits
  frontend/dods_pip/src/pages/account-management/add-client/index.page.tsx
  frontend/dods_pip/src/pages/account-management/add-client/subscription.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/subscription.tsx
Due: Test build Frontend, Frontend Build and Deploy

feat(DOD-636): revert test case
  frontend/dods_pip/src/pages/account-management/add-client/index.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

dod-722: endpoint urls are updated and searchClientAccount is refactored
  services/client-account/docker/mariadb/initdb_sql_scripts/dods-db.sql
  services/client-account/serverless.yml
  services/client-account/src/openApi.yml
  services/client-account/src/repositories/ClientAccountRepository.ts
Due: Client Account Service, Client Account Deploy

dod-722: serverless.yml is updated for path update
  services/client-account/serverless.yml
Due: Client Account Service, Client Account Deploy

chore(DOD-524): Button styles
  frontend/dods_pip/src/components/Button/Button.stories.tsx
  frontend/dods_pip/src/components/Button/Button.styles.tsx
  frontend/dods_pip/src/components/Button/Button.test.tsx
  frontend/dods_pip/src/components/Button/index.tsx
  frontend/dods_pip/src/components/IconButton/IconButton.stories.tsx
  frontend/dods_pip/src/components/IconButton/IconButton.styles.tsx
  frontend/dods_pip/src/components/IconButton/IconButton.test.tsx
  frontend/dods_pip/src/components/IconButton/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

DOD-540 - PUT Client Account step 2
  frontend/dods_pip/src/pages/account-management/add-client/index.page.tsx
  frontend/dods_pip/src/pages/account-management/add-client/index.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/subscription.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/subscription.tsx
  frontend/dods_pip/src/pages/api/clientaccount/[...uuid].page.tsx
  frontend/dods_pip/src/utils/api.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-524): incorrect hover
  frontend/dods_pip/src/components/Button/Button.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

Remove NODE_ENV variable from frontend image
  frontend/dods_pip/Dockerfile
  infra/copilot/frontend-dods-pip/manifest.yml
Due: Test build Frontend, Frontend Build and Deploy

testing
  frontend/dods_pip/src/lib/session.tsx
Due: Test build Frontend, Frontend Build and Deploy

update editorial workflow openAPI
  api/EditorialWorkflow.yml
Due: Validate OpenAPI definitions

Attempt at login flow with http server
  frontend/dods_pip/src/lib/session.tsx
Due: Test build Frontend, Frontend Build and Deploy

Appease lint gods
  frontend/dods_pip/src/lib/session.tsx
Due: Test build Frontend, Frontend Build and Deploy

Added total records sastisfy the query
  services/client-account/src/domain/interfaces/ClientAccount.ts
  services/client-account/src/domain/interfaces/ClientAccountPersister.ts
  services/client-account/src/handlers/searchClientAccount/searchClientAccount.ts
  services/client-account/src/repositories/ClientAccountRepository.ts
  services/client-account/tests/unitTests/handlers/searchClientAccount.test.ts
Due: Client Account Service, Client Account Deploy

More unit test for account-info.tsx Approved-by: Kevin Reynolds
  frontend/dods_pip/src/pages/account-management/add-client/account-info.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/account-info.tsx
Due: Test build Frontend, Frontend Build and Deploy

DOD-538 All accounts integration
  frontend/dods_pip/src/components/Pagination/index.tsx
  frontend/dods_pip/src/lib/fetchJson.tsx
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
  frontend/dods_pip/src/pages/account-management/accounts.styles.tsx
  frontend/dods_pip/src/pages/account-management/accounts.test.tsx
  frontend/dods_pip/src/pages/api/clientaccount.page.tsx
  frontend/dods_pip/src/pages/api/clientaccount/[...uuid].page.tsx
  frontend/dods_pip/src/utils/api.test.tsx
  frontend/dods_pip/src/utils/api.tsx
Due: Test build Frontend, Frontend Build and Deploy

DOD-539 - Create Client Fix POST request
  frontend/dods_pip/src/pages/account-management/add-client/account-info.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/account-info.tsx
  frontend/dods_pip/src/pages/api/clientaccount.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

duplicated function and interfaces are deleted
  services/user-profile/src/domain/interfaces/UserProfilePersister.ts
  services/user-profile/src/domain/interfaces/index.ts
  services/user-profile/src/repositories/UserProfileRepository.ts
Due: none

dod-392: id field is updated to uuid
  services/client-account/src/domain/interfaces/ClientAccount.ts
  services/client-account/src/domain/interfaces/TypeParsers.ts
  services/client-account/tests/unitTests/handlers/searchClientAccount.test.ts
Due: Client Account Service, Client Account Deploy

DOD-392 id is changing to uuid
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
  frontend/dods_pip/src/pages/account-management/accounts.test.tsx
Due: Test build Frontend, Frontend Build and Deploy

dod-392: id field is converted to uuid and some other refactorings
  services/client-account/src/db/index.ts
  services/client-account/src/db/models/index.ts
  services/client-account/src/domain/interfaces/ClientAccountPersister.ts
  services/client-account/src/domain/interfaces/ClientAccountTeam.ts
  services/client-account/src/domain/interfaces/UserProfilePersister.ts
  services/client-account/src/domain/interfaces/index.ts
  services/client-account/src/handlers/addTeamMemberToClientAccount/addTeamMemberToClientAccount.ts
  services/client-account/src/openApi.yml
  services/client-account/src/repositories/ClientAccountRepository.ts
  services/client-account/src/repositories/UserProfileRepository.ts
  services/client-account/src/repositories/index.ts
  services/client-account/tests/unitTests/handlers/addTeamMemberToClientAccount.test.ts
  services/client-account/tests/unitTests/repositories/ClientAccountRepository.test.ts
  services/client-account/tests/unitTests/repositories/UserProfileRepository.test.ts
Due: Client Account Service, Client Account Deploy

FIX DOD-950 - Rename Column to Live Collections
  frontend/dods_pip/src/pages/account-management/accounts.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

FIX DOD-949 - Lower and upper case accounts create a different section in the view
  frontend/dods_pip/package.json
  frontend/dods_pip/src/components/DataTable/index.tsx
  frontend/dods_pip/src/pages/account-management/add-client/account-info.tsx
  frontend/dods_pip/types.d.ts
  frontend/dods_pip/yarn.lock
Due: Test build Frontend, Frontend Build and Deploy

dod-392: userProfile filter is updated
  services/client-account/src/handlers/addTeamMemberToClientAccount/addTeamMemberToClientAccount.ts
Due: Client Account Service, Client Account Deploy

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  User Profile Service: any of: services/userProfile/**
  Client Account Service: any of: services/client-account/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  User Profile Deploy: any of: services/userProfile/**
  Client Account Deploy: any of: services/client-account/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**
