Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, User Profile Service, Client Account Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, User Profile Deploy, Client Account Deploy, Frontend Build and Deploy

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  User Profile Service: any of: services/userProfile/**
  Client Account Service: any of: services/client-account/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  User Profile Deploy: any of: services/userProfile/**
  Client Account Deploy: any of: services/client-account/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**

messageAction is deleted in createUser
  services/dods-iam/src/services/AwsCognito.ts
Due: Auth-Authz Deploy

only safe ones to have a default value
  scrapping/debates-hoc-uk/handler.py
  scrapping/templates/content_template.json
Due: Deploy Scrapping Lambdas

feat(DOD-1095): footer
  frontend/dods_pip/src/assets/images/logo-dods.svg
  frontend/dods_pip/src/components/Footer/Footer.styles.tsx
  frontend/dods_pip/src/components/Footer/index.tsx
  frontend/dods_pip/src/components/_layout/Panel/Panel.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

feat(DOD-903): page stubs
  frontend/dods_pip/src/pages/collections/index.page.tsx
  frontend/dods_pip/src/pages/library/index.page.tsx
  frontend/dods_pip/src/pages/library/test.page.tsx
  frontend/dods_pip/src/pages/my-profile/index.page.tsx
  frontend/dods_pip/src/pages/my-profile/test.page.tsx
  frontend/dods_pip/src/pages/people/index.page.tsx
  frontend/dods_pip/src/pages/privacy-policy.page.tsx
  frontend/dods_pip/src/pages/terms-conditions.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

Terraform apply on merge to master
  bitbucket-pipelines.yml
Due: none

feat(DOD-1095): footer icons
  frontend/dods_pip/src/components/Footer/Footer.styles.tsx
  frontend/dods_pip/src/components/Footer/index.tsx
  frontend/dods_pip/src/components/Icon/assets/icon-arrowDown.svg
  frontend/dods_pip/src/components/Icon/assets/icon-building.svg
  frontend/dods_pip/src/components/Icon/assets/icon-exit.svg
  frontend/dods_pip/src/components/Icon/assets/icon-list.svg
  frontend/dods_pip/src/components/Icon/assets/icon-mail.svg
  frontend/dods_pip/src/components/Icon/assets/icon-mailBold.svg
  frontend/dods_pip/src/components/Icon/assets/icon-menu.svg
  frontend/dods_pip/src/components/Icon/assets/icon-phone.svg
  frontend/dods_pip/src/components/Icon/assets/icon-phoneBold.svg
  frontend/dods_pip/src/components/Icon/assets/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

fix update status on record
  services/editorial-workflow/src/repositories/EditorialRecordRepository.ts
Due: none

signIn bugfix for user confirmation.
  services/dods-iam/src/services/AwsCognito.ts
Due: Auth-Authz Deploy

bugfix in user-profile and dods-iam
  services/dods-iam/src/repositories/UserProfileRepository.ts
  services/user-profile/serverless.yml
  services/user-profile/src/openApi.yml
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
Due: Auth-Authz Deploy

feat(DOD-903): Header and basic permissions
  frontend/dods_pip/src/components/Button/Button.styles.tsx
  frontend/dods_pip/src/components/Button/index.tsx
  frontend/dods_pip/src/components/Header/Header.styles.tsx
  frontend/dods_pip/src/components/Header/Header.test.tsx
  frontend/dods_pip/src/components/Header/NavigationAccount.test.tsx
  frontend/dods_pip/src/components/Header/NavigationAccount.tsx
  frontend/dods_pip/src/components/Header/NavigationContent.test.tsx
  frontend/dods_pip/src/components/Header/NavigationContent.tsx
  frontend/dods_pip/src/components/Header/NavigationMobile.test.tsx
  frontend/dods_pip/src/components/Header/NavigationMobile.tsx
  frontend/dods_pip/src/components/Header/index.tsx
  frontend/dods_pip/src/components/Text/Text.styles.tsx
  frontend/dods_pip/src/components/Text/index.tsx
  frontend/dods_pip/src/lib/fetchJson.tsx
  frontend/dods_pip/src/pages/_app.page.tsx
  frontend/dods_pip/src/pages/_app.styles.tsx
  frontend/dods_pip/src/pages/account-management/add-client/subscription.test.tsx
  frontend/dods_pip/src/pages/api/login.page.tsx
  frontend/dods_pip/src/pages/dashboard.page.tsx
  frontend/dods_pip/src/pages/dashboard.test.tsx
  frontend/dods_pip/src/pages/index.page.tsx
  frontend/dods_pip/src/pages/people/index.page.tsx
  frontend/dods_pip/src/utils/string.test.tsx
  frontend/dods_pip/src/utils/string.tsx
Due: Test build Frontend, Frontend Build and Deploy

feat(DOD-903): header z-index
  frontend/dods_pip/src/components/Header/Header.styles.tsx
  frontend/dods_pip/src/pages/library/test.page.tsx
  frontend/dods_pip/src/pages/my-profile/test.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

feat(DOD-903): fix mobile staying open on logout
  frontend/dods_pip/src/components/Header/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

DOD-778 Fixed root logger problem
  services/elasticsearch-manager/content_indexer.py
  services/elasticsearch-manager/validator.py
Due: none

bit of cleanup [skip ci]
  infrastructure-terraform/environments/deployment/output.tf
  infrastructure-terraform/environments/deployment/parameters.tf
Due: none

Updated frontend image
  infrastructure-terraform/main.tf
Due: none

feat(DOD-588): status bar component
  frontend/dods_pip/src/components/Icon/assets/icon-refresh.svg
  frontend/dods_pip/src/components/Icon/assets/index.tsx
  frontend/dods_pip/src/components/StatusBar/StatusBar.stories.tsx
  frontend/dods_pip/src/components/StatusBar/StatusBar.styles.tsx
  frontend/dods_pip/src/components/StatusBar/StatusBar.test.tsx
  frontend/dods_pip/src/components/StatusBar/index.tsx
  frontend/dods_pip/src/components/StatusBar/tagConstructor.ts
  frontend/dods_pip/src/components/StickyEffect/StickyEffect.stories.tsx
  frontend/dods_pip/src/components/StickyEffect/StickyEffect.styles.tsx
  frontend/dods_pip/src/components/StickyEffect/StickyEffect.test.tsx
  frontend/dods_pip/src/components/StickyEffect/index.tsx
  frontend/dods_pip/src/components/Tag/Tag.styles.tsx
  frontend/dods_pip/src/components/Tag/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

Prevents git telling me about loads of uncomitted files
  services/pandas-layer/.gitignore
Due: none

fix loadbalancer issues
  infrastructure-terraform/environments/deployment/parameters.tf
  infrastructure-terraform/environments/deployment/services/api-gateway/main.tf
  infrastructure-terraform/environments/deployment/services/client-profile-database/modules/rds/main.tf
  infrastructure-terraform/environments/deployment/services/extracted-content/modules/sqs/main.tf
  infrastructure-terraform/environments/deployment/services/migration/modules/sqs/main.tf
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/main.tf
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/variables.tf
  infrastructure-terraform/environments/deployment/services/pip-network/variables.tf
  infrastructure-terraform/environments/deployment/services/vpc/main.tf
  infrastructure-terraform/output.tf
Due: none

Alt labels searchable
  services/graphologi-integration/taxonomyImport.py
  services/taxonomy-service/src/domain/interfaces/index.ts
  services/taxonomy-service/src/repositories/TaxonomyRepository.ts
Due: Deploy Graphologi Webhook

fix lb https name
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/main.tf
Due: none

dod-1097: createUser in UserProfile is called in createTeamMember
  services/client-account/package-lock.json
  services/client-account/package.json
  services/client-account/serverless.yml
  services/client-account/src/domain/config/index.ts
  services/client-account/src/domain/interfaces/UserProfilePersister.ts
  services/client-account/src/handlers/createTeamMember/createTeamMember.ts
  services/client-account/src/repositories/UserProfileRepository.ts
  services/client-account/src/services/UserProfileServiceGateway.ts
  services/client-account/tests/unitTests/repositories/UserProfileRepository.test.ts
  services/user-profile/serverless.yml
Due: Client Account Service, Client Account Deploy

Updated terraform configuration [skip ci]
  infrastructure-terraform/environments/deployment/services/extracted-content/main.tf
Due: none

DOD-1124 Fixed content mappings
  services/elasticsearch-manager/models/content/mappings.json
Due: none

fix(DOD-1126): fixes rootpage title scraping
  frontend/dods_pip/src/components/Header/index.tsx
  frontend/dods_pip/src/pages/_app.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

fix(DOD-1048): adds role filter to users
  frontend/dods_pip/src/pages/api/users.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

fixed zero hour default in edit mode
  frontend/dods_pip/src/pages/account-management/add-client/add-client.tsx
Due: Test build Frontend, Frontend Build and Deploy

Provide infra and config for content processing lambda
  infrastructure-terraform/environments/deployment/parameters.tf
  infrastructure-terraform/environments/deployment/services/extracted-content/modules/sqs/main.tf
  infrastructure-terraform/environments/deployment/services/extracted-content/modules/sqs/output.tf
  infrastructure-terraform/environments/deployment/services/extracted-content/output.tf
  scrapping/serverless.common.yml
Due: Deploy Scrapping Lambdas

serverless configuration and code for s3 triggered lamdba
  scrapping/content-processing/.gitignore
  scrapping/content-processing/content.py
  scrapping/content-processing/serverless.yml
Due: Deploy Scrapping Lambdas

added lock editorial record
  api/EditorialWorkflow.yml
  services/editorial-workflow/serverless.yml
  services/editorial-workflow/src/domain/error/BadParameterError.ts
  services/editorial-workflow/src/domain/interfaces/EditorialRecord.ts
  services/editorial-workflow/src/handlers/lockEditorialRecord/index.ts
  services/editorial-workflow/src/handlers/lockEditorialRecord/lockEditorialRecord.ts
  services/editorial-workflow/src/openApi.yml
  services/editorial-workflow/src/repositories/EditorialRecordRepository.ts
  services/editorial-workflow/tests/unitTests/handlers/lockEditorialRecord.test.ts
  services/editorial-workflow/tests/unitTests/repositories/editorialRecordRepository.test.ts
Due: Validate OpenAPI definitions

fix(breadcrumbs): changes to correct color
  frontend/dods_pip/src/components/Breadcrumbs/Breadcrumbs.test.tsx
  frontend/dods_pip/src/components/Breadcrumbs/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

Improved flexibility on deployment script for simpler lambdas
  scrapping/content-processing/serverless.yml
  scrapping/scrapping_deploy.sh
Due: Deploy Scrapping Lambdas

fix: records with in progress status are blocked
  services/editorial-workflow/src/repositories/EditorialRecordRepository.ts
Due: none

small fix for section header icons
  frontend/dods_pip/src/components/Icon/Icon.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

Added SQS queue trigger
  services/graphologi-integration/serverless.yml
  services/graphologi-integration/taxonomyImport.py
  services/graphologi-integration/taxonomyImportTrigger.py
Due: Deploy Graphologi Webhook

test fix from merge
  services/taxonomy-service/tests/unitTests/handlers/taxonomyTree.test.ts
Due: none

bugfix
  services/taxonomy-service/src/repositories/TaxonomyRepository.ts
Due: none

dod-1135: clientAccountName field is deleted and unit tests are refactored.
  services/user-profile/src/domain/errors/index.ts
  services/user-profile/src/domain/interfaces/ClientAccountPersister.ts
  services/user-profile/src/domain/interfaces/UserProfilePersisterV2.ts
  services/user-profile/src/domain/interfaces/index.ts
  services/user-profile/src/handlers/createUser/createUser.ts
  services/user-profile/src/openApi.yml
  services/user-profile/src/repositories/ClientAccountRepository.ts
  services/user-profile/src/repositories/index.ts
  services/user-profile/tests/unitTests/handlers/createUser.test.ts
  services/user-profile/tests/unitTests/handlers/getUser.test.ts
  services/user-profile/tests/unitTests/repositories/IamRepository.test.ts
  services/user-profile/tests/unitTests/repositories/UserProfileRepositoryV2.test.ts
  services/user-profile/tests/unitTests/repositories/clientAccountRepository.test.ts
Due: none

content type schema tracked
  scrapping/templates/content_json_schema.json
Due: Deploy Scrapping Lambdas

feat(DOD-1107): bearer auth header to all api requests
  frontend/dods_pip/src/lib/fetchJson.tsx
  frontend/dods_pip/src/pages/api/[...slug].page.tsx
  frontend/dods_pip/src/pages/api/clientaccount.page.tsx
  frontend/dods_pip/src/pages/api/clientaccount/[...uuid].page.tsx
  frontend/dods_pip/src/pages/api/clientaccount/[uuid]/[...slug].page.tsx
  frontend/dods_pip/src/pages/api/clientaccount/[uuid]/teammember/new.page.tsx
  frontend/dods_pip/src/pages/api/content-sources.page.tsx
  frontend/dods_pip/src/pages/api/editorial-record-status.page.tsx
  frontend/dods_pip/src/pages/api/editorial-record.page.tsx
  frontend/dods_pip/src/pages/api/information-types.page.tsx
  frontend/dods_pip/src/pages/api/login.page.tsx
  frontend/dods_pip/src/pages/api/subscription-types.page.tsx
  frontend/dods_pip/src/pages/api/users.page.tsx
Due: Test build Frontend, Frontend Build and Deploy
