Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, Deploy Pandas Layer, Test Search Service, User Profile Service, Client Account Service, Documents Service, Editorial Workflow Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, Search Service Deploy, User Profile Deploy, Client Account Deploy, Documents Deploy, Editorial Workflow Deploy, Frontend Build and Deploy, Taxonomy Service Deploy, Terraform Plan

Test build Frontend:
  image: node:lts-alpine3.14
  size: 2x
  services:
  - docker
  caches:
  - docker
  script:
  - export IMAGE_NAME=${AWS_ECR_NAME}/${FRONTEND_IMAGE}:${BITBUCKET_COMMIT}
  - cd ${FRONTEND_SRC}
  - yarn install
  - yarn test
  - yarn lint
  - docker build -t ${IMAGE_NAME} .

Deploy Graphologi Webhook:
  image: gioatsomoglobal/devopstools:0.4.2
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - cd services/graphologi-integration
  - npm install
  - serverless deploy

Deploy Pandas Layer:
  image: gioatsomoglobal/devopstools:0.4.2
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - cd services/pandas-layer
  - npm install
  - cd layers/pandas
  - ./build_layer.sh
  - cd ../..
  - serverless deploy --stage dev

Test Search Service:
  image: gioatsomoglobal/nodejs-builder:0.2
  caches:
  - node
  script:
  - cd services/search-service
  - npm install
  - export SERVERLESS_PORT=3000
  - SERVERLESS_STAGE=dev npm run test:coverage

User Profile Service:
  image: gioatsomoglobal/devopstools:0.4.3
  caches:
  - node
  script:
  - cd services/user-profile
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test:coverage

Client Account Service:
  image: gioatsomoglobal/nodejs-builder:0.2
  caches:
  - node
  script:
  - cd services/client-account
  - npm install
  - SERVERLESS_STAGE=dev npm run test:coverage

Documents Service:
  image: gioatsomoglobal/nodejs-builder:0.2
  caches:
  - node
  script:
  - cd services/documents
  - npm install
  - SERVERLESS_STAGE=dev npm run test:coverage

Editorial Workflow Service:
  image: gioatsomoglobal/nodejs-builder:0.2
  caches:
  - node
  script:
  - cd services/editorial-workflow
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - npm run test

Validate OpenAPI definitions:
  image: openapitools/openapi-generator-cli:v5.2.1
  script:
  - cd api
  - for i in *.yml; do docker-entrypoint.sh validate -i $i; done

Deploy Scrapping Lambdas:
  image: gioatsomoglobal/devopstools:0.4.2
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - cd scrapping
  - npm install
  - ./scrapping_deploy.sh

Auth-Authz Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/dods-iam
  - npm install
  - NODE_ENV=test npm run test:coverage
  - npx serverless deploy --stage dev

Search Service Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/search-service
  - npm install
  - export SERVERLESS_STAGE=dev
  - export SERVERLESS_PORT=3000
  - npm run test:coverage
  - npx serverless deploy --stage dev

User Profile Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/user-profile
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - npx serverless deploy --stage dev

Update data models
  scrapping/hansard-api/.gitignore
  scrapping/hansard-api/docker/dynamodb/shared-local-instance.db
  scrapping/hansard-api/hansard.py
Due: Deploy Scrapping Lambdas

Refactor to dods-repository, unit test and openApi completed
  npm-packages/dods-repositories/.gitignore
  npm-packages/dods-repositories/.npmrc
  npm-packages/dods-repositories/package-lock.json
  npm-packages/dods-repositories/package.json
  npm-packages/dods-repositories/src/CollectionAlertsRepository/domain.ts
  npm-packages/dods-repositories/src/CollectionAlertsRepository/index.ts
  npm-packages/dods-repositories/src/index.ts
  services/collections/package-lock.json
  services/collections/package.json
  services/collections/src/domain/interfaces/Collection.ts
  services/collections/src/domain/interfaces/CollectionAlertsPersister.ts
  services/collections/src/domain/interfaces/index.ts
  services/collections/src/handlers/getCollectionAlerts/getCollectionAlerts.ts
  services/collections/src/handlers/getCollectionAlerts/request.http
  services/collections/src/openApi.yml
  services/collections/src/repositories/index.ts
  services/collections/tests/unitTests/handlers/getCollectionAlerts.test.ts
Due: none

set validateRequests to true and remove non required auth token
  services/collections/src/handlers/updateCollection/index.ts
  services/collections/src/openApi.yml
Due: none

More error handling, extract originator for written statement
  scrapping/hansard-api/hansard.py
Due: Deploy Scrapping Lambdas

bug(DOD-1241): fix email 2 edit not saving
  frontend/dods_pip/src/pages/users/[id].page.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-1126): failed login count
  frontend/dods_pip/src/pages/index.page.tsx
  frontend/dods_pip/src/pages/index.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-1126): user not found path
  frontend/dods_pip/src/pages/index.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

bud(DOD-1271): fix user search debounce
  frontend/dods_pip/src/pages/account-management/users.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

fix corners and shadows
  frontend/dods_pip/src/components/_layout/Box/Box.styles.tsx
  frontend/dods_pip/src/globals/elevation.tsx
Due: Test build Frontend, Frontend Build and Deploy

Few tweaks whilst on call
  scrapping/hansard-api/.gitignore
  scrapping/hansard-api/handler.py
  scrapping/hansard-api/hansard.py
Due: Deploy Scrapping Lambdas

dod-740: getCollection lambda is created
  npm-packages/dods-lambda/package-lock.json
  npm-packages/dods-lambda/package.json
  npm-packages/dods-lambda/src/middlewares/errorMiddleware.ts
  npm-packages/dods-model/package-lock.json
  npm-packages/dods-model/package.json
  npm-packages/dods-model/src/db/seeders/20211133000006-seed-dods-collection.ts
  npm-packages/dods-repositories/package-lock.json
  npm-packages/dods-repositories/package.json
  npm-packages/dods-repositories/src/CollectionsRepository/domain.ts
  npm-packages/dods-repositories/src/CollectionsRepository/index.ts
  services/boilerplate/package-lock.json
  services/boilerplate/package.json
  services/collections/package-lock.json
  services/collections/package.json
  services/collections/serverless.yml
  services/collections/src/handlers/getCollection/getCollection.ts
  services/collections/src/handlers/getCollection/index.ts
  services/collections/src/handlers/getCollection/request.http
  services/collections/src/openApi.yml
Due: none

set global nav background color
  frontend/dods_pip/src/components/_layout/PageHeader/PageHeader.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

Some TODO notes in line
  scrapping/hansard-api/hansard.py
Due: Deploy Scrapping Lambdas

feat(DOD-655): day picker
  frontend/dods_pip/src/components/DayPicker/DayPicker.stories.tsx
  frontend/dods_pip/src/components/DayPicker/DayPicker.styles.tsx
  frontend/dods_pip/src/components/DayPicker/DayPicker.test.tsx
  frontend/dods_pip/src/components/DayPicker/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

Add SendGrid API endpoint and key env variables. Map input data
  services/email-service/serverless.yml
  services/email-service/src/domain/config/index.ts
  services/email-service/src/domain/interfaces/index.ts
  services/email-service/src/handlers/getFullName/getFullName.ts
  services/email-service/src/handlers/getFullName/index.ts
  services/email-service/src/handlers/getFullName/request.http
  services/email-service/src/handlers/health/health.ts
  services/email-service/src/handlers/health/index.ts
  services/email-service/src/handlers/health/request.http
  services/email-service/src/handlers/sayEnglishHello/index.ts
  services/email-service/src/handlers/sayEnglishHello/request.http
  services/email-service/src/handlers/sayEnglishHello/sayEnglishHello.ts
  services/email-service/src/handlers/sayHello/index.ts
  services/email-service/src/handlers/sayHello/request.http
  services/email-service/src/handlers/sayHello/sayHello.ts
  services/email-service/src/handlers/sayTurkishHello/index.ts
  services/email-service/src/handlers/sayTurkishHello/sayTurkishHello.ts
  services/email-service/src/handlers/sendEmail/index.ts
  services/email-service/src/handlers/sendEmail/request.http
  services/email-service/src/handlers/sendEmail/sendEmail.ts
  services/email-service/src/repositories/Email.ts
  services/email-service/src/repositories/EmailRepository.ts
  services/email-service/src/repositories/Greeting.ts
  services/email-service/src/repositories/GreetingRepository.ts
  services/email-service/src/repositories/index.ts
Due: none

create alert with querys, openApi and UT completed
  npm-packages/dods-model/package-lock.json
  npm-packages/dods-model/package.json
  npm-packages/dods-model/src/db/index.ts
  npm-packages/dods-model/src/db/migrations/20220104000030-alter-dods_collections_alerts.ts
  npm-packages/dods-model/src/db/migrations/20220104000031-alter-dods_collections_alerts_queries.ts
  npm-packages/dods-model/src/db/models/CollectionAlert.ts
  npm-packages/dods-model/src/db/models/CollectionAlertQuery.ts
  npm-packages/dods-repositories/package-lock.json
  npm-packages/dods-repositories/package.json
  npm-packages/dods-repositories/src/CollectionAlertsRepository/domain.ts
  npm-packages/dods-repositories/src/CollectionAlertsRepository/index.ts
  services/collections/package-lock.json
  services/collections/package.json
  services/collections/serverless.yml
  services/collections/src/domain/interfaces/Collection.ts
  services/collections/src/handlers/createAlert/createAlert.ts
  services/collections/src/handlers/createAlert/index.ts
  services/collections/src/handlers/createAlert/request.http
  services/collections/src/handlers/getCollection/request.http
  services/collections/src/handlers/getCollectionAlerts/getCollectionAlerts.ts
  services/collections/src/openApi.yml
  services/collections/src/repositories/CollectionRepository.ts
  services/collections/tests/unitTests/handlers/createAlert.test.ts
  services/collections/tests/unitTests/handlers/getCollectionAlerts.test.ts
Due: none

feat(DOD-1020): alert component
  frontend/dods_pip/src/components/Alert/Alert.stories.tsx
  frontend/dods_pip/src/components/Alert/Alert.styles.tsx
  frontend/dods_pip/src/components/Alert/Alert.test.tsx
  frontend/dods_pip/src/components/Alert/index.tsx
  frontend/dods_pip/src/components/DayPicker/DayPicker.styles.tsx
  frontend/dods_pip/src/components/DayPicker/index.tsx
  frontend/dods_pip/src/components/Icon/assets/icon-copy.svg
  frontend/dods_pip/src/components/Icon/assets/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

DOD-618 Fixed some bug regarding Chris comments
  scrapping/contentMigration/stage2/handler.py
  scrapping/contentMigration/stage2/taxonomy_processor.py
Due: Deploy Scrapping Lambdas

Handle errors coming from SendGrid API. Add method to map the input data
  services/email-service/src/domain/config/index.ts
  services/email-service/src/domain/index.ts
  services/email-service/src/domain/mappers/index.ts
  services/email-service/src/handlers/sendEmail/sendEmail.ts
  services/email-service/src/openApi.yml
  services/email-service/src/repositories/EmailRepository.ts
Due: none

WIP New pipeline for frontend and services
  bitbucket-pipelines.yml
  frontend/.ci/deployments.txt
  scrapping/.ci/deployments.txt
  services/.ci/deployments.txt
  services/collections/.ci/build.sh
  services/pandas-layer/.ci/deploy.sh
  services/search-service/.ci/build.sh
  tools/bitbucket.sh
  tools/deploy-projects.sh
  tools/list-envs-to-deploy.sh
  tools/on-changes.sh
Due: Deploy Pandas Layer, Test Search Service, Deploy Scrapping Lambdas, Search Service Deploy

WIP provide default image for pipeline
  bitbucket-pipelines.yml
Due: none

WIP make dummy script verbose
  services/pandas-layer/.ci/build.sh
Due: Deploy Pandas Layer

Add unit tests
  services/email-service/serverless.yml
  services/email-service/src/handlers/sendEmail/sendEmail.ts
  services/email-service/src/repositories/Email.ts
  services/email-service/tests/unitTests/handlers/getFullName.test.ts
  services/email-service/tests/unitTests/handlers/health.test.ts
  services/email-service/tests/unitTests/handlers/sayEnglishHello.test.ts
  services/email-service/tests/unitTests/handlers/sayHello.test.ts
  services/email-service/tests/unitTests/handlers/sayTurkishHello.test.ts
  services/email-service/tests/unitTests/handlers/sendEmail.test.ts
  services/email-service/tests/unitTests/repositories/EmailRepository.test.ts
  services/email-service/tests/unitTests/repositories/GreetingRepository.test.ts
Due: none

Add integration tests
  services/email-service/dockerfile
  services/email-service/tests/integrationTests/downstreamDefinitions/GetFullNameService.yml
  services/email-service/tests/integrationTests/downstreamDefinitions/GreetingEnglishService.yml
  services/email-service/tests/integrationTests/downstreamDefinitions/GreetingTurkishService.yml
  services/email-service/tests/integrationTests/downstreamDefinitions/SendEmailService.yml
  services/email-service/tests/integrationTests/features/email.feature
  services/email-service/tests/integrationTests/features/greeting.feature
  services/email-service/tests/integrationTests/step-definitions/emailSteps.ts
  services/email-service/tests/integrationTests/step-definitions/greetingSteps.ts
Due: none

Failing tests
  services/schedule/serverless.yml
  services/schedule/src/handlers/createSchedule/createSchedule.ts
  services/schedule/src/repositories/ScheduleRepository.ts
  services/schedule/tests/unitTests/handlers/createSchedule.test.ts
  services/schedule/tests/unitTests/repositories/ScheduleRepository.test.ts
Due: none

DOD-618 Logging unmatched taxonomy terms
  scrapping/contentMigration/stage2/handler.py
Due: Deploy Scrapping Lambdas

branch is rebased to master and new npm packages are published.
  npm-packages/dods-model/package-lock.json
  npm-packages/dods-model/package.json
  npm-packages/dods-model/src/db/models/Collection.ts
  npm-packages/dods-repositories/package-lock.json
  npm-packages/dods-repositories/package.json
  npm-packages/dods-repositories/src/CollectionsRepository/domain.ts
  npm-packages/dods-repositories/src/CollectionsRepository/index.ts
  services/collections/package-lock.json
  services/collections/package.json
  services/collections/serverless.yml
  services/collections/src/handlers/deleteCollection/deleteCollection.ts
  services/collections/src/handlers/deleteCollection/index.ts
  services/collections/src/handlers/deleteCollection/request.http
  services/collections/src/openApi.yml
Due: none

Add email-service to bitbucket pipeline
  bitbucket-pipelines.yml
Due: none

Update package.json name and description
  services/email-service/package.json
Due: none

Add an example to request.http file
  services/email-service/src/handlers/sendEmail/request.http
Due: none

Update default env variable value
  services/email-service/serverless.yml
Due: none

getCollection and delete
  services/collections/tests/unitTests/handlers/deleteCollection.test.ts
  services/collections/tests/unitTests/handlers/getCollection.test.ts
Due: none

feat: ac-032 text selection
  frontend/dods_pip/src/components/ContentTagger/index.tsx
  frontend/dods_pip/src/pages/editorial/article/[[...articleId]]/editorial-form.tsx
Due: Test build Frontend, Frontend Build and Deploy

Add postman collection to 'services' folder. Add email service to postman collection
  services/DODS Dev.postman_collection.json
Due: none

fixup! feat: ac-032 text selection
  frontend/dods_pip/.eslintrc
  frontend/dods_pip/src/components/ContentTagger/index.tsx
  frontend/dods_pip/src/pages/editorial/article/[[...articleId]]/editorial-form.tsx
  frontend/dods_pip/yarn.lock
Due: Test build Frontend, Frontend Build and Deploy

Update serverless function name
  services/email-service/serverless.yml
Due: none

Production SES config + Message cleanup
  services/dods-iam/serverless.yml
Due: Auth-Authz Deploy

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  Deploy Pandas Layer: any of: services/pandas-layer/**
  Test Search Service: any of: services/search-service/**
  User Profile Service: any of: services/user-profile/**
  Client Account Service: any of: services/client-account/**
  Documents Service: any of: services/documents/**
  Editorial Workflow Service: any of: services/editorial-workflow/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  Search Service Deploy: any of: services/search-service/**
  User Profile Deploy: any of: services/user-profile/**
  Client Account Deploy: any of: services/client-account/**
  Documents Deploy: any of: services/documents/**
  Editorial Workflow Deploy: any of: services/editorial-workflow/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**
  Taxonomy Service Deploy: any of: services/taxonomy-service/**
  Terraform Plan: any of: infrastructure-terraform/**
