Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, User Profile Service, Client Account Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, User Profile Deploy, Client Account Deploy, Frontend Build and Deploy

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  User Profile Service: any of: services/userProfile/**
  Client Account Service: any of: services/client-account/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  User Profile Deploy: any of: services/userProfile/**
  Client Account Deploy: any of: services/client-account/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**

DynamoDB table changed
  services/editorial-workflow/serverless.yml
  services/editorial-workflow/src/domain/config/index.ts
  services/editorial-workflow/src/repositories/EditorialRecordRepository.ts
Due: none

fix(inputs-buttons) design updates
  frontend/dods_pip/src/components/Button/Button.styles.tsx
  frontend/dods_pip/src/components/Button/index.tsx
  frontend/dods_pip/src/components/_form/InputBase/InputBase.styles.tsx
  frontend/dods_pip/src/components/_form/InputBase/InputBase.test.tsx
  frontend/dods_pip/src/components/_form/InputBase/index.tsx
  frontend/dods_pip/src/components/_form/InputText/index.tsx
  frontend/dods_pip/src/components/_form/Label/index.tsx
  frontend/dods_pip/src/components/_form/TextArea/TextArea.styles.tsx
  frontend/dods_pip/src/styles/globals.css
Due: Test build Frontend, Frontend Build and Deploy

dod-619 and dod-631
  infrastructure-terraform/environments/deployment/main.tf
  infrastructure-terraform/environments/deployment/services/migration/main.tf
  infrastructure-terraform/environments/deployment/services/migration/modules/s3/main.tf
  infrastructure-terraform/environments/deployment/services/migration/modules/s3/templates/bucket-policy.tpl
  infrastructure-terraform/environments/deployment/services/migration/modules/s3/variables.tf
  infrastructure-terraform/environments/deployment/services/migration/modules/sqs/main.tf
  infrastructure-terraform/environments/deployment/services/migration/modules/sqs/output.tf
  infrastructure-terraform/environments/deployment/services/migration/modules/sqs/variables.tf
  infrastructure-terraform/environments/deployment/services/migration/output.tf
  infrastructure-terraform/environments/deployment/services/migration/variables.tf
Due: none

SLS framework configuration for deploying to QA environment
  bitbucket-pipelines.yml
  boilerplate/serverless.yml
  services/client-account/serverless.yml
  services/editorial-workflow/serverless.yml
  services/user-profile/serverless.yml
Due: Client Account Service, Client Account Deploy

updated api specification
  api/EditorialWorkflow.yml
  services/editorial-workflow/src/openApi.yml
Due: Validate OpenAPI definitions

Improved config for multi-environment
  bitbucket-pipelines.yml
  services/apig.dev.yml
  services/apig.qa.yml
  services/client-account/serverless.yml
  services/editorial-workflow/serverless.yml
  services/user-profile/serverless.yml
Due: Client Account Service, Client Account Deploy

Fixed scope of serverless.yml config on editorial-workflow
  bitbucket-pipelines.yml
  services/editorial-workflow/serverless.yml
Due: none

Chasing error building editorial-workflow
  services/editorial-workflow/package-lock.json
  services/editorial-workflow/serverless.yml
Due: none

Touches on the pipeline
  bitbucket-pipelines.yml
Due: none

Provide authorization for S3 and Dynamo
  bitbucket-pipelines.yml
  services/editorial-workflow/serverless.yml
Due: none

Motions Northern Ireland scrapper code
  scrapping/motions-nir/.gitignore
  scrapping/motions-nir/README.md
  scrapping/motions-nir/config.ini
  scrapping/motions-nir/handler.py
  scrapping/motions-nir/lib
  scrapping/motions-nir/package-lock.json
  scrapping/motions-nir/package.json
  scrapping/motions-nir/requirements.txt
  scrapping/motions-nir/serverless.yml
  scrapping/motions-nir/templates
Due: Deploy Scrapping Lambdas

Minor fix
  scrapping/motions-wls/package-lock.json
  scrapping/motions-wls/package.json
  scrapping/motions-wls/serverless.yml
Due: Deploy Scrapping Lambdas

removed useEffect
  frontend/dods_pip/src/components/Popover/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

updated click test
  frontend/dods_pip/src/components/Popover/Popover.test.tsx
Due: Test build Frontend, Frontend Build and Deploy

updated component classname
  frontend/dods_pip/src/components/Tooltip/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

feat(input-text-upgrade): title field added
  frontend/dods_pip/src/components/_form/InputBase/InputBase.styles.tsx
  frontend/dods_pip/src/components/_form/InputBase/index.tsx
  frontend/dods_pip/src/components/_form/InputText/InputText.stories.tsx
  frontend/dods_pip/src/components/_form/InputText/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

Task: Refactor Api uris to use enum and base uri
  frontend/dods_pip/src/lib/useUser.tsx
  frontend/dods_pip/src/pages/dashboard.page.tsx
  frontend/dods_pip/src/pages/index.page.tsx
  frontend/dods_pip/src/pages/password-reset.page.tsx
  frontend/dods_pip/src/pages/reset-password.page.tsx
  frontend/dods_pip/src/utils/api.tsx
Due: Test build Frontend, Frontend Build and Deploy

searchUser lambda function is added
  dods-model/.gitignore
  dods-model/webpack.config.js
  services/user-profile/cucumber.js
  services/user-profile/jest.config.js
  services/user-profile/package-lock.json
  services/user-profile/package.json
  services/user-profile/serverless.yml
  services/user-profile/setEnvironmentVariablesForTest.js
  services/user-profile/src/db/sequelize.ts
  services/user-profile/src/domain/config/index.ts
  services/user-profile/src/domain/error/EventBridgeError.ts
  services/user-profile/src/domain/error/HttpError.ts
  services/user-profile/src/domain/error/index.ts
  services/user-profile/src/domain/http/HttpError.ts
  services/user-profile/src/domain/http/HttpResponse.ts
  services/user-profile/src/domain/http/HttpStatusCode.ts
  services/user-profile/src/domain/http/index.ts
  services/user-profile/src/domain/index.ts
  services/user-profile/src/domain/interfaces/UserProfilePersister.ts
  services/user-profile/src/handlers/searchUsers/index.ts
  services/user-profile/src/handlers/searchUsers/searchUsers.ts
  services/user-profile/src/openApi.yml
  services/user-profile/src/repositories/UserProfileRepository.ts
  services/user-profile/tests/integrationTests/features/greeting.feature
  services/user-profile/tests/integrationTests/helpers/setupMockServers.ts
  services/user-profile/tests/integrationTests/step-definitions/greetingSteps.ts
Due: none

DOD-337 - Complete debates wales extraction process
  scrapping/debates-wales/.gitignore
  scrapping/debates-wales/README.md
  scrapping/debates-wales/config.ini
  scrapping/debates-wales/handler.py
  scrapping/debates-wales/lib
  scrapping/debates-wales/package-lock.json
  scrapping/debates-wales/package.json
  scrapping/debates-wales/requirements.txt
  scrapping/debates-wales/serverless.yml
  scrapping/debates-wales/templates
Due: Deploy Scrapping Lambdas

Reverted building image for Frontend deployments
  bitbucket-pipelines.yml
Due: none

try to fix OpenAPI validator loop in pipeline
  bitbucket-pipelines.yml
Due: none

update client first step, open api added, unit test
  api/ClientAccount.yml
  services/client-account/package-lock.json
  services/client-account/serverless.yml
  services/client-account/src/domain/interfaces/ClientAccount.ts
  services/client-account/src/domain/interfaces/ClientAccountPersister.ts
  services/client-account/src/handlers/updateClientAccountHeader/index.ts
  services/client-account/src/handlers/updateClientAccountHeader/updateClientAccountHeader.ts
  services/client-account/src/openApi.yml
  services/client-account/src/repositories/ClientAccountRepository.ts
  services/client-account/tests/unitTests/handlers/updateClientAccountHeader.test.ts
  services/client-account/tests/unitTests/repositories/ClientAccountRepository.test.ts
Due: Client Account Service, Validate OpenAPI definitions, Client Account Deploy

openapi-generator oficial image has a weird way of running their tool
  bitbucket-pipelines.yml
Due: none

Bumped version mostly to trigger testing on pipeline
  api/ClientAccount.yml
Due: Validate OpenAPI definitions

Brought version back to run validation again
  api/ClientAccount.yml
Due: Validate OpenAPI definitions

fixed editorial workflow api
  api/EditorialWorkflow.yml
  services/editorial-workflow/src/openApi.yml
Due: Validate OpenAPI definitions

Added Container Repository and secret for ECR login
  infrastructure-terraform/environments/deployment/env_configs.tf
  infrastructure-terraform/environments/deployment/output.tf
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/main.tf
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/output.tf
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/templates/app.json.tpl
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/templates/fargate_app.json.tpl
  infrastructure-terraform/environments/deployment/services/pip-network/modules/fargate/variables.tf
  infrastructure-terraform/environments/deployment/services/pip-network/output.tf
  infrastructure-terraform/main.tf
  infrastructure-terraform/output.tf
  services/editorial-workflow/package-lock.json
  tools/ecs_deploy
Due: none

some fields of User model is updated to nullable
  dods-model/package.json
  dods-model/src/db/models/User.ts
Due: none

DOD-337 - Fix debates wales scrapping logic
  scrapping/debates-hoc-uk/handler.py
  scrapping/debates-hol-uk/handler.py
  scrapping/debates-nir/handler.py
  scrapping/debates-wales/handler.py
  scrapping/debates-wales/package-lock.json
  scrapping/debates-wales/package.json
  scrapping/debates-wales/serverless.yml
  scrapping/oral-questions-hoc-uk/handler.py
  scrapping/oral-questions-hol-uk/handler.py
  scrapping/writtenQuestions-hoc-uk/handler.py
  scrapping/writtenQuestions-hol-uk/handler.py
Due: Deploy Scrapping Lambdas

assosiations are ignored in test environment
  dods-model/package.json
  dods-model/src/db/index.ts
Due: none

DOD-337 - Fix deployment pipeline
  scrapping/debates-nir/serverless.yml
  scrapping/debates-wales/serverless.yml
Due: Deploy Scrapping Lambdas

dod-663: unit tests are added for searchUser
  services/user-profile/package-lock.json
  services/user-profile/package.json
  services/user-profile/src/domain/interfaces/UserProfilePersisterV2.ts
  services/user-profile/src/handlers/searchUsers/searchUsers.ts
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
  services/user-profile/src/repositories/index.ts
  services/user-profile/tests/unitTests/handlers/searchUsers.test.ts
  services/user-profile/tests/unitTests/repositories/UserProfileRepositoryV2.test.ts
Due: none

removed unused type
  frontend/dods_pip/src/components/Popover/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

added type left and inner-body div
  frontend/dods_pip/src/components/Tooltip/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

added left align styles
  frontend/dods_pip/src/components/Popover/Popover.styles.tsx
  frontend/dods_pip/src/components/Tooltip/Tooltip.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

Merged in feature/DOD-539-client-account-integration (pull request #155)
  frontend/dods_pip/src/hoc/LoadingHOC/index.tsx
  frontend/dods_pip/src/lib/fetchJson.tsx
  frontend/dods_pip/src/pages/account-management/add-client/account-info.test.tsx
  frontend/dods_pip/src/pages/account-management/add-client/account-info.tsx
  frontend/dods_pip/src/pages/account-management/add-client/index.page.tsx
  frontend/dods_pip/src/pages/account-management/add-client/subscription.tsx
  frontend/dods_pip/src/pages/account-management/add-client/team.tsx
  frontend/dods_pip/src/pages/api/clientaccount/[uuid].page.tsx
Due: Test build Frontend, Frontend Build and Deploy

Merged in bugfix/DOD-478-button-pointer-events (pull request #168)
  frontend/dods_pip/src/components/Button/Button.styles.tsx
  frontend/dods_pip/src/components/Button/Button.test.tsx
Due: Test build Frontend, Frontend Build and Deploy

removed unnecessary margins
  frontend/dods_pip/src/components/Popover/Popover.styles.tsx
  frontend/dods_pip/src/components/Tooltip/Tooltip.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

searchUser response id field renamed as uuid in user-profile
  services/user-profile/src/repositories/UserProfileRepositoryV2.ts
Due: none
