Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, Deploy Pandas Layer, Test Search Service, User Profile Service, Client Account Service, Documents Service, Editorial Workflow Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, Search Service Deploy, User Profile Deploy, Client Account Deploy, Documents Deploy, Editorial Workflow Deploy, Frontend Build and Deploy, Taxonomy Service Deploy, Terraform Plan

Test build Frontend:
  image: node:lts-alpine3.14
  size: 2x
  services:
  - docker
  caches:
  - docker
  script:
  - export IMAGE_NAME=${AWS_ECR_NAME}/${FRONTEND_IMAGE}:${BITBUCKET_COMMIT}
  - cd ${FRONTEND_SRC}
  - yarn install
  - yarn test
  - yarn lint
  - docker build -t ${IMAGE_NAME} .

Deploy Graphologi Webhook:
  image: gioatsomoglobal/devopstools:0.4.2
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - cd services/graphologi-integration
  - npm install
  - serverless deploy

Deploy Pandas Layer:
  image: gioatsomoglobal/devopstools:0.4.2
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - cd services/pandas-layer
  - npm install
  - cd layers/pandas
  - ./build_layer.sh
  - cd ../..
  - serverless deploy --stage dev

Test Search Service:
  image: gioatsomoglobal/nodejs-builder:0.2
  caches:
  - node
  script:
  - cd services/search-service
  - npm install
  - export SERVERLESS_PORT=3000
  - SERVERLESS_STAGE=dev npm run test:coverage

User Profile Service:
  image: gioatsomoglobal/devopstools:0.4.3
  caches:
  - node
  script:
  - cd services/user-profile
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test:coverage

Client Account Service:
  image: gioatsomoglobal/nodejs-builder:0.2
  caches:
  - node
  script:
  - cd services/client-account
  - npm install
  - SERVERLESS_STAGE=dev npm run test:coverage

Documents Service:
  image: gioatsomoglobal/nodejs-builder:0.2
  caches:
  - node
  script:
  - cd services/documents
  - npm install
  - SERVERLESS_STAGE=dev npm run test:coverage

Editorial Workflow Service:
  image: gioatsomoglobal/nodejs-builder:0.2
  caches:
  - node
  script:
  - cd services/editorial-workflow
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - npm run test

Validate OpenAPI definitions:
  image: openapitools/openapi-generator-cli:v5.2.1
  script:
  - cd api
  - for i in *.yml; do docker-entrypoint.sh validate -i $i; done

Deploy Scrapping Lambdas:
  image: gioatsomoglobal/devopstools:0.4.2
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - cd scrapping
  - npm install
  - ./scrapping_deploy.sh

Auth-Authz Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/dods-iam
  - npm install
  - NODE_ENV=test npm run test:coverage
  - npx serverless deploy --stage dev

Search Service Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/search-service
  - npm install
  - export SERVERLESS_STAGE=dev
  - export SERVERLESS_PORT=3000
  - npm run test:coverage
  - npx serverless deploy --stage dev

User Profile Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/user-profile
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - npx serverless deploy --stage dev

Solved merge conflicts
  services/dods-iam/serverless.yml
Due: Auth-Authz Deploy

Provided SendGrid API Key from SSM parameter store
  services/email-service/README.md
  services/email-service/serverless.yml
Due: none

Restored eliminated but required variable
  services/dods-iam/serverless.yml
Due: Auth-Authz Deploy

Test 'scrapping' dependency mgmt
  scrapping/motions-edm-uk/.ci/dependencies.txt
  tools/projects.txt
Due: Deploy Scrapping Lambdas

Simulate change to scrapping/templates
  scrapping/templates/.noop
Due: Deploy Scrapping Lambdas

styles for heading and info, and formatting date
  frontend/dods_pip/src/pages/library/document/[id].page.tsx
  frontend/dods_pip/src/pages/library/index.page.tsx
  frontend/dods_pip/src/pages/library/library.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

Without tests
  services/schedule/serverless.yml
  services/schedule/src/domain/interfaces/index.ts
  services/schedule/src/handlers/getSchedule/getSchedule.ts
  services/schedule/src/handlers/getSchedule/index.ts
  services/schedule/src/openApi.yml
  services/schedule/src/repositories/Schedule.ts
  services/schedule/src/repositories/ScheduleRpository.ts
Due: none

adding document icon
  frontend/dods_pip/src/components/Icon/assets/icon-document.svg
  frontend/dods_pip/src/components/Icon/assets/index.tsx
  frontend/dods_pip/src/pages/library/document/[id].page.tsx
  frontend/dods_pip/src/pages/library/library.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

DOD-1218: elasticsearch mock issue is fixed.
  services/schedule/package-lock.json
  services/schedule/package.json
  services/schedule/serverless.yml
  services/schedule/src/domain/config/index.ts
  services/schedule/src/elasticsearch/index.ts
  services/schedule/tests/unitTests/handlers/createSchedule.test.ts
  services/schedule/tests/unitTests/repositories/ScheduleRepository.test.ts
Due: none

added stories for IconContentSource
  frontend/dods_pip/src/components/IconContentSource/IconContentSource.stories.tsx
  frontend/dods_pip/src/components/IconContentSource/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

splitting header into seperate component
  frontend/dods_pip/src/pages/library/document/[id].page.tsx
  frontend/dods_pip/src/pages/library/document/header.styles.tsx
  frontend/dods_pip/src/pages/library/document/header.tsx
  frontend/dods_pip/src/pages/library/library.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

adding edit link
  frontend/dods_pip/src/pages/library/document/[id].page.tsx
  frontend/dods_pip/src/pages/library/document/header.styles.tsx
  frontend/dods_pip/src/pages/library/document/header.tsx
Due: Test build Frontend, Frontend Build and Deploy

adding color to h1
  frontend/dods_pip/src/pages/library/document/header.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

fixed spacing issue on header > sections
  frontend/dods_pip/src/pages/library/document/header.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

Some TODO notes in line
  scrapping/hansard-api/hansard.py
Due: Deploy Scrapping Lambdas

Implement the dynamodb datamodel side, with dedupe checks, local filesystem
  scrapping/hansard-api/.gitignore
  scrapping/hansard-api/Pipfile
  scrapping/hansard-api/Pipfile.lock
  scrapping/hansard-api/README.md
  scrapping/hansard-api/config.ini
  scrapping/hansard-api/docker-compose.yml
  scrapping/hansard-api/docker/dynamodb/shared-local-instance.db
  scrapping/hansard-api/handler.py
  scrapping/hansard-api/hansard.py
  scrapping/hansard-api/lib
  scrapping/hansard-api/package-lock.json
  scrapping/hansard-api/package.json
  scrapping/hansard-api/requirements.txt
  scrapping/hansard-api/serverless.yml
  scrapping/hansard-api/templates
Due: Deploy Scrapping Lambdas

Scaffold handler
  scrapping/hansard-api/handler.py
Due: Deploy Scrapping Lambdas

WIP on hansard API consumer
  scrapping/hansard-api/Pipfile
  scrapping/hansard-api/Pipfile.lock
  scrapping/hansard-api/hansard.py
Due: Deploy Scrapping Lambdas

Few tweaks whilst on call
  scrapping/hansard-api/.gitignore
  scrapping/hansard-api/handler.py
  scrapping/hansard-api/hansard.py
Due: Deploy Scrapping Lambdas

Update data models
  scrapping/hansard-api/.gitignore
  scrapping/hansard-api/docker/dynamodb/shared-local-instance.db
  scrapping/hansard-api/hansard.py
Due: Deploy Scrapping Lambdas

More error handling, extract originator for written statement
  scrapping/hansard-api/hansard.py
Due: Deploy Scrapping Lambdas

Drop debug
  scrapping/hansard-api/hansard.py
Due: Deploy Scrapping Lambdas

feat(DOD-735): Collections Home (User)
  frontend/dods_pip/src/components/Button/Button.styles.tsx
  frontend/dods_pip/src/components/DataTable/DataTable.styles.tsx
  frontend/dods_pip/src/components/DataTable/index.tsx
  frontend/dods_pip/src/components/Pagination/Pagination.styles.tsx
  frontend/dods_pip/src/components/Pagination/index.tsx
  frontend/dods_pip/src/lib/fetchJson.tsx
  frontend/dods_pip/src/pages/account-management/accounts.test.tsx
  frontend/dods_pip/src/pages/api/collections/[...uuid].page.tsx
  frontend/dods_pip/src/pages/collections/[uuid].page.tsx
  frontend/dods_pip/src/pages/collections/collections-admin.tsx
  frontend/dods_pip/src/pages/collections/collections-user.tsx
  frontend/dods_pip/src/pages/collections/collections.styles.tsx
  frontend/dods_pip/src/pages/collections/index.page.tsx
  frontend/dods_pip/src/utils/api.tsx
Due: Test build Frontend, Frontend Build and Deploy

removing moment.js
  frontend/dods_pip/package.json
  frontend/dods_pip/src/pages/library/document/[id].page.tsx
  frontend/dods_pip/src/pages/library/index.page.tsx
  frontend/dods_pip/yarn.lock
Due: Test build Frontend, Frontend Build and Deploy

replacing h1 with Text component
  frontend/dods_pip/src/pages/library/document/header.styles.tsx
  frontend/dods_pip/src/pages/library/document/header.tsx
Due: Test build Frontend, Frontend Build and Deploy

Updating key in IconContentSource mapping
  frontend/dods_pip/src/components/IconContentSource/assets/index.tsx
Due: Test build Frontend, Frontend Build and Deploy

moving api call to getServerSideProps
  frontend/dods_pip/src/pages/library/document/[id].page.tsx
Due: Test build Frontend, Frontend Build and Deploy

little refactor
  frontend/dods_pip/src/pages/library/document/[id].page.tsx
Due: Test build Frontend, Frontend Build and Deploy

progress
  npm-packages/dods-repositories/src/CollectionAlertsRepository/index.ts
  services/collections/serverless.yml
  services/collections/src/domain/interfaces/Collection.ts
  services/collections/src/handlers/setAlertSchedule/index.ts
  services/collections/src/handlers/setAlertSchedule/request.http
  services/collections/src/handlers/setAlertSchedule/setAlertSchedule.ts
  services/collections/src/repositories/CollectionRepository.ts
Due: none

set Alert Schedule step 3 complete, UT and OpenApi
  npm-packages/dods-repositories/package-lock.json
  npm-packages/dods-repositories/package.json
  npm-packages/dods-repositories/src/CollectionAlertsRepository/domain.ts
  npm-packages/dods-repositories/src/CollectionAlertsRepository/index.ts
  services/collections/package-lock.json
  services/collections/package.json
  services/collections/src/domain/interfaces/Collection.ts
  services/collections/src/handlers/setAlertSchedule/setAlertSchedule.ts
  services/collections/src/openApi.yml
  services/collections/src/repositories/CollectionRepository.ts
  services/collections/tests/unitTests/handlers/setAlertSchedule.test.ts
Due: none

DOD-1264 Resolve conflicts
  services/schedule/package-lock.json
  services/schedule/package.json
  services/schedule/serverless.yml
  services/schedule/src/domain/interfaces/index.ts
  services/schedule/src/handlers/deleteSchedule/deleteSchedule.ts
  services/schedule/src/handlers/deleteSchedule/index.ts
  services/schedule/src/openApi.yml
  services/schedule/src/repositories/Schedule.ts
  services/schedule/src/repositories/ScheduleRpository.ts
Due: none

DOD-1264 Fix uncommited files
  services/schedule/src/handlers/deleteSchedule/request.http
  services/schedule/src/handlers/updateSchedule/request.http
  services/schedule/tests/integrationTests/helpers/setupAndLoadMockServers.ts
  services/schedule/tests/integrationTests/helpers/setupMockServers.ts
  services/schedule/tests/integrationTests/step-definitions/commonSteps.ts
  services/schedule/tests/integrationTests/step-definitions/greetingSteps.ts
Due: none

DOD-1264 Fix openapi validation and header context issue
  services/schedule/src/handlers/deleteSchedule/deleteSchedule.ts
  services/schedule/src/handlers/deleteSchedule/index.ts
  services/schedule/src/handlers/updateSchedule/index.ts
  services/schedule/src/handlers/updateSchedule/updateSchedule.ts
  services/schedule/src/openApi.yml
  services/schedule/src/repositories/Schedule.ts
  services/schedule/src/repositories/ScheduleRpository.ts
Due: none

DOD-1265 Complete update schedule endpoint
  services/schedule/serverless.yml
  services/schedule/src/domain/interfaces/index.ts
  services/schedule/src/handlers/updateSchedule/index.ts
  services/schedule/src/handlers/updateSchedule/updateSchedule.ts
  services/schedule/src/openApi.yml
  services/schedule/src/repositories/Schedule.ts
  services/schedule/src/repositories/ScheduleRpository.ts
Due: none

DOD-1264 Fix no mendetory string format as uuid for id parameter
  services/schedule/src/openApi.yml
Due: none

fix: content tagging
  frontend/dods_pip/src/components/ContentTagger/index.tsx
  frontend/dods_pip/src/components/WysiwygEditor/blots/content-tag.ts
  frontend/dods_pip/src/components/WysiwygEditor/index.tsx
  frontend/dods_pip/src/components/WysiwygEditor/wysiwyg-editor.styles.tsx
  frontend/dods_pip/src/pages/editorial/article/[[...articleId]]/editorial-form.tsx
Due: Test build Frontend, Frontend Build and Deploy

Changed request http and extra seed alert template
  npm-packages/dods-model/src/db/seeders/20220111000007-seed-alert-templates.ts
  npm-packages/dods-repositories/package-lock.json
  services/collections/src/handlers/setAlertSchedule/request.http
Due: none

added tabs and basic layout styles
  frontend/dods_pip/src/components/Text/Text.styles.tsx
  frontend/dods_pip/src/pages/library/document/[id].page.tsx
  frontend/dods_pip/src/pages/library/document/header.styles.tsx
  frontend/dods_pip/src/pages/library/document/header.tsx
Due: Test build Frontend, Frontend Build and Deploy

adding responsive styles
  frontend/dods_pip/src/pages/library/document/[id].page.tsx
  frontend/dods_pip/src/pages/library/document/header.styles.tsx
  frontend/dods_pip/src/pages/library/document/header.tsx
Due: Test build Frontend, Frontend Build and Deploy

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  Deploy Pandas Layer: any of: services/pandas-layer/**
  Test Search Service: any of: services/search-service/**
  User Profile Service: any of: services/user-profile/**
  Client Account Service: any of: services/client-account/**
  Documents Service: any of: services/documents/**
  Editorial Workflow Service: any of: services/editorial-workflow/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  Search Service Deploy: any of: services/search-service/**
  User Profile Deploy: any of: services/user-profile/**
  Client Account Deploy: any of: services/client-account/**
  Documents Deploy: any of: services/documents/**
  Editorial Workflow Deploy: any of: services/editorial-workflow/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**
  Taxonomy Service Deploy: any of: services/taxonomy-service/**
  Terraform Plan: any of: infrastructure-terraform/**
