Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, Deploy Pandas Layer, User Profile Service, Client Account Service, Editorial Workflow Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, User Profile Deploy, Client Account Deploy, Documents Deploy, Editorial Workflow Deploy, Frontend Build and Deploy, Taxonomy Service Deploy, Terraform Plan

Test build Frontend:
  image: node:lts-alpine3.14
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - export IMAGE_NAME=${AWS_ECR_NAME}/${FRONTEND_IMAGE}:${BITBUCKET_COMMIT}
  - cd ${FRONTEND_SRC}
  - yarn install
  - yarn test
  - yarn lint
  - docker build -t ${IMAGE_NAME} .

Deploy Graphologi Webhook:
  image: gioatsomoglobal/devopstools:0.4.2
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - cd services/graphologi-integration
  - npm install
  - serverless deploy

Deploy Pandas Layer:
  image: gioatsomoglobal/devopstools:0.4.2
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - cd services/pandas-layer
  - npm install
  - cd layers/pandas
  - ./build_layer.sh
  - cd ../..
  - serverless deploy --stage dev

User Profile Service:
  image: gioatsomoglobal/devopstools:0.4.3
  caches:
  - node
  script:
  - cd services/user-profile
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test:coverage

Client Account Service:
  image: gioatsomoglobal/nodejs-builder:0.2
  caches:
  - node
  script:
  - cd services/client-account
  - npm install
  - SERVERLESS_STAGE=dev npm run test:coverage

Editorial Workflow Service:
  image: gioatsomoglobal/nodejs-builder:0.2
  caches:
  - node
  script:
  - cd services/editorial-workflow
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - npm run test

Validate OpenAPI definitions:
  image: openapitools/openapi-generator-cli:v5.2.1
  script:
  - cd api
  - for i in *.yml; do docker-entrypoint.sh validate -i $i; done

Deploy Scrapping Lambdas:
  image: gioatsomoglobal/devopstools:0.4.2
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - cd scrapping
  - npm install
  - ./scrapping_deploy.sh

Auth-Authz Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/dods-iam
  - npm install
  - NODE_ENV=test npm run test:coverage
  - npx serverless deploy --stage dev

User Profile Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/user-profile
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - npx serverless deploy --stage dev

Client Account Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/client-account
  - npm install
  - export SERVERLESS_STAGE=dev
  - npm run test:coverage
  - npx serverless deploy --stage dev

Documents Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/documents
  - npm install
  - export SERVERLESS_STAGE=dev
  - npx serverless deploy --stage dev

Editorial Workflow Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/editorial-workflow
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - npm run test
  - npx serverless deploy --stage dev

.npmrc edited online with Bitbucket
  services/taxonomy-service/.npmrc
Due: Taxonomy Service Deploy

create sqs queue for list-content-items migration stage 3
  infrastructure-terraform/environments/deployment/services/migration/main.tf
Due: Terraform Plan

.keyword
  frontend/dods_pip/src/pages/library/index.page.tsx
  services/user-profile/yarn.lock
  yarn.lock
Due: Test build Frontend, User Profile Service, User Profile Deploy, Frontend Build and Deploy

bitbucket-pipelines.yml edited online with Bitbucket
  bitbucket-pipelines.yml
Due: none

delete increment subscription seats
  services/client-account/src/handlers/removeTeamMember/removeTeamMember.ts
Due: Client Account Service, Client Account Deploy

feat(DOD-587): add highlight support
  frontend/dods_pip/src/pages/tagger.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

fix: get document by arn
  services/documents/.prettierrc
  services/documents/jest.config.js
  services/documents/package-lock.json
  services/documents/package.json
  services/documents/serverless.yml
  services/documents/setEnvironmentVariablesForTest.js
  services/documents/src/domain/interfaces/DocumentStoragePersister.ts
  services/documents/src/domain/interfaces/index.ts
  services/documents/src/handlers/getDocument/getDocument.ts
  services/documents/src/handlers/getDocument/index.ts
  services/documents/src/handlers/updateDocument/updateDocument.ts
  services/documents/src/openApi.yml
  services/documents/src/repositories/DocumentStorageRepository.ts
  services/documents/src/repositories/Greeting.ts
  services/documents/src/repositories/GreetingRepository.ts
  services/documents/src/repositories/index.ts
  services/documents/tests/unitTests/handlers/getDocument.test.ts
  services/documents/tests/unitTests/handlers/getFullName.test.ts
  services/documents/tests/unitTests/handlers/sayEnglishHello.test.ts
  services/documents/tests/unitTests/handlers/sayHello.test.ts
  services/documents/tests/unitTests/handlers/sayTurkishHello.test.ts
  services/documents/tests/unitTests/repositories/GreetingRepository.test.ts
  services/documents/tsconfig.json
Due: Documents Deploy

Fixed order of 'deployments' on pipeline
  bitbucket-pipelines.yml
Due: none

Catched another instance of 'deployment' in the wrong place
  bitbucket-pipelines.yml
Due: none

Remove extra 'deployment' to dev
  bitbucket-pipelines.yml
Due: none

Another fix for 'deployment' ordering
  bitbucket-pipelines.yml
Due: none

Noop to trigger tests on documents-service
  services/documents/.noop
Due: Documents Deploy

DOD-618 Complete convert taxonomy object on stage2
  scrapping/contentMigration/stage2/__init__.py
  scrapping/contentMigration/stage2/handler.py
  scrapping/contentMigration/stage2/requirements.txt
  scrapping/contentMigration/stage2/taxonomy_processor.py
Due: Deploy Scrapping Lambdas

Added migrations to create collections tables. Pending to create models and seeding.
  dods-model/src/db/migrations/20211222000000-create-collections.ts
  dods-model/src/db/migrations/20211222000001-create-collections_saved_queries.ts
  dods-model/src/db/migrations/20211222000002-create-collections-documents.ts
  dods-model/src/db/migrations/20211222000003-create-collections_alert_templates.ts
  dods-model/src/db/migrations/20211222000004-create-collections_alerts.ts
  dods-model/src/db/migrations/20211222000006-create-collections_alerts_queries.ts
  dods-model/src/db/migrations/20211222000007-create-collections_alerts_recipients.ts
  dods-model/src/db/migrations/20211222000008-create-collections_alerts_documents.ts
Due: none

Bugfix
  services/taxonomy-service/src/handlers/taxonomies/getTaxonomies.ts
Due: Taxonomy Service Deploy

dod-1262: createEditorialRecord is updated.
  dods-lambda/src/validation/GenericOpenApiValidator.ts
  dods-model/package-lock.json
  dods-model/package.json
  dods-model/src/db/migrations/20211012000014-alter-dods_users.ts
  dods-model/src/db/migrations/20211012000015-create-dods_client_accounts.ts
  dods-model/src/db/migrations/20211012000016-alter-dods_users.ts
  dods-model/src/db/migrations/20211012000018-alter-dods_editorial_record.ts
  services/editorial-workflow/package-lock.json
  services/editorial-workflow/package.json
  services/editorial-workflow/serverless.yml
  services/editorial-workflow/src/domain/config/index.ts
  services/editorial-workflow/src/domain/interfaces/EditorialRecord.ts
  services/editorial-workflow/src/handlers/createEditorialRecord/createEditorialRecord.ts
  services/editorial-workflow/src/handlers/createEditorialRecord/index.ts
  services/editorial-workflow/src/handlers/createEditorialRecord/request.http
  services/editorial-workflow/src/openApi.yml
  services/editorial-workflow/tests/unitTests/handlers/createEditorialRecord.test.ts
Due: Editorial Workflow Service, Editorial Workflow Deploy

loading screen keyword search
  frontend/dods_pip/src/components/_form/InputBase/index.tsx
  frontend/dods_pip/src/components/_form/InputSearch/index.tsx
  frontend/dods_pip/src/pages/library/index.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

dod-1262: dods-lambda npm package is deployed and used by editorial repo
  dods-lambda/package-lock.json
  dods-lambda/package.json
  services/editorial-workflow/package-lock.json
  services/editorial-workflow/package.json
Due: Editorial Workflow Service, Editorial Workflow Deploy

typscript fixes
  frontend/dods_pip/src/components/_form/InputBase/index.tsx
  frontend/dods_pip/src/pages/library/index.page.tsx
Due: Test build Frontend, Frontend Build and Deploy

Fix deployment definition for Frontend
  bitbucket-pipelines.yml
Due: none

Run fixed pipeline for frontend
  frontend/dods_pip/.noop
Due: Test build Frontend, Frontend Build and Deploy

Update Document in service, receive arn and over write
  services/documents/serverless.yml
  services/documents/src/handlers/updateDocument/index.ts
  services/documents/src/handlers/updateDocument/updateDocument.ts
  services/documents/src/openApi.yml
  services/documents/src/repositories/DocumentStorageRepository.ts
  services/documents/tests/unitTests/handlers/updateDocument.test.ts
Due: Documents Deploy

pagination
  frontend/dods_pip/src/pages/library/index.page.tsx
  frontend/dods_pip/src/pages/library/library.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

open Api request body change
  services/documents/src/openApi.yml
  services/documents/src/repositories/DocumentStorageRepository.ts
Due: Documents Deploy

dod-1274: boilerplate dods-lambda version is updated to 1.3.7
  services/boilerplate/package-lock.json
  services/boilerplate/package.json
  services/boilerplate/src/handlers/getFullName/request.http
  services/boilerplate/src/handlers/health/request.http
Due: none

dod-1262: dods-lambda header name validation is refactored.
  dods-lambda/package-lock.json
  dods-lambda/package.json
  dods-lambda/src/validation/awsOpenApiRequestAdapter.ts
Due: none

dod-1262: header name is converted to lowercase in dods-lambda
  dods-lambda/src/validation/awsOpenApiRequestAdapter.ts
Due: none

dod-1262: dods-lambda package verion is updated to 1.3.9
  dods-lambda/package-lock.json
  dods-lambda/package.json
Due: none

dod-1274: dods-lambda version is updated and http requests are added.
  services/boilerplate/package-lock.json
  services/boilerplate/package.json
  services/boilerplate/src/handlers/sayEnglishHello/request.http
  services/boilerplate/src/handlers/sayHello/request.http
  services/boilerplate/src/handlers/sayTurkishHello/request.http
Due: none

feat(DOD-592): adds content editor ui
  frontend/dods_pip/babel.config.js
  frontend/dods_pip/src/components/ContentTagger/index.tsx
  frontend/dods_pip/src/components/StatusBar/StatusBar.test.tsx
  frontend/dods_pip/src/components/StatusBar/index.tsx
  frontend/dods_pip/src/components/StickyEffect/StickyEffect.stories.tsx
  frontend/dods_pip/src/components/StickyEffect/StickyEffect.styles.tsx
  frontend/dods_pip/src/components/StickyEffect/StickyEffect.test.tsx
  frontend/dods_pip/src/components/StickyEffect/index.tsx
  frontend/dods_pip/src/components/TeleportOnScroll/TeleportOnScroll.stories.tsx
  frontend/dods_pip/src/components/TeleportOnScroll/TeleportOnScroll.styles.tsx
  frontend/dods_pip/src/components/TeleportOnScroll/TeleportOnScroll.test.tsx
  frontend/dods_pip/src/components/TeleportOnScroll/index.tsx
  frontend/dods_pip/src/pages/editorial/[id]/index.page.test.tsx
  frontend/dods_pip/src/pages/editorial/[id]/index.page.tsx
  frontend/dods_pip/src/pages/editorial/editorial-form.tsx
  frontend/dods_pip/src/pages/editorial/editorial-from.styles.tsx
  frontend/dods_pip/src/pages/editorial/index.page.styles.tsx
  frontend/dods_pip/src/pages/editorial/index.page.test.tsx
  frontend/dods_pip/src/pages/editorial/index.page.tsx
  frontend/dods_pip/src/pages/editorial/new/index.page.test.tsx
  frontend/dods_pip/src/pages/editorial/new/index.page.tsx
  frontend/dods_pip/src/pages/index.page.tsx
  frontend/dods_pip/src/pages/index.test.tsx
  package.json
  yarn.lock
Due: Test build Frontend, Frontend Build and Deploy

Add IAM roles for serverless warmup plugin
  services/taxonomy-service/serverless.yml
Due: Taxonomy Service Deploy

Fixed IAM role name legth for warmer
  services/taxonomy-service/serverless.yml
Due: Taxonomy Service Deploy

DOD-618 Add dotenv support
  scrapping/contentMigration/stage2/package-lock.json
  scrapping/contentMigration/stage2/package.json
  scrapping/contentMigration/stage2/serverless.yml
Due: Deploy Scrapping Lambdas

DOD-1278 Complete preparing aggs_fields content for aggregations
  services/elasticsearch-manager/content_indexer.py
  services/elasticsearch-manager/models/content/mappings.json
Due: none

DOD-1278 Complete loading aggs_fields content for aggregations
  services/elasticsearch-manager/content_indexer.py
Due: none

Added models for collections/alerts.
  dods-model/src/db/migrations/20211222000003-create-collections_alert_templates.ts
  dods-model/src/db/migrations/20211222000007-create-collections_alerts_recipients.ts
  dods-model/src/db/models/Alert.ts
  dods-model/src/db/models/AlertDocument.ts
  dods-model/src/db/models/AlertQuery.ts
  dods-model/src/db/models/AlertRecipient.ts
  dods-model/src/db/models/AlertTemplate.ts
  dods-model/src/db/models/Collection.ts
  dods-model/src/db/models/CollectionDocument.ts
  dods-model/src/db/models/SavedQuery.ts
Due: none

DOD-618 Fixed some case regarding pr comments
  scrapping/contentMigration/stage2/taxonomy_processor.py
Due: Deploy Scrapping Lambdas

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  Deploy Pandas Layer: any of: services/pandas-layer/**
  User Profile Service: any of: services/user-profile/**
  Client Account Service: any of: services/client-account/**
  Editorial Workflow Service: any of: services/editorial-workflow/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  User Profile Deploy: any of: services/user-profile/**
  Client Account Deploy: any of: services/client-account/**
  Documents Deploy: any of: services/documents/**
  Editorial Workflow Deploy: any of: services/editorial-workflow/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**
  Taxonomy Service Deploy: any of: services/taxonomy-service/**
  Terraform Plan: any of: infrastructure-terraform/**
