Repository sensationmm/Dods-PIP: changes, and which Bitbucket steps are due for each by the changed paths.
All: Test build Frontend, Deploy Graphologi Webhook, Deploy Pandas Layer, Test Search Service, User Profile Service, Client Account Service, Documents Service, Editorial Workflow Service, Validate OpenAPI definitions, Deploy Scrapping Lambdas, Auth-Authz Deploy, Search Service Deploy, User Profile Deploy, Client Account Deploy, Documents Deploy, Editorial Workflow Deploy, Frontend Build and Deploy, Taxonomy Service Deploy, Terraform Plan

Test build Frontend:
  image: node:lts-alpine3.14
  size: 2x
  services:
  - docker
  caches:
  - docker
  script:
  - export IMAGE_NAME=${AWS_ECR_NAME}/${FRONTEND_IMAGE}:${BITBUCKET_COMMIT}
  - cd ${FRONTEND_SRC}
  - yarn install
  - yarn test
  - yarn lint
  - docker build -t ${IMAGE_NAME} .

Deploy Graphologi Webhook:
  image: gioatsomoglobal/devopstools:0.4.2
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - cd services/graphologi-integration
  - npm install
  - serverless deploy

Deploy Pandas Layer:
  image: gioatsomoglobal/devopstools:0.4.2
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - cd services/pandas-layer
  - npm install
  - cd layers/pandas
  - ./build_layer.sh
  - cd ../..
  - serverless deploy --stage dev

Test Search Service:
  image: gioatsomoglobal/nodejs-builder:0.2
  caches:
  - node
  script:
  - cd services/search-service
  - npm install
  - export SERVERLESS_PORT=3000
  - SERVERLESS_STAGE=dev npm run test:coverage

User Profile Service:
  image: gioatsomoglobal/devopstools:0.4.3
  caches:
  - node
  script:
  - cd services/user-profile
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - NODE_ENV=test npm run test:coverage

Client Account Service:
  image: gioatsomoglobal/nodejs-builder:0.2
  caches:
  - node
  script:
  - cd services/client-account
  - npm install
  - SERVERLESS_STAGE=dev npm run test:coverage

Documents Service:
  image: gioatsomoglobal/nodejs-builder:0.2
  caches:
  - node
  script:
  - cd services/documents
  - npm install
  - SERVERLESS_STAGE=dev npm run test:coverage

Editorial Workflow Service:
  image: gioatsomoglobal/nodejs-builder:0.2
  caches:
  - node
  script:
  - cd services/editorial-workflow
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - npm run test

Validate OpenAPI definitions:
  image: openapitools/openapi-generator-cli:v5.2.1
  script:
  - cd api
  - for i in *.yml; do docker-entrypoint.sh validate -i $i; done

Deploy Scrapping Lambdas:
  image: gioatsomoglobal/devopstools:0.4.2
  size: 2x
  services:
  - docker
  caches:
  - node
  script:
  - cd scrapping
  - npm install
  - ./scrapping_deploy.sh

Auth-Authz Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/dods-iam
  - npm install
  - NODE_ENV=test npm run test:coverage
  - npx serverless deploy --stage dev

Search Service Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/search-service
  - npm install
  - export SERVERLESS_STAGE=dev
  - export SERVERLESS_PORT=3000
  - npm run test:coverage
  - npx serverless deploy --stage dev

User Profile Deploy:
  size: 2x
  image: gioatsomoglobal/devopstools:0.4.5
  script:
  - cd services/user-profile
  - npm install
  - SERVERLESS_STAGE=dev ./setenv.sh
  - source *.env
  - npx serverless deploy --stage dev

WIP multi-env build for backend services
  bitbucket-pipelines.yml
Due: none

WIP multi-env build for backend services
  services/auto-tagging/.ci/build.sh
Due: none

not return s3location boolean on arch and pub, correct openApi, UT
  services/editorial-workflow/src/handlers/createEditorialRecord/createEditorialRecord.ts
  services/editorial-workflow/src/openApi.yml
  services/editorial-workflow/src/repositories/EditorialRecordRepository.ts
  services/editorial-workflow/tests/unitTests/handlers/createEditorialRecord.test.ts
  services/editorial-workflow/tests/unitTests/repositories/editorialRecordRepository.test.ts
Due: Editorial Workflow Service, Editorial Workflow Deploy

WIP Modified file condition for custom build scripts
  bitbucket-pipelines.yml
Due: none

WIP Modified file condition for custom build scripts
  services/auto-tagging/.ci/build.sh
Due: none

feat(DOD-1261): adds content tagging
  frontend/dods_pip/.storybook/main.js
  frontend/dods_pip/README.md
  frontend/dods_pip/next.config.js
  frontend/dods_pip/package.json
  frontend/dods_pip/src/components/ContentTagger/ContentTagger.styles.tsx
  frontend/dods_pip/src/components/ContentTagger/ContentTagger.test.tsx
  frontend/dods_pip/src/components/WysiwygEditor/README.md
  frontend/dods_pip/src/components/WysiwygEditor/blots/align.ts
  frontend/dods_pip/src/components/WysiwygEditor/blots/bold.ts
  frontend/dods_pip/src/components/WysiwygEditor/blots/content-tag.ts
  frontend/dods_pip/src/components/WysiwygEditor/blots/font-style.ts
  frontend/dods_pip/src/components/WysiwygEditor/blots/italic.ts
  frontend/dods_pip/src/components/WysiwygEditor/index.tsx
  frontend/dods_pip/src/components/WysiwygEditor/wysiwyg-editor.stories.tsx
  frontend/dods_pip/src/components/WysiwygEditor/wysiwyg-editor.test.tsx
  frontend/dods_pip/src/pages/editorial/article/[[...articleId]]/editorial-form.tsx
  frontend/dods_pip/src/pages/editorial/article/[[...articleId]]/index.page.tsx
  frontend/dods_pip/src/pages/editorial/editorial.models.ts
  frontend/dods_pip/src/pages/editorial/editorial.service.tsx
  frontend/dods_pip/src/pages/editorial/index.page.tsx
  frontend/dods_pip/yarn.lock
Due: Test build Frontend, Frontend Build and Deploy

dod-739: unit test is refactored.
  services/collections/tests/unitTests/handlers/createCollection.test.ts
  services/collections/tests/unitTests/handlers/searchCollections.test.ts
  services/collections/tests/unitTests/handlers/updateCollection.test.ts
Due: none

dod-739: jest-mock package will be used instead of ts-jest/utils
  services/collections/tests/unitTests/repositories/CollectionRepository.test.ts
Due: none

dod-739: collection service bicbucket build pipeline is updated
  bitbucket-pipelines.yml
Due: none

dod-739: integration test and bitbucket pipeline is refactored
  bitbucket-pipelines.yml
  services/collections/tests/unitTests/handlers/searchCollections.test.ts
Due: none

dod-739: package-lock.json files are updated
  npm-packages/dods-domain/package-lock.json
  npm-packages/dods-repositories/package-lock.json
  services/collections/package-lock.json
Due: none

code refactored
  npm-packages/dods-repositories/package-lock.json
  npm-packages/dods-repositories/package.json
  npm-packages/dods-repositories/src/CollectionsRepository/index.ts
  services/collections/package-lock.json
  services/collections/src/handlers/createCollection/createCollection.http
  services/collections/src/handlers/searchCollections/request.http
Due: none

WIP Add default build script for non TS services
  bitbucket-pipelines.yml
  services/elasticsearch-manager/.ci/build.sh
  services/graphologi-integration/.ci/build.sh
  services/pandas-layer/.ci/build.sh
Due: Deploy Graphologi Webhook, Deploy Pandas Layer

WIP Fixed syntax error on pipeline
  bitbucket-pipelines.yml
Due: none

refactor published input
  services/editorial-workflow/package-lock.json
  services/editorial-workflow/src/handlers/publishEditorialRecord/publishEditorialRecord.ts
Due: Editorial Workflow Service, Editorial Workflow Deploy

Corrections needed to deploy 'collections'
  bitbucket-pipelines.yml
Due: none

bugfix: collections package-lock.json is update for dods-repositoris package
  services/collections/package-lock.json
Due: none

Fixed error on pipeline for collections
  bitbucket-pipelines.yml
Due: none

bugfix: collections stage is updated to dev
  services/collections/serverless.yml
Due: none

get document in editorial record endpoint UT completed and openApi
  services/editorial-workflow/serverless.yml
  services/editorial-workflow/src/domain/interfaces/DocumentServicePersister.ts
  services/editorial-workflow/src/handlers/getEditorialRecordDocument/getEditorialRecordDocument.ts
  services/editorial-workflow/src/handlers/getEditorialRecordDocument/index.ts
  services/editorial-workflow/src/openApi.yml
  services/editorial-workflow/src/repositories/DocumentServiceRepository.ts
  services/editorial-workflow/tests/unitTests/handlers/getEditorialRecordDocument.test.ts
Due: Editorial Workflow Service, Editorial Workflow Deploy

bugfix: collection deployment is fixed.
  npm-packages/dods-lambda/package-lock.json
  npm-packages/dods-lambda/package.json
  npm-packages/dods-model/.env.local
  npm-packages/dods-model/.npmignore
  npm-packages/dods-model/package-lock.json
  npm-packages/dods-model/package.json
  npm-packages/dods-repositories/package-lock.json
  npm-packages/dods-repositories/package.json
  services/boilerplate/package-lock.json
  services/boilerplate/package.json
  services/boilerplate/serverless.yml
  services/collections/package-lock.json
  services/collections/package.json
  services/collections/serverless.yml
Due: none

bugfix: build pipeline is updated for collections unit test bug
  bitbucket-pipelines.yml
  npm-packages/dods-model/package-lock.json
  npm-packages/dods-model/package.json
  services/collections/package-lock.json
  services/collections/package.json
Due: none

bugfix: unit test is disabled temporarily
  bitbucket-pipelines.yml
Due: none

Collections service: Move target of tests to dev environment
  services/collections/setEnvironmentVariablesForTest.js
Due: none

Collections: Attempt to create dods-dev profile on pipeline
  bitbucket-pipelines.yml
  services/collections/setEnvironmentVariablesForTest.js
Due: none

Re-enable tests for collections service
  bitbucket-pipelines.yml
Due: none

bug(DOD-1277): search bug
  frontend/dods_pip/src/pages/api/taxonomy/[...search].page.tsx
Due: Test build Frontend, Frontend Build and Deploy

bug(DOD-1276): collapsed height
  frontend/dods_pip/src/components/ContentTagger/ContentTagger.styles.tsx
Due: Test build Frontend, Frontend Build and Deploy

WIP custom job to deploy BE services to multi-envs
  bitbucket-pipelines.yml
Due: none

get alerts by collection missing openApi and UT
  npm-packages/dods-model/package-lock.json
  npm-packages/dods-model/package.json
  npm-packages/dods-model/src/db/index.ts
  npm-packages/dods-model/src/db/migrations/20220104000028-alter-dods_collections_alerts.ts
  npm-packages/dods-model/src/db/migrations/20220104000029-alter-dods_collections_alerts_queries.ts
  npm-packages/dods-model/src/db/models/CollectionAlert.ts
  npm-packages/dods-model/src/db/models/CollectionAlertQuery.ts
  package-lock.json
  services/collections/package-lock.json
  services/collections/package.json
  services/collections/serverless.yml
  services/collections/src/domain/interfaces/Collection.ts
  services/collections/src/domain/interfaces/CollectionAlertsPersister.ts
  services/collections/src/domain/interfaces/index.ts
  services/collections/src/handlers/getCollectionAlerts/getCollectionAlerts.ts
  services/collections/src/handlers/getCollectionAlerts/index.ts
  services/collections/src/repositories/CollectionAlertsRepository.ts
  services/collections/src/repositories/index.ts
  yarn.lock
Due: none

added iam permission for invoking lambda
  scrapping/contentMigration/stage3/serverless.yml
  services/client-account/serverless.yml
Due: Client Account Service, Deploy Scrapping Lambdas, Client Account Deploy

removed mistake
  services/client-account/serverless.yml
Due: Client Account Service, Client Account Deploy

Implement the dynamodb datamodel side, with dedupe checks, local filesystem
  scrapping/hansard-api/.gitignore
  scrapping/hansard-api/Pipfile
  scrapping/hansard-api/Pipfile.lock
  scrapping/hansard-api/README.md
  scrapping/hansard-api/config.ini
  scrapping/hansard-api/docker-compose.yml
  scrapping/hansard-api/docker/dynamodb/shared-local-instance.db
  scrapping/hansard-api/handler.py
  scrapping/hansard-api/hansard.py
  scrapping/hansard-api/lib
  scrapping/hansard-api/package-lock.json
  scrapping/hansard-api/package.json
  scrapping/hansard-api/requirements.txt
  scrapping/hansard-api/serverless.yml
  scrapping/hansard-api/templates
Due: Deploy Scrapping Lambdas

WIP on hansard API consumer
  scrapping/hansard-api/Pipfile
  scrapping/hansard-api/Pipfile.lock
  scrapping/hansard-api/hansard.py
Due: Deploy Scrapping Lambdas

Scaffold handler
  scrapping/hansard-api/handler.py
Due: Deploy Scrapping Lambdas

Drop debug
  scrapping/hansard-api/hansard.py
Due: Deploy Scrapping Lambdas

Path conditions:
  Test build Frontend: any of: frontend/dods_pip/**
  Deploy Graphologi Webhook: any of: services/graphologi-integration/**
  Deploy Pandas Layer: any of: services/pandas-layer/**
  Test Search Service: any of: services/search-service/**
  User Profile Service: any of: services/user-profile/**
  Client Account Service: any of: services/client-account/**
  Documents Service: any of: services/documents/**
  Editorial Workflow Service: any of: services/editorial-workflow/**
  Validate OpenAPI definitions: any of: api/**
  Deploy Scrapping Lambdas: any of: scrapping/**
  Auth-Authz Deploy: any of: services/dods-iam/**
  Search Service Deploy: any of: services/search-service/**
  User Profile Deploy: any of: services/user-profile/**
  Client Account Deploy: any of: services/client-account/**
  Documents Deploy: any of: services/documents/**
  Editorial Workflow Deploy: any of: services/editorial-workflow/**
  Frontend Build and Deploy: any of: frontend/dods_pip/**
  Taxonomy Service Deploy: any of: services/taxonomy-service/**
  Terraform Plan: any of: infrastructure-terraform/**
